{{ form_start(form, { 'attr' : { 'id' : 'invitationForm' } }) }}

<div class="col-md-6">

    {{ form_row(form.email) }}

    {{ form_row(form.firstName) }}

    {{ form_row(form.lastName) }}
</div>

{{ form_end(form) }}