{% extends 'JamWebBundle:Email:emailLayout.html.twig' %}

{% block email_body %}
    <h2>{{ 'email.you.have.been.invited'|trans }}</h2>

    <br />

    <p>{{ 'email.invitation.text'|trans }}</p>

    <br />

    <p>{{ 'email.invitation.text.invited.by'|trans }}</p>

    <div>
        <img style="float: left; padding-right: 10px;" src="{{ url('musician_avatar', { 'username': from.username, 'size': 'my_thumb' }) }}" />
        <h6 style="font-size:14px">{{ from.username }}</h6>
    </div>

    <br /><br />

    <a href="{{ url('home') }}?c={{ invitation.code }}" style="text-decoration: none; background-color: #FBBC09; color: #fff; padding: 5px 10px; font-size: 14px;">{{ 'email.accept.invitation'|trans }}</a>
{% endblock %}