{% extends 'JamWebBundle:Email:emailLayout.html.twig' %}

{% block email_body %}
    <h2>{% if invitation.firstName or invitation.lastName %} Hi {{ invitation.firstName }} {{ invitation.lastName }}. {% endif %} {{ 'email.you.have.been.invited'|trans }}</h2>

    <div>
        <img style="float: left; padding-right: 10px;" src="{{ url('musician_avatar', { 'username': from.username, 'size': 'my_thumb' }) }}" />
        <h6 style="font-size:14px">{{ from.username }}</h6>
    </div>

    <br />

    <p>You have been playing {{ member.instrument.name }} together in {{ jam.name }}. You can check it out <a target="_blank" href="{{ url('view_jam', { 'slug': jam.slug }) }}?c={{ invitation.code }}">here</a></p>

    <p>{{ 'email.invitation.text'|trans }}</p>

    <a href="{{ url('home') }}?c={{ invitation.code }}" style="text-decoration: none; background-color: #FBBC09; color: #fff; padding: 5px 10px; font-size: 14px;">{{ 'email.accept.invitation'|trans }}</a>
{% endblock %}