{% extends 'JamWebBundle:Email:emailLayout.html.twig' %}

{% block email_body %}

            <h3 style="font-family: Verdana, Geneva, sans-serif; font-size: 20px">{{ 'email.users.you.might.be.interested.in'|trans }}:</h3>

            <ul style="list-style-type: none; padding: 0px;">
            {% for user in users %}
                <li style="display: block;
                width: 100%;
                height: 150px;

                {% if (loop.index > 1) %}
                    border-top: 1px solid silver;
                {% endif %}

                ">

                    <a href="{{ url('musician_profile', {'username': user.username}) }}">
                        <div style="float: left; padding: 10px;">
                            <img src="{{ user.avatar | imagine_filter('my_medium_1') }}" />
                        </div>
                        <div style="float: left">

                            <h4 style="
                            font-size: 18px;
                            color: #000;
                            margin: 10px 0;
                                ">{{ user.username }}</h4>

                            <h5 style="
                            font-size: 14px;
                            color: #000;
                            margin: 5px 0; font-weight: normal;
                                ">{{ user.fullName }}</h5>

                            {% if user.location.getAdministrativeAreaLevel3 %}
                                <div style="color: #9998a7; font-size: 13px;">
                                    <i class="fa fa-map-marker"></i> {% if user.location.neighborhood %}{{ user.location.neighborhood }},{% endif %} {{ user.location.getAdministrativeAreaLevel3 }}
                                </div>
                            {% endif %}

                            <ul style="list-style-type: none; padding: 0; margin-top: 10px; ">
                                {% for g in user.genres %}
                                    <li style="font-size: 13px; color: #000; float: left; background: #fabc09; margin: 0 2px 4px 0; padding: 2px 7px 1px">{{ g.genre.name }}</li>
                                {% endfor %}
                            </ul>

                        </div>
                    </a>
                </li>
            {% endfor %}
            </ul>
{% endblock %}