{% if is_granted("ROLE_USER") %}

    <aside class="col-sm-2 sidebar">
        <div class="sidebar-inner">

            <div class="profile-info">
                <a href="{{ path('musician_profile', {'username': app.user.username}) }}">
                    <img class="user-image" src="{{ path('musician_avatar', { 'username': app.user.username, 'size': 'my_medium_1' }) }}" alt="Profile">
                </a>
                <h3 class="user-name">{{ app.user.username }}</h3>
                <a href="{{ path('fos_user_profile_edit') }}" class="link">edit profile</a>
            </div><!--profile-info begins-->

            <div class="sidebar-nav">
                <ul class="sidebar-list">
                    <li class="dashboard {% if app.request.attributes.get('_route') == 'home' %}active{% endif %}"><a href="{{ path('home') }}">Dashboard</a></li>
                    <li class="profile {% if app.request.attributes.get('_route') == 'musician_profile' %}active{% endif %}"><a href="{{ path('musician_profile', {'username': app.user.username}) }}">Profile</a></li>
                    <li class="messages {% if app.request.attributes.get('_route') == 'inbox' %}active{% endif %}"><a href="{{ path('inbox') }}" class="inbox"><span class="badge"></span>Messages</a></li>
                    <li class="settings last {% if app.request.attributes.get('_route') == 'fos_user_profile_edit' %}active{% endif %}"><a href="{{ path('fos_user_profile_edit') }}">Settings</a></li>
                </ul>
            </div><!--sidebar-nav ends-->

            <div class="sidebar-logout">
                <ul class="sidebar-list">
                    <li class="logout"><a href="{{ path('fos_user_security_logout') }}">Logout</a></li>
                </ul>
            </div>

        </div>
    </aside><!--sidebar ends-->

{% endif %}