{% if is_granted("ROLE_USER") %}

    <aside class="col-sm-2 sidebar">
        <div class="sidebar-inner">

            <div class="profile-info">
                <img class="user-image" src="{{ path('musician_avatar', { 'username': app.user.username, 'size': 'my_medium_1' }) }}" alt="Profile">
                <h3 class="user-name">{{ app.user.username }}</h3>
                <a href="#" class="link">edit profile</a>
            </div><!--profile-info begins-->

            <div class="sidebar-nav">
                <ul class="sidebar-list">
                    <li {% if app.request.attributes.get('_route') == 'home' %}class="active"{% endif %}><a href="{{ path('home') }}"><i class="glyphicon glyphicon-dashboard"></i>Dashboard</a></li>
                    <li {% if app.request.attributes.get('_route') == 'musician_profile' %}class="active"{% endif %}><a href="{{ path('musician_profile', {'username': app.user.username}) }}"><i class="glyphicon glyphicon-user"></i>Profile</a></li>
                    <li {% if app.request.attributes.get('_route') == 'inbox' %}class="active"{% endif %}><a href="{{ path('inbox') }}"><i class="glyphicon glyphicon-envelope"></i>Messages</a></li>
                    <li {% if app.request.attributes.get('_route') == 'fos_user_profile_edit' %}class="active"{% endif %}class="last"><a href="{{ path('fos_user_profile_edit') }}"><i class="glyphicon glyphicon-cog"></i>Settings</a></li>
                </ul>
            </div><!--sidebar-nav ends-->

            <div class="sidebar-logout">
                <ul class="sidebar-list">
                    <li><a href="{{ path('fos_user_security_logout') }}"><i class="glyphicon glyphicon-log-out"></i>Logout</a></li>
                </ul>
            </div>

        </div>
    </aside><!--sidebar ends-->

{% endif %}