{% extends 'JamWebBundle::layoutNoSidebar.html.twig' %}

{% block main_content %}

    {% form_theme form 'JamLocationBundle:Form:fields.html.twig' %}

    <div class="row messages-header">
        <div class="col-xs-12">
            <h1 class="title">{{ headline }}</h1>
        </div>
    </div>

    {{ form_start(form) }}

    <ul class="tabs-activate profile-tabs">
        <li><a href="#" data-tab="jam-info" class="is-active">{{ 'label.jam.info'|trans }}</a></li>
        <li><a href="#" data-tab="jam-music">{{ 'label.jam.music'|trans }}</a></li>
        {% if app.request.attributes.get('_route') == 'edit_jam' %}
            <li class="pull-right"><button type="submit" id="jam_save" name="jam[save]" class="btn btn-primary"><i class="fa fa-check"></i> {{ 'button.save'|trans }}</button></li>
        {% endif %}
    </ul>

    <div class="view-tab-container clearfix with-scrollbar">

        {# JAM INFO #}
        <div class="view-tab is-active" data-tab="jam-info">
            <div class="row">
                <div class="col-md-5">

                    {{ form_row(form.type) }}

                    {{ form_row(form.name, { 'attr': { 'placeholder': 'placeholder.band.name.for.example'|trans}}) }}

                    {{ form_row(form.description, { 'attr': { 'placeholder': 'placeholder.some.more.details'|trans}}) }}

                    <div class="form-group">
                        {{ form_label(form.location, 'Location'|trans, {'label_attr':{'class':'control-label'}}) }}
                        {{ form_errors(form.location) }}
                        <div>
                            {{ form_widget(form.location) }}
                        </div>
                    </div>

                    {{ form_row(form.stage) }}

                    {{ form_row(form.instruments, { 'attr': { 'placeholder': 'placeholder.add.an.instrument'|trans }}) }}

                    {% if app.request.attributes.get('_route') == 'edit_jam' %}
                        <div class="form-group">
                            {{ form_label(form.status) }}
                            {{ form_widget(form.status) }}
                        </div>
                    {% endif %}

                    {{ form_widget(form._token) }}
                </div>

                <div class="col-md-7">

                    {{ form_row(form.genres, { 'id' : 'fos_user_profile_form_genres' }) }}

                    <div class="form-group">
                        {{ form_label(form.artists) }}
                        {{ form_widget(form.artists, { 'id': 'fos_user_profile_form_artists', 'attr': { 'placeholder': 'placeholder.choose.artists'|trans}}) }}
                        {{ form_errors(form.artists) }}
                    </div>

                    <label>{{ 'label.jam.current.members'|trans }}</label>

                    <div id="jam_musician_instruments">

                        {% for f in form.members %}
                            {% if f.musician.vars.value is not empty %}

                                <div class="row">
                                    <div class="col-md-6">
                                        {% if f.musician.vars.value == app.user.id %}
                                            {{ form_widget(f.musician, { 'attr': { 'readonly' : 'true' }}) }}
                                        {% else %}
                                            {{ form_widget(f.musician) }}
                                        {% endif %}
                                    </div>

                                    <div class="col-md-6 add-invitee hidden">
                                        {{ form_widget(f.invitee) }}
                                    </div>

                                    <div class="col-md-5">
                                        {{ form_widget(f.instrument) }}
                                    </div>

                                    {% if f.musician.vars.value != app.user.id %}
                                        <div class="col-md-1 col-sm-1 col-xs-1" style="padding: 10px 0 0 0">
                                            <a href="" class="remove-member text-danger" title="remove"><i class="fa fa-times"></i></a>&nbsp;
                                        </div>
                                    {% endif %}
                                </div>
                            {% endif %}
                            {% if f.invitee.vars.value is not empty and f.musician.vars.value is empty %}
                                <div class="row">
                                    <div class="col-md-6 add-invitee">
                                        {{ form_widget(f.invitee) }}
                                    </div>
                                    <div class="col-md-5">
                                        {{ form_widget(f.instrument) }}
                                    </div>
                                    <div class="col-md-1 col-sm-1 col-xs-1" style="padding: 10px 0 0 0">
                                        <a href="" class="remove-member text-danger" title="remove"><i class="fa fa-times"></i></a>&nbsp;
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>

                    <br />
                    <div class="row">
                        <div class="form-group add-jam-member-controls">
                            <div class="col-md-6">
                                <a href="" data-placement="top" data-container="body" data-trigger="hover" data-content="{{ 'jam.who.else.is.playing'|trans }}" data-toggle="popover" class="btn btn-primary" id="add_jam_member"><i class="fa fa-user-plus" aria-hidden="true"></i> {{ 'button.jam.add.member'|trans }}</a>
                            </div>
                            <div class="col-md-6">
                                <a href="" data-placement="top" data-trigger="hover" data-content="{{ 'jam.invite.member.text'|trans }}" data-toggle="popover" class="btn btn-primary" id="invite_jam_member"><i class="fa fa-users" aria-hidden="true"></i> {{ 'button.jam.invite.member'|trans }}</a>
                            </div>
                        </div>
                    </div>

                    <br /><br />

                    <div class="alert alert-info" role="alert">{{ 'jam.invite.member.info'|trans }}</div>
                </div>

                {% if app.request.attributes.get('_route') == 'start_jam' %}
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group col-md-3">
                                <ul class="tabs-activate">
                                    <a href="#" data-tab="jam-music" class="btn btn-primary"><i class="fa fa-angle-double-right"></i> {{ 'button.next'|trans }}</a>
                                </ul>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>

        {# MUSIC INFO #}
        <div class="view-tab" data-tab="jam-music">

            <div class="row">
                {# VIDEOS #}
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-4 col-xs-12">
                            <a href="#" id="add_another_video" data-jam="1" class="btn btn-primary add-another-video">
                                <i class="fa fa-youtube-play"></i>
                                {{ 'label.add.video'|trans }}
                            </a>
                        </div>
                        <br /><br />

                        <div class="col-md-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title"><i class="fa fa-youtube" aria-hidden="true"></i> {{ 'label.videos'|trans }}</h3>
                                </div>
                                <div class="panel-body">

                                    <ul id="musician_videos">
                                        {% for v in form.vars.value.videos %}
                                            <li data-id="{{ v.id }}" class="ytvideo-holder">
                                                <a class="ytvideo" rel="group" href="{{ v.url }}&autoplay=1&showinfo=0&controls=1">
                                                    <span class="play-icon"></span>
                                                    <img src="" height="160" width="260" />
                                                </a>
                                                <a href="" class="remove-video action-confirm" title="remove"><i class="fa fa-times"></i> {{ 'label.remove'|trans }}</a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">

                        <div class="col-md-4 col-xs-12">
                            <a href="#" id="add_another_soundcloud_track" class="btn btn-primary add-another-video">
                                <i class="fa fa-youtube-play"></i>
                                {{ 'label.add.sound'|trans }}
                            </a>
                        </div>
                        <br /><br />

                        <div class="col-md-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title"><i class="fa fa-soundcloud" aria-hidden="true"></i> {{ 'label.sounds'|trans }}</h3>
                                </div>
                                <div class="panel-body">

                                    <ul id="soundcloud_tracks">
                                        {% for v in form.vars.value.soundcloudTracks %}
                                            <li data-id="{{ v.id }}">
                                                <iframe id="sc_track_{{ v.id }} " width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url={{ v.url }}"></iframe>
                                                <a href="" class="remove-soundcloud-track action-confirm" title="remove"><i class="fa fa-times"></i> Remove</a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {% if app.request.attributes.get('_route') == 'start_jam' %}
                <div class="row">
                    <div class="form-group col-md-3 col-xs-12">
                            <button type="submit" id="jam_save" name="jam[save]" class="btn btn-primary"><i class="fa fa-check"></i> {{ 'button.request.submit'|trans }}</button>
                    </div>
                </div>
            {% endif %}
        </div>

    </div>

    </form>

{% endblock main_content %}

{% block bottom_javascripts %}

    {% javascripts
    'vendor/leaflet-dist/leaflet.js'
    'vendor/jquery-alphanum/jquery.alphanum.js'
    'assets/js/settings.js'
    '@JamLocationBundle/Resources/public/location.js'
    filter='?uglifyjs2'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

{% endblock %}