{% extends '::base.html.twig' %}

{% block body %}

    {{ form_start(form) }}

    <div class="col-md-6">

        {{ form_row(form.name) }}

        {{ form_row(form.members_count) }}

        <p>Genres: </p>
        {{ form_row(form.genres) }}

        {{ form_widget(form._token) }}
        {{ form_row(form.save) }}

    </div>

{% endblock %}