{% extends 'JamWebBundle::layoutNoSidebar.html.twig' %}

{% block main_content %}

    {% form_theme form 'JamLocationBundle:Form:fields.html.twig' %}

    {{ form_start(form) }}

    <div class="col-md-12">
        <h2>Create a new Jam</h2>
    </div>

    <div class="col-md-6">

        {{ form_row(form.name) }}

        {{ form_row(form.type) }}

        {{ form_row(form.status) }}

        <div class="form-group">
            {{ form_label(form.location, 'Location'|trans, {'label_attr':{'class':'control-label'}}) }}
            <span class="glyphicon glyphicon-info-sign info-popover" data-placement="bottom" data-toggle="popover" data-trigger="hover" data-content="{{ 'info.settings.location'|trans }}"></span>
            {{ form_errors(form.location) }}
            <div>
                {{ form_widget(form.location) }}
            </div>
        </div>

        {{ form_row(form.genres, { 'id' : 'fos_user_profile_form_genres' }) }}

        <div class="form-group">
            {{ form_label(form.artists) }}
            <select id="fos_user_profile_form_artists" name="jam[artists][]" class="form-control" multiple></select>
        </div>

        {{ form_row(form.instruments) }}

        {{ form_widget(form._token) }}

        {{ form_row(form.save) }}

    </div>

    <div class="col-md-6">
        {{ form_row(form.description) }}

        <label>Current members</label>

        <div class="alert alert-info" role="alert">If the user is not on Jamifind just type his email address and he will be invited.</div>

        <ul id="jam_musician_instruments">

            {% for f in form.members %}
                <li class="row">

                    <div class="col-md-6">
                        {% if f.musician.vars.value == app.user.id %}
                            {{ form_widget(f.musician, { 'attr': { 'readonly' : 'true' }}) }}
                        {% else %}
                            {{ form_widget(f.musician) }}
                        {% endif %}
                    </div>

                    <div class="col-md-5">
                        {{ form_widget(f.instrument) }}
                    </div>
                </li>
            {% endfor %}
        </ul>
        <br /><br />
        <a href="" class="btn btn-primary" id="add_jam_member">Add member</a>
    </div>


{% endblock main_content %}

{% block bottomstylesheets %}
    {% stylesheets
    'vendor/Jcrop/css/jquery.Jcrop.css'
    'vendor/fancybox/source/jquery.fancybox.css'
    filter='cssrewrite' filter='?uglifycss'
    %}
    <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}
{% endblock %}

{% block bottom_javascripts %}

    {% javascripts
    'vendor/leaflet-dist/leaflet.js'
    'vendor/blueimp-file-upload/js/vendor/jquery.ui.widget.js'
    'vendor/blueimp-load-image/js/load-image.all.min.js'
    'vendor/blueimp-canvas-to-blob/js/canvas-to-blob.js'
    'vendor/blueimp-file-upload/js/jquery.iframe-transport.js'
    'vendor/blueimp-file-upload/js/jquery.fileupload.js'
    'vendor/blueimp-file-upload/js/jquery.fileupload-process.js'
    'vendor/blueimp-file-upload/js/jquery.fileupload-image.js'
    'vendor/Jcrop/js/jquery.Jcrop.js'
    'vendor/jquery-alphanum/jquery.alphanum.js'
    'assets/js/upload-photos.js'
    'vendor/fancybox/lib/jquery.mousewheel-3.0.6.pack.js'
    'vendor/fancybox/source/jquery.fancybox.pack.js'
    'assets/js/settings.js'
    '@JamLocationBundle/Resources/public/location.js'
    filter='?uglifyjs2'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

{% endblock %}