{% extends '::base.html.twig' %}

{% block body %}

    {{ form_start(form) }}

    <div class="col-md-6">

        {{ form_row(form.name) }}

        {{ form_row(form.description) }}

        {{ form_row(form.members_count) }}

        {{ form_row(form.genres) }}

        <ul id="jam_members" data-prototype="{{ form_widget(form.jamMembers.vars.prototype)|e }}" data-index="{{ form.jamMembers|length }}">
            {% for jm in form.jamMembers %}
                <li>
                    {{ form_errors(jm) }}
                    {{ form_widget(jm) }}
                </li>
            {% endfor %}
        </ul>

        <a href="#" id="add_another_member" class="btn bnt-default">Add another member</a>

        {{ form_widget(form._token) }}

        {{ form_errors(form) }}

        {{ form_row(form.save) }}

    </div>

{% endblock %}