{% extends 'JamWebBundle::layout.html.twig' %}

{% block main_content %}

    <div class="row">
        <div class="col-md-12">
            <ul class="profile-tabs">
                <li><a href="{{ path('jams') }}" {% if app.request.attributes.get('_route') == 'jams' %}class="is-active"{% endif %}>{{ 'text.all.jams'|trans }}</a></li>
                <li><a href="{{ path('my_jams') }}" {% if app.request.attributes.get('_route') == 'my_jams' %}class="is-active"{% endif %}>{{ 'text.my.jams'|trans }}</a></li>
                <li><a href="{{ path('my_interest_jams') }}" {% if app.request.attributes.get('_route') == 'my_interest_jams' %}class="is-active"{% endif %}>{{ 'text.interested'|trans }}</a></li>
                <li class="hidden-xs pull-right"><a href="{{ path('start_jam') }}" id="start-jam-btn" class="btn btn-primary"><i class="fa fa-rocket" aria-hidden="true"></i> {{ 'text.start.new.jam'|trans }}</a></li>
            </ul>
        </div>

        <div class="visible-xs col-xs-12">
            <a href="{{ path('start_jam') }}" id="start-jam-btn" class="btn btn-primary"><i class="fa fa-rocket" aria-hidden="true"></i> {{ 'text.start.new.jam'|trans }}</a>
            <br /><br />
        </div>
    </div>

    <div class="view-tab-container with-scrollbar">
        <div class="row view-tab is-active">
            <div>
                {% for j in jams %}
                    <div class="single-jam single-jam-list">
                        <div class="row" style="padding: 15px;">
                            <div class="col-md-4">
                                <span class="jam-type">{{ j.type|jam_type_to_string }}</span>
                                <span class="pull-right visible-xs">{{ j.createdAt | date('d M Y') }}</span>
                                <h2><a href="{{ path('view_jam', {'slug': j.slug }) }}">{{ j.name }}</a></h2>

                                {% if j.location %}
                                    {% if j.location.getAdministrativeAreaLevel3 %}
                                        <div class="location">
                                            <i class="fa fa-map-marker"></i> {% if j.location.neighborhood %}{{ j.location.neighborhood }},{% endif %} {{ j.location.getAdministrativeAreaLevel3 }}
                                        </div>
                                    {% endif %}
                                {% endif %}

                                <ul class="tags">
                                    {% for g in j.genres %}
                                        <li><a href="{{ path('musicians', {'genres' : g.id }) }}">{{ g.name }}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>

                            <div class="col-md-8 jam-members-container clearfix">
                                <span class="pull-right hidden-xs">{{ j.createdAt | date('d M Y') }}</span>
                                <ul class="members-list">
                                    {% for m in j.existingMembers %}
                                        {% if loop.index < 5 %}
                                            {% if m.musician is not null %}
                                                <li class="member">
                                                    <a href="{{ path('musician_profile', { 'username': m.musician.username }) }}">
                                                        <img src="{{ m.musician.avatar | imagine_filter('my_medium_1') }}" />
                                                        <h4 class="name">
                                                            {% if m.musician.firstName or m.musician.lastName %}
                                                                {{ m.musician.firstName }}<br />{{ m.musician.lastName }}
                                                            {% else %}
                                                                {{ m.musician.username }}
                                                            {% endif %}</h4></a>
                                                    <p class="member-instrument">{{ m.instrument.name }}</p>
                                                </li>
                                            {% endif %}
                                            {% if m.invitee is not null %}
                                                <li class="member invited-member" data-toggle="tooltip" title="{{ 'label.pending.invitation'|trans }}" data-placement="right">
                                                    <a href="#">
                                                        <img src="{{ asset('assets/images/placeholder-user.png') | imagine_filter('my_medium_1') }}" />
                                                        <h4 class="name">{{ m.invitee.firstName }}<br />{{ m.invitee.lastName }}</h4></a>
                                                    <p class="member-instrument">{{ m.instrument.name }}</p>
                                                </li>
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                                {% if j.existingMembers|length > 4 %}
                                    <div class="pull-right" style="margin-top: 35px;">+ {{ j.existingMembers|length - 4 }} more</div>
                                {% endif %}
                            </div>
                        </div>

                        <div class="row" style="padding: 15px 0;margin: 0; background: #F3F3F3;">
                            <div class="clearfix">
                                <div class="col-md-8 col-xs-12">
                                    <label>{{ 'text.looking.for.someone.who.play'|trans }}:</label>
                                    <ul class="tags">
                                        {% for m in j.instruments %}
                                            <li>{{ m.instrument.name }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                <div class="col-md-4 col-xs-12">
                                    <p class="pull-right">
                                        <i class="fa fa-users" aria-hidden="true"></i> {{ j.interests|length }} {{ 'text.people.interested'|trans }}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}

                {% if jams|length == 0 %}
                    <div class="col-md-12">
                        <div class="alert alert-info" role="alert">No content in this category currently.</div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}

{% block right_sidebar_content %}

    {% include "JamWebBundle:Common:completion.html.twig" %}

    {{ render(controller('JamWebBundle:Shouts:shouts' )) }}

{% endblock %}

{% block bottom_javascripts %}

    {% javascripts
    'assets/js/filter.js'
    '@JamWebBundle/Resources/public/js/shout.js'
    filter='?uglifyjs2'
    %}

    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
