{% extends 'JamWebBundle::layoutNoSidebar.html.twig' %}

{% block main_content %}

    <div class="row messages-header">
        <div class="col-xs-12">
            <h1 class="title">{{ 'text.jam.name'|transchoice(jam.name)|desc('Jam name: %jam.name%') }}</h1>
        </div>
    </div>

    <br />

    <div class="row">
        <div class="col-md-12">
            <div class="col-md-6">

                <p>Created at: {{ jam.createdAt | date('Y-m-d') }}</p>

                {% if jam.location %}
                    {% if jam.location.getAdministrativeAreaLevel3 %}
                        <div class="location">
                            <i class="fa fa-map-marker"></i> {% if jam.location.neighborhood %}{{ jam.location.neighborhood }},{% endif %} {{ jam.location.getAdministrativeAreaLevel3 }}
                        </div>
                    {% endif %}
                {% endif %}

                <h3>{{ 'text.looking.for.instruments'|trans }}:</h3>

                <ul class="tags jam-instrument-tags">
                    {% for m in jam.members %}
                        {% if m.musician is null %}
                            <li>{{ m.instrument.name }}</li>
                        {% endif %}
                    {% endfor %}
                </ul>

                <div class="jam-description-container">
                    <h3>{{ 'text.description'|trans }}:</h3>

                    <p>{{ jam.description|default('text.no.description'|trans) }}</p>
                </div>

                <div class="clearfix"></div>

                <h3>{{ 'text.genres'|trans }}:</h3>

                {% if jam.genres|length > 0 %}
                    <ul class="tags">
                        {% for j in jam.genres %}
                            <li>{{ j.name }}</li>
                        {% endfor %}
                    </ul>
                {% else %}
                    {{ 'text.none'|trans }}
                {% endif %}

                <h3>{{ 'text.sounds.like'|trans }}:</h3>

                {% if jam.artists|length > 0 %}
                    <ul class="tags">
                        {% for j in jam.artists %}
                            <li>{{ j.name }}</li>
                        {% endfor %}
                    </ul>
                {% else %}
                    {{ 'text.none'|trans }}
                {% endif %}

                <hr />

                {% if is_granted("ROLE_USER") and app.user != jam.creator %}
                    <div class="row">
                        <div class="col-md-4">
                            <a href="" class="btn btn-default"><i class="fa fa-thumbs-up" aria-hidden="true"></i> INTERESTED</a>
                        </div>
                        <div class="col-md-4">
                            <a href="#" class="btn btn-primary open-conversation" data-user-id="{{ jam.creator.id }}" data-user="{{ jam.creator.username }}"><i class="glyphicon glyphicon-envelope"></i><span>{{ 'button.message'|trans }}</span></a>
                        </div>
                    </div>
                {% endif %}

            </div>

            <div class="col-md-6">

                <div class="panel panel-default jam-members-container">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-users" aria-hidden="true"></i> Current members</h3>
                    </div>
                    <div class="panel-body">
                        <ul class="members-list">
                            {% for m in jam.members %}
                                {% if m.musician is not null %}
                                    <li class="member">
                                        <ul class="tags">
                                            <li>{{ m.instrument.name }}</li>
                                        </ul>
                                        <a href="{{ path('musician_profile', { 'username': m.musician.username }) }}">
                                            <img src="{{ m.musician.avatar | imagine_filter('my_thumb') }}" />
                                            {{ m.musician.fullName }}</a>
                                    </li>
                                {% endif %}
                                {% if m.invitee is not null %}
                                    <li class="member invited-member" data-toggle="tooltip" title="Pending invitation" data-placement="right">
                                        <ul class="tags">
                                            <li>{{ m.instrument.name }}</li>
                                        </ul>
                                        <a href="#">
                                            <img src="{{ asset('assets/images/placeholder-user.png') | imagine_filter('my_thumb') }}" />
                                            {{ m.invitee.firstName }} {{ m.invitee.lastName }}</a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>

                <div class="panel panel-default jam-videos-container">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{ 'label.videos'|trans }}</h3>
                    </div>
                    <div class="panel-body">

                        {% if jam.videos|length == 0 %}
                            <p>{{ 'label.no.videos'|trans }}</p>
                        {% endif %}

                        {% for v in jam.videos %}
                            <div class="ytvideo-holder">
                                <a class="ytvideo" rel="group" href="{{ v.url }}&autoplay=1&showinfo=0&controls=1">
                                    <span class="play-icon"></span>
                                    <img src="" height="160" width="260" />
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

        </div>
    </div>

{% endblock %}
