{% extends 'JamWebBundle::layoutNoSidebar.html.twig' %}

{% block main_content %}

    <div class="col-md-12">

        <h2>{{ 'text.jam.name'|transchoice(jam.name)|desc('Jam name: %jam.name%') }}</h2>

        <div class="col-md-6">

            <h3>{{ 'text.description'|trans }}:</h3>

            <p>{{ jam.description }}</p>

            <div class="clearfix"></div>

            <h3>{{ 'text.genres'|trans }}:</h3>

            <ul>
                {% for j in jam.genres %}
                    <li>{{ j.genre.name }}</li>
                {% endfor %}
            </ul>

        </div>

        <div class="col-md-6">

        </div>

    </div>

{% endblock %}
