<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap -->
        <link href="{{ asset('/css/bootstrap.css') }}" rel="stylesheet" media="screen">
        <link href="{{ asset('/css/select2.css') }}" rel="stylesheet"/>

        <!-- HTML5 Shim and Respond.js add IE8 support of HTML5 elements and media queries -->
        {% include 'BraincraftedBootstrapBundle::ie8-support.html.twig' %}

        <style>

            body {
                background-color: #EEEEEE;
                padding-bottom: 40px;
                padding-top: 60px;
            }

        </style>
    </head>
    <body>

    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="{{ path('home') }}">Jam With Me</a>
            </div>
                <ul class="nav navbar-nav navbar-left">
                    <li><a href="{{ path('musicians') }}">Musicians</a></li>
                    <li><a href="{{ path('jams') }}">Jams</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li {% if app.request.attributes.get('_route') == 'home' %}class="active"{% endif %}><a href="{{ path('home') }}">Home</a></li>
                    {% if is_granted("ROLE_USER") %}
                        <li><a href="">Logged in as: {{ app.user.username }}</a></li>
                        <li {% if app.request.attributes.get('_route') == 'fos_user_profile_edit' %}class="active"{% endif %}><a href="{{ path('fos_user_profile_edit') }}">My Profile</a></li>
                        <li {% if app.request.attributes.get('_route') == 'start_jam' %}class="active"{% endif %}><a href="{{ path('start_jam') }}">Start a jam</a></li>
                        <li {% if app.request.attributes.get('_route') == 'fos_user_security_logout' %}class="active"{% endif %}><a href="{{ path('fos_user_security_logout') }}">Logout</a></li>
                    {% else %}
                        <li {% if app.request.attributes.get('_route') == 'fos_user_security_login' %}class="active"{% endif %}><a href="{{ path('fos_user_security_login') }}">Login</a></li>
                        <li {% if app.request.attributes.get('_route') == 'fos_user_registration_register' %}class="active"{% endif %}><a href="{{ path('fos_user_registration_register') }}">Register</a></li>
                    {% endif %}
                </ul>
        </div>
    </div>

    <div class="container">

        {% for flashMessage in app.session.flashbag.get('success') %}
            <div class="flash-message alert alert-success">
                <em>{{ flashMessage }}</em>
            </div>
        {% endfor %}

        {% for flashMessage in app.session.flashbag.get('error') %}
            <div class="flash-message alert alert-danger">
                <em>{{ flashMessage }}</em>
            </div>
        {% endfor %}

        {% block body %}{% endblock %}
        {% block fos_user_content %}
        {% endblock fos_user_content %}
    </div>
        <!-- jQuery (necessary for Bootstraps JavaScript plugins) -->
        <script src="https://code.jquery.com/jquery.js"></script>
        <script src="{{ asset('/js/select2.min.js') }}"></script>
        <!-- Include all JavaScripts, compiled by Assetic -->
        <script src="{{ asset('/js/bootstrap.js') }}"></script>
        <script src="http://maps.googleapis.com/maps/api/js?sensor=false&amp;language=en"></script>
        <script src="{{ asset('/js/vendor/bootstrap-typeahead.js') }}"></script>
        <script src="{{ asset('/js/vendor/jquery-ui.min.js') }}"></script>
        <script src="{{ asset('bundles/jamlocation/jquery.ui.addresspicker.js') }}"></script>
        <script src="{{ asset('bundles/jamlocation/location.js') }}"></script>
        {% block javascripts %}{% endblock %}

    <script>

        jQuery(document).ready(function() {
            $("#fos_user_profile_form_instruments, #fos_user_registration_form_instruments").select2({
                placeholder: 'What do you play?'
            });

            $("#fos_user_profile_form_genres, #form_genres, #fos_user_registration_form_genres").select2({
                placeholder: 'Whats music do you play?'
            });
        });

        var imagesCollectionHolder = $('#user_images');

        jQuery(document).ready(function() {
            {% if form is defined and form.vars.valid %}
            if($("#ad_images").data('index')==0){
                addCollectionForm(imagesCollectionHolder, 'images');
            }

            {% endif %}

            $(document).on('change', "#ad_images input[type=file]", function(){
                readURL(this);
            });

            $("#add_another_image").click(function(e){
                e.preventDefault();
                addCollectionForm(imagesCollectionHolder, 'images');
            });

            $(document).on('click', '.make-primary-image', function(){
                $('.make-primary-image').attr('checked', false);
                $(this).prop('checked', true).attr('checked', true);
            });

            $(document).on('click', '.remove-image', function(){
                $(this).parents('.image-holder').remove();
                imagesCollectionHolder.data('index', imagesCollectionHolder.data('index') - 1);
                $("#add_another_image").show();
            });

            $(".price-type").click(function(){
                $('.price-type').attr('checked', false);
                $(this).prop('checked', true).attr('checked', true);
                $("#ad_price").val('');
            });

            $("#ad_images .image-holder input[type=radio]").after("<span></span>");

        });

        function addCollectionForm(collectionHolder, type) {
            var prototype = collectionHolder.data('prototype');
            var index = collectionHolder.data('index');
            if(index>=8){
                $("#add_another_image").hide();
                return false;
            }
            var newForm = prototype.replace(/__name__/g, index);
            //for images only
            if(type == 'images') {
                newForm = $(newForm).addClass('image-holder col-lg-4 text-center');
                newForm.find('.make-primary-image').parent().hide();
                newForm.find("input[type=radio]").after("<span></span>");
            }

            // increase the index with one for the next item
            collectionHolder.data('index', index + 1);
            collectionHolder.append(newForm);
        }

        function readURL(input) {
            if (input.files && input.files[0]) {
                if(input.files[0].size>3000000){
                    alert('{{ 'Photo is too big. Please upload a file that is less than 3MB'|trans }}');
                    $(input).val(null);
                    return false;
                }
                var image  = new Image();
                var reader = new FileReader();
                reader.readAsDataURL(input.files[0]);
                reader.onload = function (e) {
                    //parent parent is stupid

                    image.src    = e.target.result;
                    image.onload = function() {
                        var w = this.width,
                                h = this.height;

                        if(w<320 || h<190){
                            alert('{{ 'Please choose a picture larger than 320x190'|trans }}');
                            $(input).val('');
                            return false;
                        }

                        var image_holder = $(input).parents('.image-holder');
                        image_holder.find('img').attr('src', e.target.result);
                        image_holder.find('.make-primary-image').parent().show();
                        image_holder.find('.remove-image').show();
                        image_holder.find('.upload').hide();
                        if($('.image-preview').length==1){
                            image_holder.find('.make-primary-image').prop('checked', true).attr('checked', true);
                        }
                    };
                }
            }
        }

    </script>

    </body>
</html>