<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>{% block title %}Jamifind | find musicians near you{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    {% block stylesheets %}
        {% stylesheets
        'vendor/font-awesome/css/font-awesome.css'
        'vendor/select2/select2.css'
        'vendor/perfect-scrollbar/css/perfect-scrollbar.css'
        'vendor/jquery-ui/themes/base/jquery-ui.css'
        'vendor/leaflet-dist/leaflet.css'
        'vendor/leaflet.markercluster/dist/MarkerCluster.css'
        'vendor/leaflet.markercluster/dist/MarkerCluster.Default.css'
        filter='cssrewrite' filter='?uglifycss'
        %}
        <link rel="stylesheet" href="{{ asset_url }}">
        {% endstylesheets %}
    {% endblock %}

    <link rel="stylesheet" href="{{ asset('assets/css/styles.css') }}">

    {% block bottomstylesheets %}{% endblock %}

    <style>
        {# TODO: move this to css files#}

        a {
            color: #3b385e;
        }

        .people-grid .people-info {
            padding: 10px 10px 5px 10px;
        }

        .people-grid .people-info .tags{
            height: 44px;
        }

        .people-grid .people-info .name{
            padding-right: 20px;
        }

        .ytvideo:hover {
            text-decoration: none;
        }

        .ytvideo-holder{
            position: relative;
            display: block;
            float: left;
            padding: 2px;
        }

        .play-icon {
            position: absolute;
            left: 43%;
            top: 29%;
            width: 0;
            height: 0;
            border-top: 30px solid transparent;
            border-bottom: 30px solid transparent;
            border-left: 50px solid silver;
            opacity: 0.6;
            cursor: pointer;
            display: none;
        }

        .ytvideo:hover .play-icon {
            display: inline-block;
        }

        header {
            border-bottom: 3px solid #FBBC09;
        }

        #actionConfirmModal {
            z-index: 99999999;
        }

        #subscribeToSearch{
            width: 300px;
            margin-top: 5px;
        }

    </style>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
    <script src="{{ node_server }}/socket.io/socket.io.js"></script>

    <script>
        var baseURL = '{{ app.request.getBaseURL() }}';
        var _user = {};
        {% if is_granted("ROLE_USER") %}
            var _username = '{{ app.user.username }}';
            _user.username = '{{ app.user.username }}';
            _user.id = '{{ app.user.id }}';
            _user.lat = '{{ app.user.location.lat|default('') }}';
            _user.lng = '{{ app.user.location.lng|default('') }}';
            _user.temporaryLocation = '{{ app.user.location.isTemporary|default('') }}';
            _user.avatar = '{{ path('musician_avatar', { 'username': app.user.username, 'size': 'my_thumb' }) }}';

            var socket = new io.connect('{{ node_server }}', {
                'reconnection' : false
            });

            {% if app.user %}
                socket.on('registerConnectedUser', function () {
                    socket.emit('registerUserData', { 'sessionId': '{{ app.session.id }}' });
                });
            {% endif %}

        {% endif %}
    </script>

</head>
<body class="{% block bodyclasses %}{% endblock %}" style="{% block bodystyle %}background-image: url({{ asset('assets/images/background-dashboard.jpg') }}){% endblock %}">

<header>
    <div class="container-fluid">

        <div class="row">

            <div class="col-xs-2 visible-xs visible-sm">
                <button class="navbar-toggle" type="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div><!--menu button-->

            <div class="col-xs-8 col-md-9">
                <div class="navbar-brand">
                    <a href="{{ path('home') }}"><img src="{{ asset('assets/images/logo.png') }}" alt="Logo"></a>
                    <span class="outer"><span>BETA</span> <!--Bringing Musicians Together--></span>
                </div>
            </div>

            {% if is_granted("ROLE_USER") %}

                <div class="col-xs-2 visible-xs visible-sm">
                    <button class="btn search-toggle" type="button"><i class="glyphicon glyphicon-search"></i></button>
                </div><!--search-toggle-->

                <div class="col-md-3 search-block-container">
                    <div class="input-group search-block">
                        <input type="text" id="autocomplete" class="form-control" placeholder="SEARCH" autocomplete="off" />
                        <span class="hidden-xs hidden-sm input-group-btn">
                            <button class="btn btn-default" type="button"><i class="glyphicon glyphicon-search"></i></button>
                        </span>
                    </div><!-- /input-group -->
                </div><!--search-block-container-->

            {% endif %}
        </div>

    </div>
</header><!--header ends-->

<div class="container-fluid">
    <div class="row">
        {% if is_granted("ROLE_USER") %}
            {% if not app.user.location or app.user.location.isTemporary %}
                <div class="flash-message col-xs-12 no-location-message">
                    <div class="warning alert-warning">
                        Please <a href="{{ path('fos_user_profile_edit') }}">set your location</a> in order to be able to search people around you.
                    </div>
                </div>
            {% endif %}
        {% endif %}

        <div class="fixed-alerts-container col-xs-12"></div>

        {% block body %}{% endblock %}

    </div>
</div>

<div class="conversation">

    <div class="conversation-close clearfix">
        <a href="#" class="close-link"><i class="glyphicon glyphicon-remove"></i>close conversation</a>
    </div>
    <!--conversation-close ends-->

    <div class="conversation-new">
        <input type="text" class="form-control autocomplete" placeholder="+ Type a name">
    </div>

    <div class="conversation-container conversation-message-box"></div>
    <!--conversation-container ends-->

    <div class="conversation-send">
        <form role="form">
            <textarea class="form-control send-message" rows="3" placeholder="Write message" maxlength="1000"></textarea>
            <button type="submit" class="btn btn-primary send-message-btn"><i class="fa fa-paper-plane"></i> Send</button>
        </form>
    </div>
    <!--conversation-send ends-->

</div><!--conversation ends-->


{% block javascripts %}

    {% javascripts
    'vendor/jquery/jquery.js'
    'vendor/select2/select2.js'
    'vendor/bootstrap/dist/js/bootstrap.js'
    'vendor/bootstrap3-typeahead/bootstrap3-typeahead.js'
    'vendor/jquery-ui/ui/jquery-ui.js'
    'vendor/underscore/underscore.js'
    'vendor/isotope/dist/isotope.pkgd.js'
    'vendor/imagesloaded/imagesloaded.js'
    'vendor/perfect-scrollbar/js/perfect-scrollbar.jquery.js'
    '@JamWebBundle/Resources/public/js/helpers.js'
    filter='?uglifyjs2'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>

    <script src="http://connect.soundcloud.com/sdk.js"></script>
    <script src="https://w.soundcloud.com/player/api.js"></script>

    {% for fm in app.session.flashbag.get('success') %}
    <script> $(function () { addMessage('success', '{{ fm }}'); });</script>
    {% endfor %}

    {% for fm in app.session.flashbag.get('info') %}
    <script> $(function () { addMessage('info', '{{ fm }}', false); });</script>
    {% endfor %}

{% endblock %}


{% block bottom_javascripts %}{% endblock %}

<script src="{{ asset('assets/js/templates.js') }}"></script>
<script src="{{ asset('assets/js/main.js') }}"></script>
<script src="{{ asset('assets/js/messaging.js') }}"></script>

</body>
</html>
