<!DOCTYPE html>
<html lang="{{ app.request.locale | default('en') }}">
<head>
    <title>{{ page.title|default('text.title'|trans) }}</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="{{ 'text.meta.description'|trans }}">

    <!--mobile-->
    <meta name="viewport" content="minimal-ui, width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!--mobile ends-->

    <link rel="shortcut icon" href="{{ asset('landing/images/favicon.ico')}}" type="image/x-icon">
    <link rel="icon" href="{{ asset('landing/images/favicon.ico')}}" type="image/x-icon">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Crete+Round' rel='stylesheet' type='text/css'>

    {% block stylesheets %}
        {% if is_granted('ROLE_USER') %}
            {% stylesheets
            'vendor/font-awesome/css/font-awesome.css'
            'vendor/select2/dist/css/select2.min.css'
            'vendor/perfect-scrollbar/css/perfect-scrollbar.css'
            'vendor/jquery-ui/themes/base/jquery-ui.css'
            'vendor/fancybox/source/jquery.fancybox.css'
            'vendor/leaflet-dist/leaflet.css'
            'vendor/leaflet.markercluster/dist/MarkerCluster.css'
            'vendor/leaflet.markercluster/dist/MarkerCluster.Default.css'
            'assets/css/styles.css'
            filter='cssrewrite' filter='?uglifycss'
            %}
            <link rel="stylesheet" href="{{ asset_url }}">
            {% endstylesheets %}

        {% else %}

            {% stylesheets
            'vendor/leaflet-dist/leaflet.css'
            'vendor/leaflet.markercluster/dist/MarkerCluster.css'
            'vendor/leaflet.markercluster/dist/MarkerCluster.Default.css'
            'vendor/font-awesome/css/font-awesome.css'
            'vendor/select2/dist/css/select2.min.css'
            'landing/css/ddscrollspydemo.css'
            'assets/css/styles.css'
            filter='cssrewrite' filter='?uglifycss'
            %}
            <link rel="stylesheet" href="{{ asset_url }}">
            {% endstylesheets %}

        {% endif %}

    {% endblock %}

    {% if not is_granted('ROLE_USER') %}
        <link href="{{ asset('landing/css/style.css')}}" rel="stylesheet">
    {% endif %}

    <style>
        {# TODO: move this to css files#}

        a {
            color: #3b385e;
        }

        .people-grid .people-info {
            padding: 10px 10px 5px 10px;
        }

        .people-grid .people-info .tags{
            height: 44px;
        }

        .people-grid .people-info .name{
            padding-right: 20px;
        }

        .ytvideo:hover {
            text-decoration: none;
        }

        .ytvideo-holder{
            position: relative;
            display: block;
            float: left;
            padding: 2px;
        }

        .play-icon {
            position: absolute;
            left: 43%;
            top: 29%;
            width: 0;
            height: 0;
            border-top: 30px solid transparent;
            border-bottom: 30px solid transparent;
            border-left: 50px solid silver;
            opacity: 0.6;
            cursor: pointer;
            display: none;
        }

        .ytvideo:hover .play-icon {
            display: inline-block;
        }

        header {
            border-bottom: 2px solid #FBBC09;
        }

        #actionConfirmModal {
            z-index: 99999999;
        }

        #subscribeToSearch{
            width: 300px;
            margin-top: 5px;
        }

        .conversation-single a {
            text-decoration: none;
            color: #fff;
        }

        .conversation-single .text a {
            color: #428bca;
        }

        .conversation-single .text a:hover{
            text-decoration: underline;
        }

        .conversation-single .time{
            color: #878595;
        }

        .open-conversation.active, .open-conversation:active {
            background: #fabc09;
        }

        .message-info a {
            text-decoration: none;
        }

        .shouts-listing-container h4 a{
            text-decoration: none;
            color: #fff;
        }

        .no-auth .main-content-inner{
            background: none;
        }

        .signup-page .fixed-alerts-container{
            max-width: 320px;
            margin: 0 auto;
            opacity: .9;
        }

        .sidebar-feedback{
            color: #eaeaea;
            font-size: 12px;
            text-align: center;
            padding: 10px;
            margin-top: 20px;
        }

        .sidebar-feedback p{
            margin-bottom: 5px;
        }

        .sidebar-feedback li {
            display: inline-block;
            font-size: 16px;
            padding: 0 4px;
        }

        .sidebar-feedback li a {
            color: gray;
            -moz-transition: background 0.3s ease, opacity 0.3s ease;
            -o-transition: background 0.3s ease, opacity 0.3s ease;
            -webkit-transition: background 0.3s ease, opacity 0.3s ease;
            transition: background 0.3s ease, opacity 0.3s ease;
        }

        .sidebar-feedback li a:hover {
            color: #fabc09;
        }

        form.has-global-errors .help-block {
            color: firebrick;
        }

        #map .mapIcon.map-icon-Strings{
            background-color: #874E99;
        }

        #map .mapIcon.map-icon-Percussions{
            background-color: #d03111;
        }

        #map .mapIcon.map-icon-Keys{
            background-color: #0bb6ca;
        }

        #map .mapIcon.map-icon-Vocals{
            background-color: #CC9900;
        }

        #map .mapIcon.map-icon-Wind{
            background-color: #FFCC00;
        }

        #map .mapIcon path{
            fill: #fff;
        }

        header.is-active .navbar-open{
            display: none;
        }

        header .navbar-close{
            display: none;
            color: #fff;
            font-size: 27px;
            position: relative;
            left: -16px;
        }

        header.is-active .navbar-close{
            display: inline-block;
        }

        header.is-active .navbar-close span{
            background: #2b2a3b;
            padding: 5px;
        }

        header.is-active .navbar-toggle{
            padding: 0;
        }

        .subscribe-info-search {
            clear: both;
            position: relative;
            top: 15px;
            max-width: 600px;
        }

        .invite-friend-box{
            cursor: pointer;
        }

        .invite-friend-box p{
            font-size: 12px;
        }

        #send-invites {
            margin-bottom: 20px;
        }

        .share-sidebar{
            border-bottom: 1px solid #41404f;
            padding: 18px 10px;
        }

        .share-sidebar h3{
            color: #fff;
            font-size: 16px;
            padding: 2px 0 10px 0px;
            margin-top: 5px;
        }

        .fos_user_registration_form_acceptedTerms_label .popover-content{
            color: firebrick;
        }

        .login-page-user .main-content {
            background-color: #fff;
            padding: 10px 0;
        }

        .page-settings .btn-save + i:lang(fi) {
            right: 86px;
        }

        .page-profile .no-auth.main-content {
            margin-top: 25px;
        }

        .conversation-participants-container {
            border-bottom: 4px solid #FBBC09;
            padding: 5px 0;
            height: 70px;
            margin-top: 5px;
        }

        .conversation-participants-container img {
            float: left;
            margin-right: 15px;
            background-color: #fff;
        }

        .conversation-participants-container a:hover {
            text-decoration: none;
        }

        .conversation-participants-container p.name {
            color: #fff;
            text-transform: uppercase;
            padding-left: 55px;
            margin: 10px 0 0 0;
            font-size: 14px;
            font-family: "CooperHewitt Bold";
        }

        .nav-language {
            position: relative;
            top: -4px;
        }

        .nav-language #langaugeMenuHome{
            font-size: 12px;
            background: none;
            color: #a7a7af;
        }

        .nav-language ul.dropdown-menu {
            background-color: #000;
            padding: 0;
            min-width: auto;
        }

        .nav-language ul.dropdown-menu li{
            margin: 0;
            display: block;
            padding: 2px 10px;
        }

        .nav-language ul.dropdown-menu li a {
            font-size: 14px;
            color: #a7a7af;
        }

        .nav-language .dropdown-menu > .active > a, .nav-language .dropdown-menu > .active > a:hover, .nav-language .dropdown-menu > .active > a:focus {
            background: none;
            color: #fff;
        }

        .people-grid.teacher {
            background-color: seashell;
        }

        .find-out-more {
            background: #652978;
            border: 1px solid silver;
            font-family: 'Crete Round', serif;
            color: #fff;
            font-size: 24px;
            padding: 15px;
        }

        .find-out-more:hover{
            opacity: .9;
        }

        .social li a.about-us-home-link {
            font-size: 14px;
            padding-top: 3px;
            text-transform: uppercase;
        }

        #events-iframe{
            margin-top: 10px;
            border: 1px solid silver;
        }

        #musician_videos .remove-video {
            position: absolute;
            top: 5px;
            right: 5px;
            background-color: black;
            padding: 2px;
            font-size: 11px;
            color: #fff;
        }

        #musician_videos .remove-video:hover {
            text-decoration: none;
        }

        #musician_videos .add-video-box {
            margin-bottom: 10px;
        }

        #soundcloud_tracks .add-sound-box {
            margin-bottom: 10px;
        }

        #soundcloud_tracks li {
            margin-bottom: 10px;
        }

    </style>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    {% if app.environment == 'prod' %}
        {% include "::googleAnalytics.html.twig" %}

        <meta property="og:title" content="{{ og_title|default('Jamifind') }}" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="{{ app.request.schemeAndHttpHost ~ app.request.requestUri }}" />
        <meta property="og:image" content="{{ og_image| default('https://jamifind.com/landing/images/media-image.png') }}" />
        <meta property="og:description" content="{{ og_description|default('text.meta.description'|trans) }}" />
    {% endif %}

    <script>
        var baseURL = '{{ app.request.getBaseURL() }}';
    </script>
    {% if is_granted("ROLE_USER") %}
        <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/utf8/2.1.1/utf8.min.js"></script>

        <script>
            var _user = {};
            _user.username = '{{ app.user.username }}';
            _user.id = '{{ app.user.id }}';
            _user.lat = '{{ app.user.location.lat|default('') }}';
            _user.lng = '{{ app.user.location.lng|default('') }}';
            _user.temporaryLocation = '{{ app.user.location.isTemporary|default('') }}';
            _user.isVisitor = '{{ app.user.isVisitor }}';
            _user.avatar = '{{ path('musician_avatar', { 'username': app.user.username, 'size': 'my_thumb' }) }}';

            var socket = new io.connect('{{ node_server }}', {
                'reconnection' : false
            });

            socket.on('registerConnectedUser', function () {
                socket.emit('registerUserData', { 'sessionId': '{{ app.session.id }}' });
            });
        </script>
    {% endif %}

    {% include "::facebookPixel.html.twig" %}

</head>
<body class="{% block bodyclasses %}{% endblock %} {% if not is_granted("ROLE_USER") %}no-auth{% endif %}" style="
{% block bodystyle %}
    {% if is_granted("ROLE_USER") %}
        background-image: url({{ asset('assets/images/background-dashboard.jpg') }})
    {% endif %}
{% endblock %}">

    <header>

        <div class="container-fluid">
            <div class="row">

                {% if is_granted("ROLE_USER") %}
                    {% if app.user.acceptedTerms %}
                            <div class="col-xs-2 col-sm-1 visible-xs visible-sm">
                    {% else %}
                            <div class="hidden">
                    {% endif %}
                {% else %}
                    <div class="col-xs-2 visible-xs">
                {% endif %}
                    <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#social-header-home" aria-expanded="false" type="button">
                        <span class="sr-only">Toggle navigation</span>
                        <div class="navbar-open">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </div>
                        <div class="navbar-close">
                            <span class="glyphicon glyphicon-remove"></span>
                        </div>
                    </button>
                </div><!--menu button-->

                {% if is_granted("ROLE_USER") %}
                <div class="col-xs-8 col-sm-9 col-md-9">
                {% else %}
                <div class="col-xs-8 col-sm-5 col-md-5">
                {% endif %}
                    <div class="navbar-brand">
                        <a href="{{ path('home') }}">
                            <img src="{{ asset('assets/images/logo.png') }}" alt="Logo">
                            <span class="outer hidden-xs">Bringing musicians together</span>
                        </a>
                    </div>
                </div>

                {% if is_granted("ROLE_USER") %}

                    {% if app.user.acceptedTerms %}

                        <div class="col-xs-2 visible-xs visible-sm">
                            <button class="btn search-toggle" type="button"><i class="glyphicon glyphicon-search"></i></button>
                        </div>

                        <div class="col-md-3 search-block-container">
                            <div class="input-group search-block">
                                <input type="text" id="autocomplete" class="form-control" placeholder="{{ 'label.search.users'|trans }}" autocomplete="off" />
                                <span class="hidden-xs hidden-sm input-group-btn">
                                    <button class="btn btn-default" type="button"><i class="glyphicon glyphicon-search"></i></button>
                                </span>
                            </div>
                        </div>

                    {% endif %}

                {% else %}

                    <div class="col-xs-2 hidden-sm hidden-md hidden-lg">
                        {% if status_code is defined and status_code == '404' %}
                        {% else %}
                            {% if app.request.attributes.get('_route') == 'fos_user_security_login' %}
                                    <a href="{{ path('fos_user_registration_register') }}" class="fast-subscribe">{{ 'button.sign.up'|trans }}</a>
                            {% else %}
                                    <a href="{{ path('fos_user_security_login') }}" class="fast-subscribe">{{ 'button.home.login'|trans }}</a>
                            {% endif %}
                        {% endif %}
                    </div>

                    <div class="col-sm-6 col-md-5">
                        <div class="collapse navbar-collapse" id="social-header-home">
                            <ul class="nav navbar-nav social">
                                <li {% if app.request.attributes.get('_route') == 'about' %} class="active"{% endif %}"><a href="{{ path('about') }}" class="about-us-home-link">{{ 'link.home.about'|trans }}</a></li>
                                <li><a href="https://www.facebook.com/jamifind"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="https://twitter.com/Jamifind"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="mailto:info@jamifind.com"><i class="fa fa-envelope"></i></a></li>
                                <li class="nav-language">
                                    <div class="dropdown">
                                        <button class="btn btn-default dropdown-toggle" type="button" id="langaugeMenuHome" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                            {{ app.request.locale }}
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu" aria-labelledby="langaugeMenuHome">
                                            <li {% if app.request.locale == 'en' %} class="active" {% endif %}><a href="{{ path(app.request.attributes.get('_route')|default('home'), app.request.attributes.get('_route_params')|default([])|merge({'lang': 'en'})) }}">English</a></li>
                                            <li {% if app.request.locale == 'fi' %} class="active" {% endif %}><a href="{{ path(app.request.attributes.get('_route')|default('home'), app.request.attributes.get('_route_params')|default([])|merge({'lang': 'fi'})) }}">Finnish</a></li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="hidden-xs col-sm-1 col-md-2">
                        {% if status_code is defined and status_code == '404' %}
                        {% else %}
                            {% if app.request.attributes.get('_route') == 'fos_user_security_login' %}
                                    <a href="{{ path('fos_user_registration_register') }}" class="fast-subscribe">{{ 'button.sign.up'|trans }}</a>
                            {% else %}
                                    <a href="{{ path('fos_user_security_login') }}" class="fast-subscribe">{{ 'button.home.login'|trans }}</a>
                            {% endif %}
                        {% endif %}
                    </div>
                {% endif %}

            </div>
        </div>
    </header><!--header ends-->

    {% block body %}{% endblock %}

    {% include "JamWebBundle:Messages:conversation.html.twig" %}

    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>

    {% block javascripts %}

        {% javascripts
        'vendor/jquery/jquery.js'
        'vendor/select2/dist/js/select2.full.js'
        'vendor/bootstrap/dist/js/bootstrap.js'
        'vendor/bootstrap3-typeahead/bootstrap3-typeahead.js'
        'vendor/jquery-ui/ui/minified/jquery.ui.core.min.js'
        'vendor/jquery-ui/ui/minified/jquery.ui.widget.min.js'
        'vendor/jquery-ui/ui/minified/jquery.ui.mouse.min.js'
        'vendor/jquery-ui/ui/minified/jquery.ui.position.min.js'
        'vendor/jquery-ui/ui/minified/jquery.ui.autocomplete.min.js'
        'vendor/jquery-ui/ui/minified/jquery.ui.sortable.min.js'
        'vendor/jquery-ui/ui/minified/jquery.ui.draggable.min.js'
        'vendor/jquery-ui/ui/minified/jquery.ui.slider.min.js'
        'vendor/jquery-ui/ui/minified/jquery.ui.menu.min.js'
        'vendor/svg-injector/dist/svg-injector.min.js'
        'vendor/underscore/underscore.js'
        'vendor/isotope/dist/isotope.pkgd.js'
        'vendor/fancybox/lib/jquery.mousewheel-3.0.6.pack.js'
        'vendor/fancybox/source/jquery.fancybox.pack.js'
        'vendor/imagesloaded/imagesloaded.js'
        'vendor/perfect-scrollbar/js/perfect-scrollbar.jquery.js'
        '@JamWebBundle/Resources/public/js/helpers.js'
        'assets/js/templates.js'
        'assets/js/screenfull.js'
        'assets/js/heights-plugin.js'
        'assets/js/main.js'
        'assets/js/messaging.js'
        filter='?uglifyjs2'
        %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}

        <script src="https://connect.soundcloud.com/sdk.js"></script>
        <script src="https://w.soundcloud.com/player/api.js"></script>

    {% endblock %}

    {% for fm in app.session.flashbag.get('success') %}
        <script> $(function () { addMessage('success', '{{ fm }}'); });</script>
    {% endfor %}

    {% for fm in app.session.flashbag.get('info') %}
        <script> $(function () { addMessage('info', '{{ fm }}', false); });</script>
    {% endfor %}

    {% block bottomstylesheets %}{% endblock %}

    {% block bottom_javascripts %}{% endblock %}

    {% if app.environment == 'prod' %}
        {% include "::quantCast.html.twig" %}
    {% endif %}

</body>
</html>