<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>{% block title %}Jamifind | find musicians near you{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    {% block stylesheets %}
        {% stylesheets
        'vendor/font-awesome/css/font-awesome.css'
        'vendor/select2/select2.css'
        'vendor/perfect-scrollbar/css/perfect-scrollbar.css'
        'vendor/jquery-ui/themes/base/jquery-ui.css'
        'vendor/leaflet-dist/leaflet.css'
        'vendor/leaflet.markercluster/dist/MarkerCluster.css'
        'vendor/leaflet.markercluster/dist/MarkerCluster.Default.css'
        filter='cssrewrite' filter='?uglifycss'
        %}
        <link rel="stylesheet" href="{{ asset_url }}">
        {% endstylesheets %}
    {% endblock %}

    <link rel="stylesheet" href="{{ asset('assets/css/styles.css') }}">

    {% block bottomstylesheets %}{% endblock %}

    <style>
        {# TODO: move this to css files#}

        a {
            color: #3b385e;
        }

        .people-grid .people-info {
            padding: 10px 10px 5px 10px;
        }

        .people-grid .people-info .tags{
            height: 44px;
        }

        .people-grid .people-info .name{
            padding-right: 20px;
        }

    </style>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
    <script src="{{ node_server }}/socket.io/socket.io.js"></script>

    <script>
        var baseURL = '{{ app.request.getBaseURL() }}';
        var _user = {};
        {% if is_granted("ROLE_USER") %}
            var _username = '{{ app.user.username }}';
            _user.username = '{{ app.user.username }}';
            _user.lat = '{{ app.user.location.lat|default('') }}';
            _user.lng = '{{ app.user.location.lng|default('') }}';
            _user.temporaryLocation = '{{ app.user.location.isTemporary|default('') }}';
            _user.avatar = '{{ path('musician_avatar', { 'username': app.user.username, 'size': 'my_thumb' }) }}';

            var socket = new io.connect('{{ node_server }}');

            socket.on('connect_error', function(){
                socket.io.disconnect();
            });

            {% if app.user %}
            socket.on('registerConnectedUser', function () {
                socket.emit('registerUserData', { 'sessionId': '{{ app.session.id }}' });
            });
            {% endif %}

        {% endif %}
    </script>

</head>
<body class="{% block bodyclasses %}{% endblock %}" style="{% block bodystyle %}background-image: url({{ asset('assets/images/background-dashboard.jpg') }}){% endblock %}">

<header>
    <div class="container-fluid">

        <div class="row">

            <div class="col-xs-2 visible-xs visible-sm">
                <button class="navbar-toggle" type="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div><!--menu button-->

            <div class="col-xs-8 col-md-9">
                <div class="navbar-brand">
                    <a href="{{ path('home') }}"><img src="{{ asset('assets/images/logo.png') }}" alt="Logo"></a>
                    <span class="outer"><span>BETA</span> <!--Bringing Musicians Together--></span>
                </div>
            </div>

            {% if is_granted("ROLE_USER") %}

                <div class="col-xs-2 visible-xs visible-sm">
                    <button class="btn search-toggle" type="button"><i class="glyphicon glyphicon-search"></i></button>
                </div><!--search-toggle-->

                <div class="col-md-3 search-block-container">
                    <div class="input-group search-block">
                        <input type="text" id="autocomplete" class="form-control" placeholder="SEARCH" autocomplete="off" />
                        <span class="hidden-xs hidden-sm input-group-btn">
                            <button class="btn btn-default" type="button"><i class="glyphicon glyphicon-search"></i></button>
                        </span>
                    </div><!-- /input-group -->
                </div><!--search-block-container-->

            {% endif %}
        </div>

    </div>
</header><!--header ends-->

<div class="container-fluid">
    <div class="row">
        {% if is_granted("ROLE_USER") %}
            {% if not app.user.location or app.user.location.isTemporary %}
                <div class="flash-message col-xs-12 no-location-message">
                    <div class="warning alert-warning">
                        Please <a href="{{ path('fos_user_profile_edit') }}">set your location</a> in order to be able to search people around you.
                    </div>
                </div>
            {% endif %}
        {% endif %}

        <div class="fixed-alerts-container col-xs-12"></div>

        {% block body %}{% endblock %}

    </div>
</div>

<div class="conversation">

    <div class="conversation-close clearfix">
        <a href="#" class="close-link"><i class="glyphicon glyphicon-remove"></i>close conversation</a>
    </div>
    <!--conversation-close ends-->

    <div class="conversation-new">
        <input type="text" class="form-control autocomplete" placeholder="+ Type a name">
    </div>

    <div class="conversation-container conversation-message-box"></div>
    <!--conversation-container ends-->

    <div class="conversation-send">
        <form role="form">
            <textarea class="form-control send-message" rows="3" placeholder="Write message"></textarea>
            <button type="submit" class="btn btn-primary send-message-btn">Send</button>
        </form>
    </div>
    <!--conversation-send ends-->

</div><!--conversation ends-->

<div class="modal fade" id="imageCropModalTemplate" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Crop Photo</h4>
            </div>
            <div class="modal-body"></div>
            <div class="modal-footer">
                <div class="col-sm-6 first">
                    <button type="button" class="btn btn-primary btn-save-changes" data-dismiss="modal">
                        <i class="fa fa-check"></i>
                        Save changes
                    </button>
                </div>
                <div class="col-sm-6 last">
                    <button type="button" class="btn btn-primary cancel-crop" data-dismiss="modal">
                        <i class="fa fa-times"></i>
                        Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/template" id="imageTemplate">
    <div class="image-holder profile-media-wall-item">
        <a class="fancybox" rel="group" href="<%- rc.url %>"><img src="<%- rc.url %>" /></a>
        <div class="profile-media-image-commands">
            <a href="#" class="remove-image-ajax" data-id="<%- rc.id %>"><span class="glyphicon glyphicon-remove-sign"></span></a>
            <a href="#" class="set-profile-photo" data-id="<%- rc.id %>">Set as avatar</a>
        </div>
    </div>
</script>

<script type="text/template" id="messageTemplate">
    <% createdAt = new Date(rc.createdAt); %>
    <div class="conversation-single" data-user="<%- rc.to.username %>" data-user2="<%- rc.from.username %>">
        <a href="{{ app.request.getBaseURL() }}/m/<%- rc.from.username %>">
            <img class="message-picture" src="{{ app.request.getBaseURL() }}/m/<%- rc.from.username %>/avatar" alt="Pic">
            <h4 class="name"><%- rc.from.username %></h4>
        </a>

        <div class="time">
            <%- createdAt.toLocaleDateString() %> <%- createdAt.toLocaleTimeString() %>
        </div>
        <p class="text">
            <%- rc.message %>
        </p>
    </div>
</script>

<script type="text/template" id="shoutBoxTemplate">
    <% mu = rc.musician %>
    <article class="shout-box clearfix <% if(mu.teacher){ %>teacher<% } %>">
        <a href="{{ app.request.getBaseURL() }}/m/<%- mu.username %>" class="musician-box-image-link img-circle">
            <img src="{{ app.request.getBaseURL() }}/m/<%- mu.username %>/avatar" class="" width="50" />
        </a>
        <div class="shout-text">
            <% if (mu.me) { %>
                <a href="javascript:void(0)" class="remove-shout" id="<%= rc.id %>" title="Remove shout">x</a>
            <% } %>
            <h4 class="name"><a href="{{ app.request.getBaseURL() }}/m/<%- mu.username %>"><%- mu.username %></a></h4>
            <% if (mu.location) { %><span class="musician-box-location"><i class="glyphicon glyphicon-map-marker"></i> <%- mu.location %></span><% } %>
            <div class="time">
                <span><%- rc.createdAt %> </span>
            </div>
            <p><%- rc.text %></p>
        </div>
    </article>

</script>

<script type="text/template" id="musicianMapBoxTemplate">
    <div class="musician-map-box <% if(rc.teacher){ %>teacher<% } %>">
        <a href="<%- rc.url %>"><img src="<%- rc.image %>" />
            <p><%- rc.username %></p>
        </a>
        <div class="clearfix"></div>
            <span class="musician-map-box-genres">
                <% _.each( rc.genres, function(v, k){ %>
                    <% if (k!=0){ %>|<% } %>
                    <%- v %>
                <% }); %>
            </span>
    </div>
</script>

<script type="text/template" id="notificationTemplate">
    <div class="alert alert-<%- rc.type %> fade in <%- rc.temp %>">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <%- rc.message %>
    </div>
</script>

<script type="text/template" id="musicianBoxTemplate">
    <div class="col-xs-6 col-sm-4 col-lg-3 musician-box-container">
        <a href="{{ app.request.getBaseURL() }}/m/<%- rc.username %>" class="people-grid">
            <img src="{{ app.request.getBaseURL() }}/m/<%- rc.username %>/avatar/medium_thumb" alt="<%- rc.username %>" class="img-responsive" onerror="imgError(this, 'medium_thumb');">
            <div class="people-info">
                <h3 class="name"><%- rc.username %></h3>
                    <span class="instrument" title="<%- rc.instrument %>">
                        <%= rc.icon %>
                    </span>
                <ul class="tags" >
                    <% _.each( rc.genres, function(v, k){ %>
                    <% if (k < 3){ %><li <% if (rc.genres.length > 3){ %>style="font-size:10px"<% } %>><%- v %></li><% } %>
                    <% }); %>
                </ul>
                <ul class="compatibility-box">
                    <li class="compatibility">
                        <span><%= rc.compatibility %>%</span>
                        compatibility
                    </li>
                </ul>
            </div>
        </a><!--people-grid ends-->
    </div>
</script>

<script type="text/template" id="musicianMapTemplate">
    <div class="musician-map-box-container">
        <a href="{{ app.request.getBaseURL() }}/m/<%- rc.username %>" class="clearfix">
            <img src="{{ app.request.getBaseURL() }}/m/<%- rc.username %>/avatar/my_thumb" alt="<%- rc.username %>" class="img-responsive" onerror="imgError(this, 'medium_thumb');">
            <div class="people-info">
                <h3 class="name"><%- rc.username %></h3>
                <ul class="tags">
                    <% _.each( rc.genres, function(v, k){ %>
                    <% if (k < 3){ %><li><%- v %></li><% } %>
                    <% }); %>
                </ul>
                <span class="instrument" title="<%- rc.instrument %>">
                    <%= rc.icon %>
                    <%= rc.teacherIcon %>
                </span>
                <ul class="compatibility-box">
                    <li class="compatibility">
                        <span><%= rc.compatibility %>%</span>
                        compatibility
                    </li>
                </ul>
            </div>
        </a><!--people-grid ends-->
    </div>
</script>

{% block extra_templates %}{% endblock %}

{% block javascripts %}

    {% javascripts
    'vendor/jquery/jquery.js'
    'vendor/select2/select2.js'
    'vendor/bootstrap/dist/js/bootstrap.js'
    'vendor/bootstrap3-typeahead/bootstrap3-typeahead.js'
    'vendor/jquery-ui/ui/jquery-ui.js'
    'vendor/underscore/underscore.js'
    'vendor/isotope/dist/isotope.pkgd.js'
    'vendor/imagesloaded/imagesloaded.js'
    'vendor/perfect-scrollbar/js/perfect-scrollbar.jquery.js'
    '@JamWebBundle/Resources/public/js/helpers.js'
    filter='?uglifyjs2'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>

    <script src="http://connect.soundcloud.com/sdk.js"></script>
    <script src="https://w.soundcloud.com/player/api.js"></script>

    {% for fm in app.session.flashbag.get('success') %}
    <script> $(function () { addMessage('success', '{{ fm }}'); });</script>
    {% endfor %}

    {% for fm in app.session.flashbag.get('info') %}
    <script> $(function () { addMessage('info', '{{ fm }}', false); });</script>
    {% endfor %}

{% endblock %}


{% block bottom_javascripts %}{% endblock %}

<script src="{{ asset('assets/js/main.js') }}"></script>
<script src="{{ asset('assets/js/messaging.js') }}"></script>

</body>
</html>
