<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="{{ asset('/css/bootstrap.css') }}" rel="stylesheet" media="screen">
    <link href="{{ asset('/css/select2.css') }}" rel="stylesheet"/>

    <!-- HTML5 Shim and Respond.js add IE8 support of HTML5 elements and media queries -->
    {% include 'BraincraftedBootstrapBundle::ie8-support.html.twig' %}

    <style>

        body {
            background-color: oldlace;
            padding-bottom: 40px;
            padding-top: 60px;
        }

        body{
            /*cornsilk*/
            /*ivory*/
            /*ghostwhite*/
            /*beige*/
            /*oldlace*/
        }

        .bar {
            height: 18px;
            background: green;
        }

        html body #map-canvas {
            height: 400px;
            margin: 0px;
            padding: 0px;
            width: 100%;
            clear: both;
        }

        .navbar{
            background-color: #404569;
        }

        .navbar-default .navbar-nav > li > a{
            color: #e3e3e3;
        }

        .navbar-default .navbar-brand{
            color: #e3e3e3;
            font-size: 34px;
        }

        a{
            color: #8A8E97;
        }

        .user-box{
            background-color: #fff;
            margin: 0 10px 10px 0;
        }

        .user-box img{
            margin-right:8px;
        }

        .user-box-details{
            float:left;
        }

        .user-box .user-box-image-link{
            float:left;
        }

        .select2-container.form-control{
            padding: 0;
        }

        .user-box-genres{
            font-size: 11px;
            font-style: italic;
        }

        .form-signin {
            max-width: 330px;
            padding: 15px;
            margin: 0 auto;
        }
        .form-signin .form-signin-heading,
        .form-signin .checkbox {
            margin-bottom: 10px;
        }
        .form-signin .checkbox {
            font-weight: normal;
        }
        .form-signin .form-control {
            position: relative;
            height: auto;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            padding: 10px;
            font-size: 16px;
        }
        .form-signin .form-control:focus {
            z-index: 2;
        }
        .form-signin input[type="email"] {
            margin-bottom: -1px;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
        }
        .form-signin input[type="password"] {
            margin-bottom: 10px;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }


    </style>
</head>
<body>

<!-- Fixed navbar -->
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="{{ path('home') }}">JWM</a>
        </div>
        <ul class="nav navbar-nav navbar-left">
            <li {% if app.request.attributes.get('_route') == 'home' %}class="active"{% endif %}><a href="{{ path('home') }}">Home</a></li>
            <li {% if app.request.attributes.get('_route') == 'musicians' %}class="active"{% endif %}><a href="{{ path('musicians') }}">Musicians</a></li>
            <li {% if app.request.attributes.get('_route') == 'jams' %}class="active"{% endif %}><a href="{{ path('jams') }}">Jams</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            {% if is_granted("ROLE_USER") %}

                <li><a href="{{ path('musician_profile', {'username': app.user.username}) }}" class="user-box-image-link" style="padding:10px 0">
                        <img width="30" src="{{ asset(app.user.images.first.getWebPath|default('/images/placeholder-user.jpg')) | imagine_filter('my_thumb') }}" class="img-circle" />
                    </a></li>

                <li {% if app.request.attributes.get('_route') == 'notifications' %}class="active"{% endif %}><a href="{#{{ path('notifications') }}#}">Notifications</a></li>
                <li {% if app.request.attributes.get('_route') == 'inbox' %}class="active"{% endif %}><a href="{{ path('inbox') }}">Messages</a></li>
                <li {% if app.request.attributes.get('_route') == 'fos_user_profile_edit' %}class="active"{% endif %}><a href="{{ path('fos_user_profile_edit') }}">Edit Profile</a></li>
                <li {% if app.request.attributes.get('_route') == 'start_jam' %}class="active"{% endif %}><a href="{{ path('start_jam') }}">Start a jam</a></li>
                <li {% if app.request.attributes.get('_route') == 'fos_user_security_logout' %}class="active"{% endif %}><a href="{{ path('fos_user_security_logout') }}">Logout</a></li>
            {% else %}
                <li {% if app.request.attributes.get('_route') == 'fos_user_security_login' %}class="active"{% endif %}><a href="{{ path('fos_user_security_login') }}">Login</a></li>
                <li {% if app.request.attributes.get('_route') == 'fos_user_registration_register' %}class="active"{% endif %}><a href="{{ path('fos_user_registration_register') }}">Register</a></li>
            {% endif %}
        </ul>
    </div>
</div>

<div class="container">

    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="flash-message alert alert-success">
            <em>{{ flashMessage }}</em>
        </div>
    {% endfor %}

    {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="flash-message alert alert-danger">
            <em>{{ flashMessage }}</em>
        </div>
    {% endfor %}

    {% block body %}{% endblock %}
    {% block fos_user_content %}
    {% endblock fos_user_content %}
</div>
<!-- jQuery (necessary for Bootstraps JavaScript plugins) -->
<!--<script src="https://code.jquery.com/jquery.js"></script>-->
<script src="{{ asset('/js/jquery.js') }}"></script>
<script src="{{ asset('/js/select2.min.js') }}"></script>
<!-- Include all JavaScripts, compiled by Assetic -->
<script src="{{ asset('/js/bootstrap.js') }}"></script>
<script src="http://maps.googleapis.com/maps/api/js?sensor=false&amp;language=en"></script>
<script src="{{ asset('/js/vendor/bootstrap-typeahead.js') }}"></script>
<script src="{{ asset('/js/vendor/jquery-ui.min.js') }}"></script>
<script src="{{ asset('bundles/jamlocation/jquery.ui.addresspicker.js') }}"></script>
<script src="{{ asset('bundles/jamlocation/location.js') }}"></script>
{% block javascripts %}{% endblock %}

<script>

    jQuery(document).ready(function() {
        $("#fos_user_profile_form_instruments, #fos_user_registration_form_instruments").select2({
            placeholder: 'What do you play?'
        });

        $("#fos_user_profile_form_genres, #form_genres, #fos_user_registration_form_genres, #jam_genres").select2({
            placeholder: 'Whats music do you play?'
        });

        $("#fos_user_registration_form_brands, #fos_user_profile_form_brands").select2({
            placeholder: 'Favorite brands?'
        });

        $("#search_form_genres").select2({
            placeholder: 'Filter by genres'
        });

        $("#search_form_instruments").select2({
            placeholder: 'Filter by instruments'
        });

    });

    var imagesCollectionHolder = $('#user_images');
    var jamMembersCollectionHolder = $("#jam_members")

    jQuery(document).ready(function() {
        {% if form is defined and form.vars.valid %}
        if($("#user_images").data('index')==0){
            addCollectionForm(imagesCollectionHolder, 'images');
        }

        {% endif %}

        $(document).on('change', "#user_images input[type=file]", function(){
            readURL(this);
        });

        $("#add_another_image").click(function(e){
            e.preventDefault();
            addCollectionForm(imagesCollectionHolder, 'images');
        });

        $("#add_another_member").on('click', function(e){
            e.preventDefault();
            addCollectionForm(jamMembersCollectionHolder, 'members');
        });

        $(document).on('click', '.make-primary-image', function(){
            $('.make-primary-image').attr('checked', false);
            $(this).prop('checked', true).attr('checked', true);
        });

        $(document).on('click', '.remove-image', function(e){
            e.preventDefault();
            $(this).parents('.image-holder').remove();
            imagesCollectionHolder.data('index', imagesCollectionHolder.data('index') - 1);
            $("#add_another_image").show();
        });

        $(".price-type").click(function(){
            $('.price-type').attr('checked', false);
            $(this).prop('checked', true).attr('checked', true);
            $("#ad_price").val('');
        });

        $("#user_images .image-holder input[type=radio]").after("<span></span>");

        $(".remove-image-ajax").on('click', function(e){
            e.preventDefault();
            var url = $(this).data('url');
            var image = $(this).parents('.image-holder');
            $.ajax({
                url: url
            }).done(function( result ) {
                if (result.status == 'success'){
                    image.remove();
                }
            });
        });

    });

    function addCollectionForm(collectionHolder, type) {
        var prototype = collectionHolder.data('prototype');
        var index = collectionHolder.data('index');
        var newForm = prototype.replace(/__name__/g, index);
        //for images only
        if(type == 'images') {
            newForm = $(newForm).addClass('image-holder');
            newForm.find('.make-primary-image').parent().hide();
            newForm.find("input[type=radio]").after("<span></span>");
        }

        // increase the index with one for the next item
        collectionHolder.data('index', index + 1);
        collectionHolder.append(newForm);
    }

    function readURL(input) {
        if (input.files && input.files[0]) {
            if(input.files[0].size>3000000){
                alert('{{ 'Photo is too big. Please upload a file that is less than 3MB'|trans }}');
                $(input).val(null);
                return false;
            }
            var image  = new Image();
            var reader = new FileReader();
            reader.readAsDataURL(input.files[0]);
            reader.onload = function (e) {
                //parent parent is stupid

                image.src    = e.target.result;
                image.onload = function() {
                    var w = this.width,
                            h = this.height;

                    if(w<320 || h<190){
                        alert('{{ 'Please choose a picture larger than 320x190'|trans }}');
                        $(input).val('');
                        return false;
                    }

                    var image_holder = $(input).parents('.image-holder');
                    image_holder.append('<img src="" width="200" />');
                    image_holder.find('img').attr('src', e.target.result);
                    image_holder.find('.make-primary-image').parent().show();
                    image_holder.find('.remove-image').show();
                    image_holder.find('.upload').hide();
                    if($('.image-preview').length==1){
                        image_holder.find('.make-primary-image').prop('checked', true).attr('checked', true);
                    }
                };
            }
        }
    }

    $(function() {
        $("#fos_user_profile_form_artists2" ).autocomplete({
            source: function( request, response ) {
                $.ajax({
                    url: "http://developer.echonest.com/api/v4/artist/suggest",
                    dataType: "jsonp",
                    data: {
                        results: 12,
                        api_key: "AVZ7NYSNWRRUQVWXS",
                        format:"jsonp",
                        name:request.term
                    },
                    success: function( data ) {
                        response( $.map( data.response.artists, function(item) {
                            return {
                                label: item.name,
                                value: item.name,
                                id: item.id
                            }
                        }));
                    }
                });
            },
            minLength: 3,
            select: function( event, ui ) {
                $("#log").empty();
                $("#log").append(ui.item ? ui.item.id + ' ' + ui.item.label : '(nothing)');
            }
        });

        $("#fos_user_profile_form_artists").select2({
            placeholder: "Favourite Artists?",
            minimumInputLength: 2,
            multiple: true,
            initSelection : function (element, callback) {
                var data = [];
                $(element.val().split(",")).each(function () {
                    data.push({id: this, text: this});
                });
                callback(data);
            },
            ajax: {
                url: "http://developer.echonest.com/api/v4/artist/suggest",
                dataType: "jsonp",
                results: function (data) {
                    //console.log(data);
                    return {results: $.map( data.response.artists, function(item) {
                        return {
                            text: item.name,
                            value: item.name,
                            id: item.name
                        }
                    })}
                },
                data: function (term, page) {
                    return {
                        results: 12,
                        api_key: "AVZ7NYSNWRRUQVWXS",
                        format:"jsonp",
                        name: term
                    };
                }
            }
        });

    });

</script>

</body>
</html>