{% trans_default_domain 'FOSUserBundle' %}

<form action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="POST" class="fos_user_profile_edit">
    {#{{ form_widget(form) }}#}

    {{ form_errors(form) }}

    {{ form_row(form.username) }}

    {{ form_row(form.firstName) }}

    {{ form_row(form.lastName) }}

    {{ form_row(form.email) }}

    {{ form_row(form.plainPassword) }}

    <p>Instruments: </p>

    <ul class="instruments" data-prototype="{{ form_widget(form.instruments.vars.prototype)|e }}" style="list-style-type: none">
        {# iterate over each existing tag and render its only field: name #}
        {% for tag in form.instruments %}
            <li>{{ form_widget(tag) }}</li>
        {% endfor %}
    </ul>

    <p>Genres: </p>

    <ul class="genres" data-prototype="{{ form_widget(form.genres.vars.prototype)|e }}" style="list-style-type: none">
        {# iterate over each existing tag and render its only field: name #}
        {% for tag in form.genres %}
            <li>{{ form_row(tag.name) }}</li>
        {% endfor %}
    </ul>

    {{ form_widget(form._token) }}

    <div>
        <input type="submit" value="{{ 'profile.edit.submit'|trans }}" />
    </div>
</form>