{% trans_default_domain 'FOSUserBundle' %}
{% form_theme form 'JamLocationBundle:Form:fields.html.twig' %}

<form action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="POST" class="fos_user_profile_edit">

    {{ form_errors(form) }}

    <ul class="nav nav-tabs" role="tablist" id="myTab">
        <li class="active"><a href="#personal-info-tab" role="tab" data-toggle="tab">Personal Info</a></li>
        <li><a href="#musician-info-tab" role="tab" data-toggle="tab">Musician Info</a></li>
        <li><a href="#media-tab" role="tab" data-toggle="tab">Media</a></li>
        <li><a href="#networks-tab" role="tab" data-toggle="tab">Networks</a></li>
    </ul>

    <br />

    <div class="tab-content clearfix">

        <div class="tab-pane active" id="personal-info-tab">

            <div class="col-md-6">

                {{ form_row(form.username) }}

                {{ form_row(form.firstName) }}

                {{ form_row(form.lastName) }}

                <div class="col-md-6">

                    {{ form_row(form.gender) }}

                 </div>
                 <div class="col-md-6">

                    {{ form_row(form.birthDate) }}

                 </div>

                <div class="clearfix"></div>

                {{ form_row(form.email) }}

            </div>
            <div class="col-md-6">

                <div class="form-group">
                    {{ form_label(form.location, 'Location'|trans, {'label_attr':{'class':'control-label'}}) }}
                    {{ form_errors(form.location) }}
                    <div>
                        {{ form_widget(form.location) }}
                    </div>
                </div>
            </div>

        </div>
        <div class="tab-pane" id="musician-info-tab">

            <div class="col-md-6">

                {{ form_row(form.aboutMe) }}

                <div id="musician_instruments" data-prototype="{{ form_widget(form.instruments.vars.prototype)|e }}">
                    {% for f in form.instruments %}
                        <div class="col-md-8">
                            {{ form_row(f.instrument) }}
                        </div>
                        <div class="col-md-4">
                            {{ form_row(f.skillLevel) }}
                        </div>
                    {% endfor %}
                </div>

                <a href="#" id="add_another_instrument">Add another</a>

            </div>

            <div class="col-md-6">

                {{ form_row(form.isTeacher) }}

                {{ form_row(form.genres) }}

                {{ form_row(form.brands) }}

                <div class="clearfix"></div>

                {{ form_row(form.artists) }}

            </div>

        </div>
        <div class="tab-pane" id="media-tab">

            <div class="col-md-12">

                <div class="form-group" >
                    {{ form_label(form.images, 'Images'|trans) }}
                    {{ form_errors(form.images) }}
                    <div>
                        <div id="user_images" data-prototype="{{ form_widget(form.images.vars.prototype)|e }}" data-index="{{ form.vars.value.images|length }}">
                            {% for i in form.vars.value.images %}
                                <div class="image-holder">
                                    <img src="{{ asset(i.getWebPath) | imagine_filter('my_medium') }}" />
                                    <a href="" class="remove-image"><span class="glyphicon glyphicon-remove-sign"></span></a>
                                    <div class="hidden">{{ form_widget(form.images[loop.index0]) }}</div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>

                <input type="file" accept="image/*" name="file" id="jam_images_images_0_file" multiple data-url="{{ path('upload_user_image') }}">

                <div id="progress" class="progress">
                    <div class="progress-bar progress-bar-success"></div>
                </div>

                <div id="files" class="files"></div>

            </div>

        </div>
        <div class="tab-pane" id="networks-tab">

            <h4>Facebook</h4>
            {% if app.user.facebookId %}
                <!--add buttons -->
                <a href="#">Connected</a>
            {% else %}
                <a class="connect-with-facebook-btn" href="{{ path('jam_facebook_login') }}" ></a>
            {% endif %}

            <br />

            <h4>Soundcloud</h4>
            {% if app.user.facebookId %}
                <!--add buttons -->
                <a href="#">Connected</a>
            {% else %}
                <a href="{{ path('jam_soundcloud_login') }}" class="connect-with-soundcloud-btn" ></a>
            {% endif %}

        </div>

    </div>


    {{ form_widget(form._token) }}
    <hr />
    <div class="col-md-12">
        <input type="submit" class="btn btn-primary" value="{{ 'profile.edit.submit'|trans }}" />
    </div>
</form>

