{% extends 'JamUserBundle:Profile:profileLayout.html.twig' %}

{% block bodyclasses %}page-settings{% endblock %}

{% block fos_user_content %}
    {% trans_default_domain 'FOSUserBundle' %}
    {% form_theme form 'JamLocationBundle:Form:fields.html.twig' %}

    <style>
        #musician_videos li {
            margin-bottom: 5px;
        }

        .fancybox-title .remove-image-ajax {
            float: right;
        }

        .crop-coords {
            display: none;
        }

        .page-settings #files .preview-thumb {
            cursor: pointer;
        }

        .page-settings #files .preview-thumb :hover{
            outline: 1px solid #eaeaea;
        }

        .page-settings .add-another-video {
            width: 200px;
            margin-bottom: 6px;
        }

        .page-settings .remove-video {
            position: absolute;
            top: 5px;
            right: 5px;
            background-color: black;
            padding: 2px;
            font-size: 11px;
            color: #fff;
        }

        .page-settings .remove-video:hover {
            text-decoration: none;
        }

    </style>

    <h1 style="color: #18152b; font-size: 23px; margin: 0 0 10px; padding-top: 20px; text-transform: uppercase;">Setup your profile</h1>

    <form action="{{ path('fos_user_setup') }}" method="POST" class="fos_user_profile_edit">

        {{ form_errors(form) }}

        <div class="col-md-2 tabs-save">
            <button class="btn btn-primary btn-save" id="next-1"><i class="fa fa-angle-double-right"></i> Next</button>
            <button class="btn btn-primary btn-save hidden" id="finish-1"><i class="fa fa-check"></i> Finish</button>
        </div>

        <ul class="tabs-activate profile-tabs" id="myTab">
            <li><a href="#" data-tab="musician-info" id="musician-info-tab" class="is-active">Musician Info</a></li>
            <li><a href="#" data-tab="location-info" id="location-tab" >Location</a></li>
        </ul>

        <div class="view-tab-container clearfix">

            <div class="view-tab with-scrollbar is-active" data-tab="musician-info">

                <div class="alert alert-info" role="alert">Tell us something about yourself so we can find the best matches for you.</div>

                <br />

                <div class="row">
                    <div class="col-md-6">

                        <div class="row">
                            <div class="col-md-5">
                                What instruments do you play?
                            </div>
                            <div class="col-md-5">
                                How good are you?
                            </div>
                            <div class="col-md-2"></div>
                        </div>

                        <ul id="musician_instruments">

                            {% for f in form.instruments %}
                                <li class="row">
                                    <div class="col-md-5">
                                        {{ form_widget(f.instrument, { 'id' : 'fos_user_registration'}) }}
                                    </div>
                                    <div class="col-md-5">
                                        {{ form_widget(f.skillLevel) }}
                                    </div>
                                    <div class="col-md-2" style="padding-top:10px">
                                        <a href="" class="remove-instrument text-danger" title="remove"><i class="fa fa-times"></i></a>&nbsp
                                        <a class="handle" title="re-order"><i class="fa fa-bars"></i></a>
                                    </div>
                                </li>
                            {% endfor %}

                        </ul>
                        <br />
                        <a href="#" class="btn btn-primary" id="add_another_instrument"><i class="glyphicon glyphicon-plus-sign"></i> Add another instrument / Skill</a>

                    </div>

                    <div class="col-md-6">

                        {{ form_row(form.genres) }}

                        {{ form_row(form.artists) }}

                        <div class="clearfix"></div>

                    </div>
                </div>

            </div>

            {# LOCATION #}
            <div class="view-tab with-scrollbar" data-tab="location-info">

                <div class="alert alert-info" role="alert">Your location helps us find people around you. You can be specific as you like, we will not show your full address to other people.</div>

                <br />

                <div class="row">
                    <div class="col-md-10">

                        <div class="form-group">
                            {{ form_label(form.location, 'Location'|trans, {'label_attr':{'class':'control-label'}}) }}
                            {{ form_errors(form.location) }}
                            <div>
                                {{ form_widget(form.location) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <input type="hidden" id="settings-current-hash" name="settings_current_hash" value="">

        {{ form_widget(form._token) }}
    </form>

{% endblock fos_user_content %}
