{% trans_default_domain 'FOSUserBundle' %}

<form action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="POST" class="fos_user_profile_edit">
    {#{{ form_widget(form) }}#}

    {{ form_errors(form) }}

    <div class="col-md-6">
        {{ form_row(form.username) }}

        {{ form_row(form.firstName) }}

        {{ form_row(form.lastName) }}

        {{ form_row(form.email) }}

        {{ form_row(form.plainPassword) }}
    </div>

    <div class="col-md-6">
        {{ form_row(form.instruments) }}

        {{ form_row(form.genres) }}
    </div>

    {{ form_widget(form._token) }}

    <div class="col-md-12">
        <input type="submit" value="{{ 'profile.edit.submit'|trans }}" />
    </div>
</form>