{% extends 'JamUserBundle:Profile:profileLayout.html.twig' %}

{% block bodyclasses %}page-settings{% endblock %}

{% block fos_user_content %}
    {% form_theme form 'JamLocationBundle:Form:fields.html.twig' %}

    <style>
        #musician_videos li {
            margin-bottom: 5px;
        }

        .fancybox-title .remove-image-ajax {
            float: right;
        }

        .crop-coords {
            display: none;
        }

        .page-settings #files .preview-thumb {
            cursor: pointer;
        }

        .page-settings #files .preview-thumb :hover{
            outline: 1px solid #eaeaea;
        }

        .page-settings .add-another-video {
            width: 200px;
            margin-bottom: 6px;
        }

        .page-settings .remove-video {
            position: absolute;
            top: 5px;
            right: 5px;
            background-color: black;
            padding: 2px;
            font-size: 11px;
            color: #fff;
        }

        .page-settings .remove-video:hover {
            text-decoration: none;
        }

    </style>

    <form action="{{ path('fos_user_profile_edit') }}" method="POST" class="fos_user_profile_edit">

        {{ form_errors(form) }}


        <div class="col-md-2 tabs-save">
            <button class="btn btn-primary btn-save" id="save-1">{{ 'button.save'|trans }}</button>
            <i class="fa fa-check"></i>
        </div>

        <ul class="tabs-activate profile-tabs" id="myTab">
            <li><a href="#" data-tab="personal-info" class="is-active">{{ 'label.personal.info'|trans }}</a></li>
            <li><a href="#" data-tab="musician-info">{{ 'label.musician.info'|trans }}</a></li>
            <li><a href="#" data-tab="photos">{{ 'label.photos'|trans }}</a></li>
            <li><a href="#" data-tab="videos">{{ 'label.videos'|trans }}</a></li>
            <li><a href="#" data-tab="networks">{{ 'label.networks'|trans }}</a></li>
        </ul>

        <div class="view-tab-container clearfix">

            {# PERSONAL INFO #}
            <div class="view-tab is-active with-scrollbar" data-tab="personal-info">

                <div class="row">
                    <div class="col-md-6">

                        {{ form_label(form.username) }}
                        <span class="glyphicon glyphicon-info-sign info-popover" data-toggle="popover" data-placement="right" data-container="body" data-trigger="hover" data-content="Your username can't be number only, also special characters are forbidden."></span>

                        {{ form_widget(form.username) }}

                        {{ form_errors(form.username) }}

                        <br />

                        {{ form_row(form.firstName) }}

                        {{ form_row(form.lastName) }}

                        {{ form_row(form.locale) }}

                        <div class="row personal-bio">
                            <div class="col-xs-5 col-sm-7">
                                {{ form_row(form.gender) }}
                            </div>
                            <div class="col-xs-7 col-sm-5">
                                {{ form_row(form.birthDate) }}
                            </div>
                        </div>

                        <div class="clearfix"></div>

                        {{ form_row(form.email) }}

                        <a href="{{ path('fos_user_change_password') }}" class="btn btn-default" style="margin-bottom: 15px;">{{ 'label.change.password'|trans }}</a>

                    </div>
                    <div class="col-md-6" style="min-height: 320px;">

                        <div class="form-group">
                            {{ form_label(form.location, 'Location'|trans, {'label_attr':{'class':'control-label'}}) }}
                            <span class="glyphicon glyphicon-info-sign info-popover" data-placement="bottom" data-toggle="popover" data-trigger="hover" data-content="{{ 'info.settings.location'|trans }}"></span>
                            {{ form_errors(form.location) }}
                            <div>
                                {{ form_widget(form.location) }}
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            {# MUSICIAN INFO #}
            <div class="view-tab with-scrollbar" data-tab="musician-info">

                <div class="row">
                    <div class="col-md-6">

                        <h4>{{ 'label.i.want.to'|trans }}:</h4>

                        <ul class="checkboxes-list">
                            <li>
                                {{ form_widget(form.isVisitor) }}
                                {{ form_label(form.isVisitor) }}
                                <span class="glyphicon glyphicon-info-sign info-popover" data-toggle="popover" data-trigger="hover" data-content="{{ 'info.settings.visitor'|trans }}"></span>
                            </li>
                            <li>
                                {{ form_widget(form.isJammer) }}
                                {{ form_label(form.isJammer) }}
                                <span class="glyphicon glyphicon-info-sign info-popover" data-toggle="popover" data-trigger="hover" data-content="{{ 'info.settings.jammer'|trans }}"></span>
                            </li>
                            <li class="last">
                                {{ form_widget(form.isTeacher) }}
                                {{ form_label(form.isTeacher) }}
                                <span class="glyphicon glyphicon-info-sign info-popover" data-toggle="popover" data-trigger="hover" data-content="{{ 'info.settings.teacher'|trans }}"></span>
                            </li>
                        </ul>

                        <div class="row">
                            <div class="col-md-12">
                                <h4>{{ 'label.i.am.available'|trans }}:</h4>

                                {{ form_widget(form.commitment, { 'attr': {'placeholder' : 'How much can you commit? '} }) }}
                            </div>
                        </div>

                        <br />

                        {% include "JamUserBundle:Profile:chooseInstruments.html.twig" %}

                    </div>

                    <div class="col-md-6">

                        {{ form_row(form.aboutMe) }}

                        <div class="teacherSpecific {% if not app.user.isTeacher %}hide{% endif %}" >
                            {{ form_row(form.education) }}

                            <div class="form-group">

                                <div class="input-group">
                                    <span class="input-group-addon">&euro;</span>
                                    {{ form_widget(form.hourlyRate) }}
                                </div>
                            </div>
                        </div>

                        {{ form_row(form.genres, { 'id' : 'fos_user_profile_form_genres' }) }}

                        {{ form_row(form.artists, { 'id' : 'fos_user_profile_form_artists' }) }}

                        {{ form_row(form.gear) }}

                        <div class="clearfix"></div>

                    </div>
                </div>

            </div>

            {# PHOTOS #}

            <div class="view-tab with-scrollbar" data-tab="photos">

                <div class="row">
                    <div class="col-md-12">

                        <div class="row">

                            <div class="col-md-6">
                            <span class="btn btn-primary fileinput-button">
                                <i class="glyphicon glyphicon-plus"></i>
                                <span>{{ 'label.add.photos'|trans }}...</span>
                                <input type="file" name="file" id="upload_images" accept="image/*" multiple >
                            </span>
                            </div>

                            <div class="col-md-6">
                                <button type="submit" class="btn btn-primary start-upload" style="display: none">
                                    <i class="glyphicon glyphicon-upload"></i>
                                    <span>{{ 'label.upload.all'|trans }}</span>
                                </button>
                            </div>
                        </div>

                        <div id="files" class="files clearfix"></div>

                        <div id="progress" class="progress" style="height: 2px; display: none">
                            <div class="progress-bar progress-bar-success"></div>
                        </div>

                        <div class="panel panel-default panel-photos-header">
                            <div class="panel-heading">
                                <h3 class="panel-title">{{ 'label.photos'|trans }} <span class="badge"><span>({{ form.vars.value.images|length }}</span> / 20)</span></h3>
                            </div>
                        </div>

                        {% if form.vars.value.images|length == 0 %}
                            <p class="no-images-yet">{{ 'label.no.images'|trans }}</p>
                        {% endif %}

                        <div id="user_images" class="profile-media-wall">

                            {% for i in form.vars.value.images %}
                                <div class="image-holder profile-media-wall-item image-type-{{ i.type }}" data-image-id="{{ i.id }}">
                                    <a class="fancybox" rel="group" href="{{ asset(i.getWebPath) }}"><img src="{{ asset(i.getWebPath) | imagine_filter('my_medium_'~i.type) }}" /></a>
                                    <div class="profile-media-image-commands">
                                        <a href="#" class="set-profile-photo" data-id="{{ i.id }}" title="{{ 'label.set.profile.photo'|trans }}"><span class="glyphicon glyphicon-user"></span>{% if i.type not in [1, 4] %} Set as profile photo{% endif %}</a>
                                        <a href="#" class="remove-image-ajax action-confirm" data-id="{{ i.id }}" title="{{ 'label.remove.photo'|trans }}"><i class="fa fa-times"></i></span>{% if i.type not in [1, 4] %} Remove{% endif %}</a>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>

                    </div>

                </div>
            </div>

            {# VIDEOS #}

            <div class="view-tab with-scrollbar" data-tab="videos">

                <a href="#" id="add_another_video" class="btn btn-primary add-another-video">
                    <i class="fa fa-youtube-play"></i>
                    {{ 'label.add.video'|trans }}
                </a>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{ 'label.videos'|trans }} <span class="badge">({{ form.vars.value.videos|length }} / 12)</span></h3>
                    </div>
                    <div class="panel-body">

                        {% if form.vars.value.videos|length == 0 %}
                            <p class="no-images-yet">{{ 'label.no.videos'|trans }}</p>
                        {% endif %}

                        <ul id="musician_videos">
                            {% for v in form.vars.value.videos %}
                                <li data-id="{{ v.id }}" class="ytvideo-holder">
                                    <a class="ytvideo" rel="group" href="{{ v.url }}&autoplay=1&showinfo=0&controls=1">
                                        <span class="play-icon"></span>
                                        <img src="" height="140" width="260" />
                                    </a>
                                    <a href="" class="remove-video action-confirm" title="remove"><i class="fa fa-times"></i> {{ 'label.remove'|trans }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>

            </div>

            {# NETWORKS #}

            <div class="view-tab with-scrollbar" data-tab="networks">

                <div class="login-buttons col-sm-6 col-md-5 col-lg-4">
                    <h4>Facebook</h4>
                    {% if app.user.facebookId %}
                        <a href="#">{{ 'label.connected'|trans }}</a>
                    {% else %}
                        <a class="btn btn-primary facebook" href="{{ path('jam_facebook_login') }}">
                            <i class="fa fa-facebook-square"></i>{{ 'label.connect.facebook'|trans }}</a>
                    {% endif %}

                    <br />

                    <h4>Soundcloud</h4>
                    {% if app.user.soundcloudId %}
                        <a href="#">{{ 'label.connected'|trans }}</a>
                    {% else %}
                        <a class="btn btn-primary soundcloud" href="{{ path('connect_soundcloud') }}">
                            <i class="fa fa-soundcloud"></i>{{ 'label.connect.soundcloud'|trans }}</a>
                    {% endif %}

                </div><!-- login buttons -->
            </div>
        </div>

        <input type="hidden" id="settings-current-hash" name="settings_current_hash" value="">

        {{ form_widget(form._token) }}
        <hr />
        <div class="row">
            <div class="col-md-2">
                <button class="btn btn-primary btn-save" alt="save-2">{{ 'button.save'|trans }}</button>
                <i class="fa fa-check"></i>
            </div>
        </div>
    </form>

{% endblock fos_user_content %}
