{% trans_default_domain 'FOSUserBundle' %}
{% form_theme form 'JamLocationBundle:Form:fields.html.twig' %}

<style>
    #upload_images{
        height: 33px;
        width: 110px;
    }

    .preview-thumb canvas{
        width: 80px;
    }

    #files input{
        display: none;
    }

    #files .preview-container{
        float: left;
    }

    #files .preview-thumb{
        padding: 5px;
    }

    .fileinput-button{
        position: relative;
        margin-bottom: 6px;
    }

    .fileinput-button input{
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        opacity: 0;
        -ms-filter: 'alpha(opacity=0)';
        direction: ltr;
        cursor: pointer;
    }

    .progress{
        margin-top: 10px;
    }

    .profile-media-wall .image-holder{
        position: relative;
        background-color: #000;
    }

    .profile-media-wall .fancybox{
        -webkit-transition: opacity 0.5s ease-in-out;
        -moz-transition: opacity 0.5s ease-in-out;
        transition: opacity 0.5s ease-in-out;
    }

    .profile-media-wall .image-holder:hover .fancybox{
        opacity: .8;
    }

    .profile-media-image-commands{
        display: none;
        position: absolute;
        right: 0;
        left: 0;
        top: 0;
        background-color: #000;
        padding: 2px;
    }

    .profile-media-wall .image-holder:hover .profile-media-image-commands{
        display: block;
    }

</style>

<div class="col-sm-10 main-content">

    <form action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="POST" class="fos_user_profile_edit">

        {{ form_errors(form) }}

        <ul class="tabs-activate profile-tabs" id="myTab">
            <li><a href="#personal-info" data-tab="1" class="is-active">Personal Info</a></li>
            <li><a href="#musician-info" data-tab="2">Musician Info</a></li>
            <li><a href="#media" data-tab="3">Media</a></li>
            <li><a href="#networks" data-tab="4">Networks</a></li>
        </ul>

        <br />

        <div class="view-tab-container clearfix">

            <div class="view-tab is-active" id="personal-info" data-tab="1">

                <div class="col-md-6">

                    {{ form_row(form.username) }}

                    {{ form_row(form.firstName) }}

                    {{ form_row(form.lastName) }}

                    <div class="col-md-6">

                        {{ form_row(form.gender) }}

                     </div>
                     <div class="col-md-6">

                        {{ form_row(form.birthDate) }}

                     </div>

                    <div class="clearfix"></div>

                    {{ form_row(form.email) }}

                </div>
                <div class="col-md-6">

                    <div class="form-group">
                        {{ form_label(form.location, 'Location'|trans, {'label_attr':{'class':'control-label'}}) }}
                        {{ form_errors(form.location) }}
                        <div>
                            {{ form_widget(form.location) }}
                        </div>
                    </div>
                </div>

            </div>
            <div class="view-tab" id="musician-info" data-tab="2">

                <div class="col-md-6">

                    {{ form_row(form.aboutMe) }}

                    <div id="musician_instruments" data-prototype="{{ form_widget(form.instruments.vars.prototype)|e }}">
                        {% for f in form.instruments %}
                            <div class="col-md-8">
                                {{ form_row(f.instrument) }}
                            </div>
                            <div class="col-md-4">
                                {{ form_row(f.skillLevel) }}
                            </div>
                        {% endfor %}
                    </div>

                    <a href="#" class="btn btn-sm btn-default" id="add_another_instrument"><span class="glyphicon glyphicon-plus-sign"></span> Add another instrument</a>

                </div>

                <div class="col-md-6">

                    <h4>I want to:</h4>

                    {{ form_widget(form.isVisitor) }}
                    {{ form_label(form.isVisitor) }}

                    <br />

                    {{ form_widget(form.isJammer) }}
                    {{ form_label(form.isJammer) }}

                    <br />

                    {{ form_widget(form.isTeacher) }}
                    {{ form_label(form.isTeacher) }}

                    {{ form_row(form.genres) }}

                    {{ form_row(form.brands) }}

                    <div class="clearfix"></div>

                    {{ form_row(form.artists) }}

                </div>

            </div>
            <div class="view-tab" id="media" data-tab="3">

                <div class="col-md-8">

                    <span class="btn btn-success btn-sm fileinput-button">
                        <i class="glyphicon glyphicon-plus"></i>
                        <span>Add files...</span>
                        <input type="file" name="file" id="upload_images" accept="image/*" data-url="{{ path('upload_user_image') }}" multiple >
                    </span>

                    <button type="submit" class="btn btn-primary start btn-sm">
                        <i class="glyphicon glyphicon-upload"></i>
                        <span>Start upload</span>
                    </button>

                    <div id="progress" class="progress">
                        <div class="progress-bar progress-bar-success"></div>
                    </div>

                    <div id="files" class="files"></div>

                    <div class="clearfix"></div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">{{ form_label(form.images, 'Photos'|trans) }}</h3>
                        </div>
                        <div class="panel-body">
                            <div id="user_images" class="profile-media-wall">
                                {% for i in form.vars.value.images %}
                                    <div class="image-holder profile-media-wall-item">
                                        <a class="fancybox" rel="group" href="{{ asset(i.getWebPath) }}"><img src="{{ asset(i.getWebPath) | imagine_filter('my_medium_'~i.type) }}" /></a>
                                        <div class="profile-media-image-commands">
                                            <a href="#" class="set-profile-photo" data-url="{{ path('set_avatar', {id: i.id}) }}">Set as avatar</a> |
                                            <a href="#" class="remove-image-ajax" data-url="{{ path('remove_user_image', {id: i.id}) }}" data-id="{{ i.id }}"><span class="glyphicon glyphicon-remove-sign"></span></a>
                                        </div>
                                        <div class="hidden">{{ form_widget(form.images[loop.index0]) }}</div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                </div>

                {# video links #}
                <div class="col-md-4">

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Youtube Videos</h3>
                        </div>
                        <div class="panel-body">
                            <ul id="musician_videos" data-prototype="{{ form_widget(form.videos.vars.prototype)|e }}">
                                {% for v in form.videos %}
                                    <li>{{ form_widget(v.url) }}</li>
                                {% endfor %}
                            </ul>
                            <a href="#" id="add_another_video" class="btn btn-sm btn-default">Add Another</a>
                        </div>
                    </div>

                </div>

            </div>
            <div class="view-tab" id="networks" data-tab="4">

                <h4>Facebook</h4>
                {% if app.user.facebookId %}
                    <!--add buttons -->
                    <a href="#">Connected</a>
                {% else %}
                    <a class="connect-with-facebook-btn" href="{{ path('jam_facebook_login') }}" ></a>
                {% endif %}

                <br />

                <h4>Soundcloud</h4>
                {% if app.user.soundcloudId %}
                    <!--add buttons -->
                    <a href="#">Connected</a>
                {% else %}
                    <a href="{{ path('jam_soundcloud_login') }}" class="connect-with-soundcloud-btn" ></a>
                {% endif %}

            </div>

        </div>


        {{ form_widget(form._token) }}
        <hr />
        <div class="col-md-3">
            <input type="submit" class="btn btn-primary" value="Save" />
        </div>
    </form>

</div>