{% extends 'JamWebBundle::layoutNoSidebar.html.twig' %}

{% block bottomstylesheets %}
    {% stylesheets
    'vendor/Jcrop/css/jquery.Jcrop.css'
    filter='cssrewrite' filter='?uglifycss'
    %}
    <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}
{% endblock %}

{% block bottom_javascripts %}

    {% javascripts
    'vendor/leaflet-dist/leaflet.js'
    'vendor/blueimp-file-upload/js/vendor/jquery.ui.widget.js'
    'vendor/blueimp-load-image/js/load-image.all.min.js'
    'vendor/blueimp-canvas-to-blob/js/canvas-to-blob.js'
    'vendor/blueimp-file-upload/js/jquery.iframe-transport.js'
    'vendor/blueimp-file-upload/js/jquery.fileupload.js'
    'vendor/blueimp-file-upload/js/jquery.fileupload-process.js'
    'vendor/blueimp-file-upload/js/jquery.fileupload-image.js'
    'vendor/Jcrop/js/jquery.Jcrop.js'
    'vendor/jquery-alphanum/jquery.alphanum.js'
    'assets/js/upload-photos.js'
    'assets/js/settings.js'
    '@JamLocationBundle/Resources/public/location.js'
    filter='?uglifyjs2'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script type="text/javascript">

        var mySoundsLoaded = false;

        $(function() {

            {% if user is defined and userTracks is defined %}
            {# TODO: separate JS and twig variables, make this more like function #}
            SC.initialize({
                client_id: '{{ soundcloud_app_id }}'
            });

            $('body').on('click', 'a.my-sounds', function(e){

                if (mySoundsLoaded == true) {
                    return false;
                }

                var $this = $(e.currentTarget);
                var userSoundcloudId = '{{ user.getSoundcloudId }}';

                if(userSoundcloudId !== ''){

                    var tracks = {{ userTracks|raw }};
                    console.log(tracks);

                    if(tracks.length > 0){

                        $('div[data-tab="'+$this.attr('data-tab')+'"] > div').html('');

                        for(var i = 0; i < tracks.length; i++){
                            var track = tracks[i];
                            console.log(track);

                            if (i == 0) {
                                var iframe = $('<iframe />', {
                                    id: 'iframe'+track.id,
                                    width: '100%',
                                    height: '166',
                                    scrolling: 'no',
                                    frameborder: 'no',
                                    src: 'https://w.soundcloud.com/player/?url='+track.uri
                                });
                                $('div[data-tab="'+$this.attr('data-tab')+'"] div').html(iframe);
                                SC.Widget(iframe[0]);
                            }

                            var trackLink = $('<li><a href="#" class="soundcloud-track-play" data-index="'+i+'" ><i class="fa fa-play-circle" aria-hidden="true"></i> '+track.title+'</a></li>');

                            $('div[data-tab="'+$this.attr('data-tab')+'"] ul').append(trackLink);
                        }

                        mySoundsLoaded = true;
                    }
                }
            });

            if (window.location.hash == '#sounds') {
                $('a.my-sounds').trigger('click');
            }

            $('body').on('click', '.my-sounds .soundcloud-track-play', function(e) {
                e.preventDefault();
                var index = $(this).data('index');
                var tracks = {{ userTracks|raw }};

                SC.Widget($('.my-sounds iframe')[0]).load(tracks[index].uri, {
                    'autoplay' : true
                });

            });

            {% endif %}

            {% if user is defined %}

                if ($('.compatibility').length > 0){
                    $.ajax({
                        url: Routing.generate('api_compatibility', { id: '{{ user.getId }}' }),
                        success: function(data) {
                            $('.compatibility span').text(data + '%');
                        }
                    });
                }

                getUserShouts();

            {% endif %}
        });
    </script>

{% endblock %}