{% extends 'JamUserBundle:Profile:profileLayout.html.twig' %}

{% block bodyclasses %}page-settings{% endblock %}

{% block fos_user_content %}
    {% form_theme form 'JamLocationBundle:Form:fields.html.twig' %}

    <style>
        #musician_videos li {
            margin-bottom: 5px;
        }

        .fancybox-title .remove-image-ajax {
            float: right;
        }

        .crop-coords {
            display: none;
        }

        .page-settings #files .preview-thumb {
            cursor: pointer;
        }

        .page-settings #files .preview-thumb :hover{
            outline: 1px solid #eaeaea;
        }

        .page-settings .add-another-video {
            width: 200px;
            margin-bottom: 6px;
        }

        .page-settings .remove-video {
            position: absolute;
            top: 5px;
            right: 5px;
            background-color: black;
            padding: 2px;
            font-size: 11px;
            color: #fff;
        }

        .page-settings .remove-video:hover {
            text-decoration: none;
        }

    </style>

    <h1 style="color: #18152b; font-size: 23px; margin: 0 0 10px; padding-top: 20px; text-transform: uppercase;">{{ 'label.setup.your.profile'|trans }}</h1>

    <form action="{{ path('fos_user_setup') }}" method="POST" class="fos_user_profile_edit">

        {{ form_errors(form) }}

        <div class="col-md-2 tabs-save">
            <button class="btn btn-primary btn-save" id="next-1"><i class="fa fa-angle-double-right"></i> {{ 'button.next'|trans }}</button>
            <button class="btn btn-primary btn-save hidden" id="finish-1"><i class="fa fa-check"></i> {{ 'button.finish'|trans }}</button>
        </div>

        <ul class="tabs-activate profile-tabs" id="myTab">
            <li><a href="#" data-tab="musician-info" id="musician-info-tab" class="is-active">{{ 'label.musician.info'|trans }}</a></li>
            <li><a href="#" data-tab="location-info" id="location-tab">{{ 'label.location'|trans }}</a></li>
        </ul>

        <div class="view-tab-container clearfix">

            <div class="view-tab with-scrollbar is-active" data-tab="musician-info">

                <div class="alert alert-info" role="alert">{{ 'label.musician.info.info'|trans }}</div>

                <br />

                <div class="row">
                    <div class="col-md-6">

                        {% include "JamUserBundle:Profile:chooseInstruments.html.twig" %}

                    </div>

                    <div class="col-md-6">

                        {{ form_row(form.genres) }}

                        {{ form_row(form.artists) }}

                        <div class="clearfix"></div>

                    </div>
                </div>

            </div>

            {# LOCATION #}
            <div class="view-tab with-scrollbar" data-tab="location-info" style="min-height: 320px;">

                <div class="alert alert-info" role="alert">{{ 'label.location.info'|trans }}</div>

                <br />

                <div class="row">
                    <div class="col-md-10">

                        <div class="form-group">
                            {{ form_label(form.location, 'Location'|trans, {'label_attr':{'class':'control-label'}}) }}
                            {{ form_errors(form.location) }}
                            <div>
                                {{ form_widget(form.location) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <input type="hidden" id="settings-current-hash" name="settings_current_hash" value="">

        {{ form_widget(form._token) }}
    </form>

{% endblock fos_user_content %}
