{% trans_default_domain 'FOSUserBundle' %}

{% set genresMatch = 0 %}
{% set artistsMatch = 0 %}

<div class="fos_user_user_show">

    <div class="col-md-3 profile-profile-column">
        <div class="profile-avatar-container">
            <img src="{{ path('musician_avatar', { 'username': user.username, 'size' : 'medium_thumb' }) }}" class="img-circle col-md-6" />
            <div class="col-md-6">
                <h3>{{ user.username }}</h3>
                <p>{% if user.firstName %} {{ user.firstName }} {% endif %}{% if user.lastName %} {{ user.lastName }} {% endif %}</p>
                {% if user.location %}
                    {% if user.location.getAdministrativeAreaLevel3 %}<p><i class="glyphicon glyphicon-map-marker"></i>
                        {% if user.location.neighborhood %}{{ user.location.neighborhood }},{% endif %} {{ user.location.getAdministrativeAreaLevel3 }}</p>{% endif %}
                {% endif %}
            </div>

            {% if app.user != user %}
                <a href="#" class="profile-send-message" data-toggle="modal" data-target="#messageModal">
                    <span class="glyphicon glyphicon-envelope"></span>
                </a>
            {% endif %}
        </div>

        <div class="clearfix"></div>

        <p>Instruments: </p>
        <ul>
            {% for i in user.instruments %}
                <li>
                    <a href="{{ path('musicians', {'search_form[instruments][]' : i.instrument.id }) }}">{{ i.instrument.name }}</a>
                        {% for l in 1..i.skillLevel %}
                            <i class="glyphicon glyphicon-star"></i>
                        {% endfor %}
                        {% if 4-i.skillLevel !=0 %}
                            {% for l in 1..(4-i.skillLevel) %}
                                <i class="glyphicon glyphicon-star-empty"></i>
                            {% endfor %}
                        {% endif %}
                </li>

            {% endfor %}
        </ul>

        <ul class="profile-genres">
            {% for g in user.genres %}
                <li><a href="{{ path('musicians', {'search_form[genres][]' : g.id }) }}">{{ g.name }}</a></li>

                {# calculate compatibility for gerens#}
                {% for g2 in app.user.genres %}
                    {% if g.id == g2.id %}
                        {% set genresMatch = genresMatch +1 %}
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </ul>

        <div class="clearfix"></div>

        <br />

        <p>Age: {{ user.age }}</p>
        <p>Gender: {{ user.genderText }}</p>

        <hr />

        <div class="profile-about-me">
            {{ user.aboutMe }}
        </div>

    </div>

    <div class="col-md-6 profile-media-wall-container">

        {% if user.isTeacher %}
            {% if app.user != user %}
                <a href="#" class="btn btn-sm btn-default pull-left" id="addUserRecommendationToggle"><span class="glyphicon glyphicon-heart"></span> Recommend</a>
            {% endif %}
        {% endif %}

        {% if app.user == user %}

            <a href="#" class="btn btn-sm btn-default pull-right" id="addPhotosToggle"><span class="glyphicon glyphicon-camera"></span> Add photos</a>
            <div class="clearfix"></div>

            <div class="profile-add-photos">
                <span class="btn btn-success btn-sm fileinput-button">
                        <i class="glyphicon glyphicon-plus"></i>
                        <span>Add files...</span>
                        <input type="file" name="file" id="upload_images" accept="image/*" data-url="{{ path('upload_user_image') }}" multiple >
                    </span>

                <button type="submit" class="btn btn-primary start btn-sm">
                    <i class="glyphicon glyphicon-upload"></i>
                    <span>Start upload</span>
                </button>

                <div id="progress" class="progress">
                    <div class="progress-bar progress-bar-success"></div>
                </div>

                <div id="files" class="files"></div>
            </div>

        {% endif %}

        <div class="clearfix"></div>

        <div class="profile-write-recommendation">
            <textarea class="form-control" placeholder="Say something nice"></textarea>
        </div>

        <div class="profile-media-wall">

            {% if user.images|length == 0 and user.videos|length == 0 %}
                <h3>Upload some photos here</h3>
            {% endif %}

            {% if user.images|length > 0 %}
                {% for i in user.images %}
                    <div class="image-holder profile-media-wall-item">
                        <a class="fancybox" rel="group" href="{{ asset(i.getWebPath) }}"><img src="{{ asset(i.getWebPath) | imagine_filter('my_medium_'~i.type) }}" /></a>
                        {% if app.user == user %}
                        <div class="profile-media-image-commands">
                            <a href="#" class="set-profile-photo" data-url="{{ path('set_avatar', {id: i.id}) }}">Set as avatar</a> |
                            <a href="#" class="remove-image-ajax" data-url="{{ path('remove_user_image', {id: i.id}) }}" data-id="{{ i.id }}"><span class="glyphicon glyphicon-remove-sign"></span></a>
                        </div>
                        {% endif %}
                    </div>
                {% endfor %}
            {% endif %}

            {% for v in user.videos %}
                <iframe width="510" height="315" class="profile-media-wall-item" src="{{ v.url }}??autoplay=0&showinfo=0&controls=0" frameborder="0" allowfullscreen></iframe>
            {% endfor %}

        </div>

        {% if app.user != user %}

            <!-- Modal -->
            <div class="modal fade" id="messageModal" data-id="{{ user.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="myModalLabel">Send Message</h4>
                        </div>
                        <div class="modal-body">
                            <div class="conversation-message-box"></div>
                            <textarea class="form-control send-message" maxlength="250" data-toID="{{ user.id }}" data-toUsername="{{ user.username }}" cols="3" placeholder="Say something cool..." ></textarea>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

        {% endif %}

    </div>

    <div class="col-md-3 profile-profile-column" style="padding:0">

        <h4>Artists</h4>
        <ul>
            {% for a in user.artists %}
                <li>{{ a.name }}</li>
                {# calculate compatibility for gerens#}
                {% for g2 in app.user.artists %}
                    {% if a.name == g2.name %}
                        {% set artistsMatch = artistsMatch +1 %}
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </ul>

        <h4>Brands</h4>
        <ul>
            {% for b in user.brands %}
                <li>{{ b.name }}</li>
            {% endfor %}
        </ul>

        {% if user.isTeacher %}
            <h4>Recommendations</h4>
        {% else %}

        <h4>Jams</h4>
        <ul>
            {% for j in user.jamsMember %}
                <li><a href="{{ path('view_jam', { 'slug': j.jam.slug } ) }}">{{ j.jam.name }}</a> ({{ j.role }})</li>
            {% endfor %}
        </ul>

        {% endif %}

        <h4>Shouts</h4>

        {% for s in user.shouts %}
            <div class="profile-shout">
                {{ s.text }}
                <hr />
                <span class="shout-created-at"><i class="glyphicon glyphicon-time"></i> {{ s.createdAt.date }}</span>
            </div>

        {% endfor %}

        <h4>Similar People Nearby</h4>

        <div class="similar-nearby-box"></div>

    </div>

    {# calculate compatibility #}

    {# #}

</div>

