{% extends 'JamUserBundle:Profile:profileLayout.html.twig' %}

{% block bodyclasses %}page-profile{% endblock %}

{% block fos_user_content %}

    {# TODO: TEACHER SPECIFIC FIXES #}

    <div class="teacher-container grey">
        <div class="row teacher-header">
            <section class="col-sm-5 teacher-info">
                <div class="teacher-info-inner">
                    <div class="profile-picture-box">
                        <img src="{{ path('musician_avatar', { 'username': user.username, 'size' : 'my_medium_1' }) }}" alt="{% if user.firstName %} {{ user.firstName }} {% endif %}{% if user.lastName %} {{ user.lastName }} {% endif %}" class="profile-picture">
                    </div>

                    <div class="info">
                        <h1>{{ user.username }}</h1>
                        <p>{% if user.firstName %} {{ user.firstName }} {% endif %}{% if user.lastName %} {{ user.lastName }} {% endif %}</p>
                        {% if user.location %}
                            {% if user.location.getAdministrativeAreaLevel3 %}
                                <div class="location">
                                    <i class="fa fa-map-marker"></i> {% if user.location.neighborhood %}{{ user.location.neighborhood }},{% endif %} {{ user.location.getAdministrativeAreaLevel3 }}
                                </div>
                            {% endif %}
                        {% endif %}

                        <div class="bio">{{ user.genderText }}{% if user.age %}, {{ 'user.age'|trans({'%user.age%' : user.age})|desc('%user.age% years old') }}{% endif %}</div>

                        {% if user.isJammer %}
                            <div class="availability">
                                <img src="{{ asset('assets/images/available.png') }}" alt="Available">{{ 'label.available'|trans }}
                            </div>
                        {% endif %}

                        {% if is_granted("ROLE_USER") and app.user != user %}
                            <a href="#" class="btn btn-primary open-conversation" data-user-id="{{ user.id }}" data-user="{{ user.username }}"><i class="glyphicon glyphicon-envelope"></i><span>{{ 'button.message'|trans }}</span></a>
                        {% endif %}

                        {% if app.user != user %}
                            <ul class="compatibility-box visible-xs">
                                <li>
                                    <img src="{{ asset('assets/images/icon-compatibility.png') }}" alt="Compatibility">
                                </li>
                                <li class="compatibility">
                                    <span></span>
                                    {{ 'label.compatibility'|trans }}
                                </li>
                            </ul>
                        {% endif %}
                    </div>
                </div>

                <div class="instruments-profile-icons">
                    {% render(controller('JamWebBundle:Musicians:getUniqueIcons', {'username': user.username })) %}
                </div>

                {% if user.isTeacher %}
                    <ul class="text-header clearfix">
                        <li class="first">
                            <img src="{{ asset('assets/images/icon-notebook.png') }}" alt="Notebook" class="icon-teacher">
                            {{ 'text.teacher'|trans }}
                        </li>
                        {% if user.hourlyRate %}
                            <li class="rate">
                                - {{ 'text.hourly.rate'|trans }}:<span>&euro;{{ user.hourlyRate }}</span>
                            </li>
                        {% endif %}
                    </ul>
                {% endif %}
            </section>
            <!--teacher-info ends-->

            <section class="col-sm-3 teacher-instruments">
                <div class="teacher-instruments-inner with-scrollbar">
                    <div class="row">

                        {% if user.instruments|length == 0 %}
                            <div class="col-xs-12 empty-message">{{ 'text.no.instruments.yet'|trans }}</div>
                        {% endif %}

                        {% for i in user.instruments %}
                            <div class="col-xs-6">
                                <a href="{{ path('musicians', {'instruments' : i.instrument.id }) }}">{{ i.instrument.name }}</a><br>
                                {% if i.skillLevel is not null and i.skillLevel == 10 %}
                                    <span class="main">teaching</span>
                                {% else %}
                                    {% if loop.first %}<span class="main">{{ 'text.main'|trans }}</span>{% endif %}
                                {% endif %}
                            </div>

                            <div class="col-xs-6">
                                <ul>
                                    {% if i.skillLevel is not null and i.skillLevel != 10 %}
                                        {% for l in 1..i.skillLevel %}
                                            <li><span class="active"></span></li>
                                        {% endfor %}
                                        {% if 5-i.skillLevel !=0 %}
                                            {% for l in 1..(5-i.skillLevel) %}
                                                <li><span></span></li>
                                            {% endfor %}
                                        {% endif %}
                                    {% endif %}
                                </ul>

                            </div>
                        {% endfor %}
                    </div>
                </div>
            </section>
            <!--teacher-instruments ends-->

            <section class="col-sm-4 teacher-favorites dark">
                <div class="teacher-favorites-inner">

                    {# genres #}
                    {% if user.genres|length == 0 %}
                        <div class="tags-container"><span>{{ 'text.no.genres.yet'|trans }}</span></div>
                    {% else %}
                        <div class="tags-container">
                            <ul class="tags">
                                {% for g in user.genres %}
                                    <li><a href="{{ path('musicians', {'genres' : g.genre.id }) }}">{{ g.genre.name }}</a></li>
                                {% endfor %}
                            </ul>
                            {% if user.genres|length > 3 %}
                                <a href="#" class="show-all-tags"><i class="fa fa-angle-down"></i></a>
                            {% endif %}
                        </div>
                    {% endif %}

                    {# influencers #}
                    <div class="favorite-group first">
                        <span>{{ 'text.influencers'|trans }}:</span>
                        {% if user.artists|length == 0 %}{{ 'text.none'|trans }}{% endif %}
                        <div class="favorite-group-inner with-scrollbar">
                            {% for a in user.artists %}
                                {{ a.name }}{% if not loop.last %}, {% endif %}
                            {% endfor %}
                        </div>
                    </div>

                    {# gear #}
                    <div class="favorite-group">
                        <span>{{ 'text.gear'|trans }}:</span>
                        {% if user.gear|length == 0 %}None.{% endif %}
                        <div class="favorite-group-inner with-scrollbar">
                            {% for b in user.gear %}
                                {{ b.name }}{% if not loop.last %}, {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </section>
        </div>

        {% if is_granted("ROLE_USER") %}

            <div class="row">
                <section class="col-sm-8 main-content">

                    <ul class="tabs-activate profile-tabs">
                        <li><a href="#" data-tab="about" class="is-active">{{ 'label.about'|trans }}</a></li>
                        <li><a href="#" data-tab="photos" class="my-photos">{{ 'label.photos'|trans }}</a></li>
                        <li><a href="#" data-tab="videos" class="my-videos">{{ 'label.videos'|trans }}</a></li>
                        <li><a href="#" data-tab="sounds" class="my-sounds">{{ 'label.sounds'|trans }}</a></li>
                        <li class="last hidden-xs">
                            {% if app.user != user %}
                                <ul class="compatibility-box">
                                    <li>
                                        <img src="{{ asset('assets/images/icon-compatibility.png') }}" alt="Compatibility">
                                    </li>
                                    <li class="compatibility">
                                        &nbsp;
                                        <span></span>
                                        {{ 'label.compatibility'|trans }}
                                    </li>
                                </ul>
                            {% endif %}
                        </li>
                    </ul>

                    <div class="main-content-inner">

                        <div class="view-tab-container teacher-text-container with-scrollbar">

                            <div class="view-tab about is-active" data-tab="about">
                                {% if user.isTeacher %}<h6>{{ 'text.overview'|trans }}</h6>{% endif %}
                                <p>{{ user.aboutMe|default('text.nothing.yet.here'|trans) }}</p>

                                {% if user.isTeacher %}
                                    <h6>{{ 'label.education'|trans }}</h6>
                                    <p>{{ user.education|default('text.nothing.yet.here'|trans) }}</p>
                                {% endif %}
                            </div>

                            <div class="view-tab my-photos" data-tab="photos">

                                <div class="profile-media-wall">

                                    {% if user.images|length == 0 %}
                                        <p>{{ 'label.no.images'|trans }}</p>
                                    {% endif %}

                                    {% for i in user.images %}
                                        <div class="image-holder profile-media-wall-item">
                                            <a class="fancybox" rel="group" href="{{ asset(i.getWebPath) }}"><img src="{{ asset(i.getWebPath) | imagine_filter('my_medium_'~i.type) }}" /></a>
                                        </div>
                                    {% endfor %}
                                </div>

                            </div>
                            <!--photos ends-->

                            <div class="view-tab my-videos" data-tab="videos">

                                {% if user.videos|length == 0 %}
                                    <p>{{ 'label.no.videos'|trans }}</p>
                                {% endif %}

                                <ul>
                                {% for v in user.videos %}
                                    <div class="ytvideo-holder">
                                        <a class="ytvideo" rel="group" href="{{ v.url }}&autoplay=1&showinfo=0&controls=1">
                                            <span class="play-icon"></span>
                                            <img src="" height="140" width="260" />
                                        </a>
                                    </div>
                                {% endfor %}
                                </ul>
                            </div>
                            <!--videos ends-->

                            <div class="view-tab my-sounds" data-tab="sounds">
                                {% if (user.getSoundcloudId == "") %}
                                    <p>{{ 'label.no.sounds'|trans }}</p>
                                {% endif %}
                            </div>

                        </div>
                        <!--view-tab-container ends-->
                    </div>
                </section>
                <!--main-content ends-->

                <section class="col-sm-4 hidden-xs shouts-sidebar" data-username="{{ user.username }}">
                    <div class="sidebar-inner">

                        <div class="shouts-feed">
                            <h3>{{ 'text.shouts.feed'|trans }}</h3>
                        </div>
                        <!--shouts-feed ends-->

                        <div class="shouts-listing-container">
                            <div class="shouts-listing shouts-listing-feed"></div>
                            <!--shouts-listing ends-->
                        </div>
                        <!--shouts-listing-container ends-->

                    </div>
                </section>
            </div>
        {% endif %}
    </div>

{% endblock fos_user_content %}
