{% set genresMatch = 0 %}
{% set artistsMatch = 0 %}

<style>
    .teacher-instruments .teacher-instruments-inner {
        padding: 20px 0px 0 30px;
    }
    /* line 737, ../sass/jamifind/_main.scss */
    .text-header {
        border-bottom: 1px solid #18152b;
        padding: 5px 0 10px;
    }
    /* line 742, ../sass/jamifind/_main.scss */
    .text-header li {
        color: #18152b;
        float: right;
        font-family: "Hind Semibold";
        font-size: 13px;
        list-style: none;
        text-transform: uppercase;
    }
    /* line 750, ../sass/jamifind/_main.scss */
    .text-header li.first {
        float: left;
    }
    /* line 753, ../sass/jamifind/_main.scss */
    .text-header li.first img {
        margin-left: 5px;
        margin-right: 15px;
    }
    /* line 759, ../sass/jamifind/_main.scss */
    .text-header li.guitar {
        margin-right: 30px;
    }
    /* line 762, ../sass/jamifind/_main.scss */
    .text-header li.guitar img {
        margin-left: 15px;
    }
    /* line 769, ../sass/jamifind/_main.scss */
    .text-header li.rate span {
        font-size: 18px;
        margin-left: 10px;
    }
</style>

{# TODO: TEACHER #}

<div class="col-sm-10 teacher-container grey">
    <div class="row teacher-header">
        <section class="col-sm-5 teacher-info">
            <img src="{{ path('musician_avatar', { 'username': user.username, 'size' : 'my_medium_1' }) }}" alt="Teacher">

            <div class="info">
                <h1>{% if user.firstName %} {{ user.firstName }} {% endif %}{% if user.lastName %} {{ user.lastName }} {% endif %}</h1>
                {% if user.location %}
                    {% if user.location.getAdministrativeAreaLevel3 %}
                        <div class="location">
                            {% if user.location.neighborhood %}{{ user.location.neighborhood }},{% endif %} {{ user.location.getAdministrativeAreaLevel3 }}
                        </div>
                    {% endif %}
                {% endif %}
                <div class="bio">{{ user.genderText }}{% if user.age %}, {{ user.age }} years{% endif %}</div>

                {% if app.user != user %}
                    <a href="#" class="btn btn-primary open-conversation" data-id="{{ user.id }}" data-user="{{ user.username }}"><i class="glyphicon glyphicon-envelope"></i>Message</a>
                {% endif %}
            </div>
        </section>
        <!--teacher-info ends-->

        <section class="col-sm-3 teacher-instruments">
            <div class="teacher-instruments-inner">

                {% for i in user.instruments %}
                    <div class="col-sm-7">
                        <a href="{{ path('musicians', {'s[instruments][]' : i.instrument.id }) }}">{{ i.instrument.name }}</a><br>
                        <span class="main">main</span>
                    </div>

                    <div class="col-sm-5">
                        <ul>
                            {% for l in 1..i.skillLevel %}
                                <li><span class="active"></span></li>
                            {% endfor %}
                            {% if 4-i.skillLevel !=0 %}
                                {% for l in 1..(4-i.skillLevel) %}
                                    <li><span></span></li>
                                {% endfor %}
                            {% endif %}
                        </ul>

                    </div>

                {% endfor %}
            </div>
        </section>
        <!--teacher-instruments ends-->

        <section class="col-sm-4 teacher-favorites dark">
            {% if user.genres|length == 0 %}
            {% else %}
                <div class="tags-container">
                    <ul class="tags">
                        {% for g in user.genres %}

                            <li><a href="{{ path('musicians', {'s[genres][]' : g.id }) }}">{{ g.name }}</a></li>

                            {# calculate compatibility for gerens#}
                            {% for g2 in app.user.genres %}
                                {% if g.id == g2.id %}
                                    {% set genresMatch = genresMatch +1 %}
                                {% endif %}
                            {% endfor %}

                        {% endfor %}
                    </ul>
                    <a href="#" class="show-all-tags"><i class="fa fa-angle-down"></i></a>
                </div>
            {% endif %}

            <!--influencers -->
            <div class="favorite-group first with-scrollbar">
                <span>Influencers:</span>
                {% if user.artists|length == 0 %}None.{% endif %}
                {% for a in user.artists %}
                    {{ a.name }},
                    {# calculate compatibility for gerens#}
                    {% for g2 in app.user.artists %}
                        {% if a.name == g2.name %}
                            {% set artistsMatch = artistsMatch +1 %}
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </div>
            <div class="favorite-group with-scrollbar">
                <span>Favourite brands:</span>
                {% if user.brands|length == 0 %}None.{% endif %}
                {% for b in user.brands %}
                    {{ b.name }},
                {% endfor %}
            </div>
        </section>
    </div>

    <div class="row">
        <section class="col-sm-9 main-content">
                {% if user.isTeacher %}
                    <ul class="text-header clearfix">
                        <li class="first">
                            <img src="{{ asset('images/icon-notebook.png') }}" alt="Notebook">
                            teacher
                        </li>
                        {% if user.hourlyRate %}
                            <li class="rate">
                                Hourly rate:<span>{{ user.hourlyRate }}</span>
                            </li>
                        {% endif %}
                    </ul>
                {% endif %}

                <ul class="tabs-activate profile-tabs">
                    <li><a href="#" data-tab="1" class="is-active">About</a></li>
                    <li><a href="#" data-tab="2" class="my-stuff">My Stuff</a></li>
                    <li class="last">
                        {% if app.user != user %}
                            <ul class="compatibility-box">
                                <li>
                                    <img src="{{ asset('images/icon-compatibility.png') }}" alt="Compatibility">
                                </li>
                                <li class="compatibility">
                                    <span>46%</span>
                                    compatibility
                                </li>
                            </ul>
                        {% endif %}
                    </li>
                </ul>

            <div class="main-content-inner">

                <div class="view-tab-container teacher-text-container with-scrollbar">

                    <div class="view-tab about is-active" data-tab="1">
                        <p>{{ user.aboutMe }}</p>
                    </div>

                    <div class="view-tab stuff" data-tab="2">

                        <div class="profile-media-wall">

                            {% if user.images|length == 0 and user.videos|length == 0 %}
                                <h3>Upload some photos here</h3>
                            {% endif %}

                            {% if user.images|length > 0 %}
                                {% for i in user.images %}
                                    <div class="image-holder profile-media-wall-item">
                                        <a class="fancybox" rel="group" href="{{ asset(i.getWebPath) }}"><img src="{{ asset(i.getWebPath) | imagine_filter('my_medium_'~i.type) }}" /></a>
                                        {#{% if app.user == user %}
                                            <div class="profile-media-image-commands">
                                                <a href="#" class="set-profile-photo" data-url="{{ path('set_avatar', {id: i.id}) }}">Set as avatar</a> |
                                                <a href="#" class="remove-image-ajax" data-url="{{ path('remove_user_image', {id: i.id}) }}" data-id="{{ i.id }}"><span class="glyphicon glyphicon-remove-sign"></span></a>
                                            </div>
                                        {% endif %}#}
                                    </div>
                                {% endfor %}
                            {% endif %}

                            {% for v in user.videos %}
                                <div class="image-holder profile-media-wall-item">
                                    <a class="ytvideo" rel="group" href="{{ v.url }}&autoplay=1&showinfo=0&controls=0"><img src="" height="140" /></a>
                                </div>
                                {#<iframe width="140" height="140" class="profile-media-wall-item fancybox" src="" frameborder="0" allowfullscreen></iframe>#}
                            {% endfor %}

                        </div>

                    </div>
                    <!--stuff ends-->

                </div>
                <!--view-tab-container ends-->
            </div>
        </section>
        <!--main-content ends-->

        <section class="col-sm-3 shouts-sidebar">

            <div class="shouts-feed">
                <h3>Shouts feed</h3>
            </div>
            <!--shouts-feed ends-->

            <div class="shouts-listing-container">
                <div class="shouts-listing">

                    {% if user.shouts|length == 0 %}
                        <h5>No shouts yet.</h5>
                    {% endif %}

                    {% for s in user.shouts %}

                        <article class="shout-box clearfix">
                            <a href="{{ app.request.getBaseURL() }}/m/{{ user.username }}" class="musician-box-image-link img-circle">
                                <img src="{{ app.request.getBaseURL() }}/m/{{ user.username }}/avatar" class="" width="50" />
                            </a>

                            <div class="shout-text">
                                <h4 class="name">{{ user.username }}</h4>

                                <div class="time">
                                    <span>{{ s.createdAt.date }} min</span>ago
                                </div>
                                <p>{{ s.text }}</p>
                            </div>
                        </article>

                    {% endfor %}

                </div>
                <!--shouts-listing ends-->
            </div>
            <!--shouts-listing-container ends-->

        </section>
    </div>

</div>