<style>
    /*.teacher-instruments .teacher-instruments-inner {
        padding: 20px 0px 0 30px;
    }
    .text-header {
        border-bottom: 1px solid #18152b;
        padding: 5px 0 10px;
    }
    .text-header li {
        color: #18152b;
        float: right;
        font-family: "Hind Semibold";
        font-size: 13px;
        list-style: none;
        text-transform: uppercase;
    }
    .text-header li.first {
        float: left;
    }
    .text-header li.first img {
        margin-left: 5px;
        margin-right: 15px;
    }
    .text-header li.guitar {
        margin-right: 30px;
    }
    .text-header li.guitar img {
        margin-left: 15px;
    }
    .text-header li.rate span {
        font-size: 18px;
        margin-left: 10px;
    }*/
</style>

{# TODO: TEACHER #}

{% if is_granted("ROLE_USER") %}
    <div class="col-sm-10 teacher-container grey">
{% else %}
    <div class="col-sm-8 teacher-container grey">
{% endif %}

    <div class="row teacher-header">
        <section class="col-sm-5 teacher-info">
            <div class="teacher-info-inner">
                <div class="profile-picture-box">
                    <img src="{{ path('musician_avatar', { 'username': user.username, 'size' : 'my_medium_1' }) }}" alt="{% if user.firstName %} {{ user.firstName }} {% endif %}{% if user.lastName %} {{ user.lastName }} {% endif %}" class="profile-picture">
                </div>

                <div class="info">
                    <h1>{% if user.firstName %} {{ user.firstName }} {% endif %}{% if user.lastName %} {{ user.lastName }} {% endif %}</h1>
                    {% if user.location %}
                        {% if user.location.getAdministrativeAreaLevel3 %}
                            <div class="location">
                                {% if user.location.neighborhood %}{{ user.location.neighborhood }},{% endif %} {{ user.location.getAdministrativeAreaLevel3 }}
                            </div>
                        {% endif %}
                    {% endif %}
                    <div class="bio">{{ user.genderText }}{% if user.age %}, {{ user.age }} years{% endif %}</div>

                    {% if is_granted("ROLE_USER") and app.user != user %}
                        <a href="#" class="btn btn-primary open-conversation" data-id="{{ user.id }}" data-user="{{ user.username }}"><i class="glyphicon glyphicon-envelope"></i>Message</a>
                    {% endif %}
                </div>
            </div>
        </section>
        <!--teacher-info ends-->

        <section class="col-sm-3 teacher-instruments">
            <div class="teacher-instruments-inner">
                <div class="row">

                    {% if user.instruments|length == 0 %}
                        <div class="col-sm-10">No instruments yet.</div>
                    {% endif %}

                    {% for i in user.instruments %}
                        <div class="col-xs-6">
                            <a href="{{ path('musicians', {'s[instruments][]' : i.instrument.id }) }}">{{ i.instrument.name }}</a><br>
                            <span class="main">main</span>
                        </div>

                        <div class="col-xs-6">
                            <ul>
                                {% for l in 1..i.skillLevel %}
                                    <li><span class="active"></span></li>
                                {% endfor %}
                                {% if 4-i.skillLevel !=0 %}
                                    {% for l in 1..(4-i.skillLevel) %}
                                        <li><span></span></li>
                                    {% endfor %}
                                {% endif %}
                            </ul>

                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
        <!--teacher-instruments ends-->

        <section class="col-sm-4 teacher-favorites dark">
            <div class="teacher-favorites-inner">

                <!-- genres -->
                {% if user.genres|length == 0 %}
                <div class="tags-container">No genres yet.</div>
                {% else %}
                    <div class="tags-container">
                        <ul class="tags">
                            {% for g in user.genres %}
                                <li><a href="{{ path('musicians', {'s[genres][]' : g.id }) }}">{{ g.name }}</a></li>
                            {% endfor %}
                        </ul>
                        <a href="#" class="show-all-tags"><i class="fa fa-angle-down"></i></a>
                    </div>
                {% endif %}

                <!-- influencers -->
                <div class="favorite-group first">
                    <span>Influencers:</span>
                    {% if user.artists|length == 0 %}None.{% endif %}
                    <div class="favorite-group-inner with-scrollbar">
                        {% for a in user.artists %}
                            {{ a.name }},
                        {% endfor %}
                    </div>
                </div>
                <!-- brands -->
                <div class="favorite-group">
                    <span>Favourite brands:</span>
                    {% if user.brands|length == 0 %}None.{% endif %}
                    <div class="favorite-group-inner with-scrollbar">
                        {% for b in user.brands %}
                            {{ b.name }},
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>
    </div>

    {% if is_granted("ROLE_USER") %}

        <div class="row">
            <section class="col-sm-8 col-md-9 main-content">
                    {% if user.isTeacher %}
                        <ul class="text-header clearfix">
                            <li class="first">
                                <img src="{{ asset('assets/images/icon-notebook.png') }}" alt="Notebook">
                                teacher
                            </li>
                            {% if user.hourlyRate %}
                                <li class="rate">
                                    Hourly rate:<span>{{ user.hourlyRate }}</span>
                                </li>
                            {% endif %}
                        </ul>
                    {% endif %}

                    <ul class="tabs-activate profile-tabs">
                        <li><a href="#" data-tab="about" class="is-active">About</a></li>
                        <li><a href="#" data-tab="photos" class="my-photos">Photos</a></li>
                        <li><a href="#" data-tab="videos" class="my-videos">Videos</a></li>
                        <li><a href="#" data-tab="sounds" class="my-sounds">Sounds</a></li>
                        <li class="last">
                            {% if app.user != user %}
                                <ul class="compatibility-box">
                                    <li>
                                        <img src="{{ asset('assets/images/icon-compatibility.png') }}" alt="Compatibility">
                                    </li>
                                    <li class="compatibility">
                                        <span>46%</span>
                                        compatibility
                                    </li>
                                </ul>
                            {% endif %}
                        </li>
                    </ul>

                <div class="main-content-inner">

                    <div class="view-tab-container teacher-text-container with-scrollbar">

                        <div class="view-tab about is-active" data-tab="1">
                            <p>{{ user.aboutMe }}</p>
                        </div>

                        <div class="view-tab my-photos" data-tab="2">

                            <div class="profile-media-wall">

                                {% if user.images|length == 0 %}
                                    <h3>Upload some photos here</h3>
                                {% endif %}

                                {% for i in user.images %}
                                    <div class="image-holder profile-media-wall-item">
                                        <a class="fancybox" rel="group" href="{{ asset(i.getWebPath) }}"><img src="{{ asset(i.getWebPath) | imagine_filter('my_medium_'~i.type) }}" /></a>
                                    </div>
                                {% endfor %}
                            </div>

                        </div>
                        <!--photos ends-->

                        <div class="view-tab my-videos" data-tab="3">

                            {% if user.videos|length == 0 %}
                                <h3>Put some videos here</h3>
                            {% endif %}

                            {% for v in user.videos %}
                                <div class="image-holder profile-media-wall-item">
                                    <a class="ytvideo" rel="group" href="{{ v.url }}&autoplay=1&showinfo=0&controls=0"><img src="" height="140" /></a>
                                </div>
                                {#<iframe width="140" height="140" class="profile-media-wall-item fancybox" src="" frameborder="0" allowfullscreen></iframe>#}
                            {% endfor %}
                        </div>
                        <!--videos ends-->

                        <div class="view-tab my-sounds" data-tab="4">

                        </div>

                    </div>
                    <!--view-tab-container ends-->
                </div>
            </section>
            <!--main-content ends-->

            <section class="col-sm-4 col-md-3 hidden-xs shouts-sidebar">
                <div class="sidebar-inner">

                    <div class="shouts-feed">
                        <h3>Shouts feed</h3>
                    </div>
                    <!--shouts-feed ends-->

                    <div class="shouts-listing-container">
                        <div class="shouts-listing shouts-listing-feed">

                            {% if user.shouts|length == 0 %}
                                <h5>No shouts yet.</h5>
                            {% endif %}

                            {% for s in user.shouts %}

                                <article class="shout-box clearfix">
                                    <a href="{{ app.request.getBaseURL() }}/m/{{ user.username }}" class="musician-box-image-link img-circle">
                                        <img src="{{ app.request.getBaseURL() }}/m/{{ user.username }}/avatar" class="" width="50" />
                                    </a>

                                    <div class="shout-text">
                                        <h4 class="name">{{ user.username }}</h4>

                                        <div class="time">
                                            <span>{{ s.createdAt.date }} min</span>ago
                                        </div>
                                        <p>{{ s.text }}</p>
                                    </div>
                                </article>

                            {% endfor %}

                        </div>
                        <!--shouts-listing ends-->
                    </div>
                    <!--shouts-listing-container ends-->

                </div>
            </section>
        </div>
    {% endif %}
</div>