{% trans_default_domain 'FOSUserBundle' %}

<div class="fos_user_user_show">

    <div class="col-md-6">

        <img src="{{ path('musician_avatar', { 'username': user.username }) }}" class="img-circle" />

        <p>{{ 'profile.show.username'|trans }}: {{ user.username }}</p>
        <p>{{ 'profile.show.first_name'|trans }}: {{ user.firstName }}</p>
        <p>{{ 'profile.show.last_name'|trans }}: {{ user.lastName }}</p>
        <p>{{ 'profile.show.about_me'|trans }}: {{ user.aboutMe }}</p>

        <p>Age: {{ user.age }}</p>
        <p>Gender: {{ user.genderText }}</p>

        {% if app.user != user %}

            <!-- Button trigger modal -->
            <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal">
                Send Message
            </button>

            <!-- Modal -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="myModalLabel">Send Message</h4>
                        </div>
                        <div class="modal-body">
                            <textarea class="form-control send-message" maxlength="250" data-toID="{{ user.id }}" data-toUsername="{{ user.username }}" cols="3" placeholder="Say something cool..." ></textarea>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

        {% endif %}

    </div>

    <div class="col-md-6">

        {% if user.isTeacher %}
            <p>This guy is a teacher!</p>
        {% endif %}

        <p>Genres: </p>
        <ul>
        {% for g in user.genres %}
            <li><a href="{{ path('musicians', {'search_form[genres][]' : g.id }) }}">{{ g.name }}</a></li>
        {% endfor %}
        </ul>

        <p>Artists: </p>
        <ul>
            {% for a in user.artists %}
                <li>{{ a.name }}</li>
            {% endfor %}
        </ul>

        <p>Instruments: </p>
        <ul>
            {% for i in user.instruments %}
                <li><a href="{{ path('musicians', {'search_form[instruments][]' : i.instrument.id }) }}">{{ i.instrument.name }}</a></li>

            {% endfor %}
        </ul>

        <p>Brands: </p>
        <ul>
            {% for b in user.brands %}
                <li>{{ b.name }}</li>
            {% endfor %}
        </ul>

        <p>Jams: </p>
        <ul>
            {% for j in user.jamsMember %}
                <li><a href="{{ path('view_jam', { 'slug': j.jam.slug } ) }}">{{ j.jam.name }}</a> ({{ j.role }})</li>
            {% endfor %}
        </ul>

    </div>

</div>
