
{% set genresMatch = 0 %}
{% set artistsMatch = 0 %}

{# TODO: TEACHER #}

<div class="col-sm-10 teacher-container grey">
    <div class="row teacher-header">
        <section class="col-sm-5 teacher-info">
            <img src="{{ path('musician_avatar', { 'username': user.username, 'size' : 'medium_thumb' }) }}" alt="Teacher">
            <div class="info">
                <h1>{% if user.firstName %} {{ user.firstName }} {% endif %}{% if user.lastName %} {{ user.lastName }} {% endif %}</h1>
                {% if user.location %}
                    {% if user.location.getAdministrativeAreaLevel3 %}
                        <div class="location">
                            {% if user.location.neighborhood %}{{ user.location.neighborhood }},{% endif %} {{ user.location.getAdministrativeAreaLevel3 }}
                        </div>
                    {% endif %}
                {% endif %}
                <div class="bio">{{ user.genderText }}, {{ user.age }} years</div>
                <div class="availability">
                    <img src="images/available.png" alt="Available">Available
                </div>
                <a href="" class="btn btn-primary"><i class="glyphicon glyphicon-envelope"></i>Message</a>
            </div>
        </section><!--teacher-info ends-->

        <section class="col-sm-3 teacher-instruments">
            <div class="teacher-instruments-inner">

                {% for i in user.instruments %}
                    <div class="col-sm-7">
                        <a href="{{ path('musicians', {'search_form[instruments][]' : i.instrument.id }) }}">{{ i.instrument.name }}</a><br>
                        <span class="main">main</span>
                    </div>

                <div class="col-sm-5">
                    <ul>
                        {% for l in 1..i.skillLevel %}
                            <li><span class="active"></span></li>
                        {% endfor %}
                        {% if 4-i.skillLevel !=0 %}
                            {% for l in 1..(4-i.skillLevel) %}
                                <li><span></span></li>
                            {% endfor %}
                        {% endif %}
                    </ul>

                </div>


                {% endfor %}
            </div>
        </section><!--teacher-instruments ends-->

        <section class="col-sm-4 teacher-favorites reordered">
            <ul class="tags">
                {% for g in user.genres %}

                    <li><a href="{{ path('musicians', {'search_form[genres][]' : g.id }) }}">{{ g.name }}</a></li>

                    {# calculate compatibility for gerens#}
                    {% for g2 in app.user.genres %}
                        {% if g.id == g2.id %}
                            {% set genresMatch = genresMatch +1 %}
                        {% endif %}
                    {% endfor %}

                {% endfor %}
            </ul>
            <div class="favorite-group">
                <span>Influencers:</span>
                {% for a in user.artists %}
                    {{ a.name }},
                    {# calculate compatibility for gerens#}
                    {% for g2 in app.user.artists %}
                        {% if a.name == g2.name %}
                            {% set artistsMatch = artistsMatch +1 %}
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </div>
            <div class="favorite-group">
                <span>Favourite brands:</span>
                {% for b in user.brands %}
                    {{ b.name }},
                {% endfor %}
            </div>
        </section>
    </div>

    <div class="row">
        <section class="col-sm-9 main-content">

            <ul class="tabs-activate profile-tabs">
                <!-- <li><a href="#" data-tab="1" class="is-active">About</a></li> -->
                <li><a href="#" data-tab="1" class="is-active">My Stuff</a></li>
                <li class="last">
                    <ul class="compatibility-box">
                        <li>
                            <img src="{{ asset('images/icon-compatibility.png') }}" alt="Compatibility">
                        </li>
                        <li class="compatibility">
                            <span>46%</span>
                            compatibility
                        </li>
                    </ul>
                </li>
            </ul>

            <div class="view-tab-container teacher-text-container">

                <div class="view-tab stuff is-active" data-tab="1">
                    {{ user.aboutMe }}
                </div><!--stuff ends-->

            </div><!--view-tab-container ends-->

        </section><!--main-content ends-->

        <section class="col-sm-3 shouts-sidebar">

            <div class="shouts-feed">
                <h3><i class=" glyphicon glyphicon-flash"></i>Shouts feed</h3>
            </div><!--shouts-feed ends-->

            <div class="shouts-listing-container">
                <div class="shouts-listing">

                {% for s in user.shouts %}

                    <article class="shout-box clearfix">
                        <img src="images/teacher-02.png" alt="Image">
                        <div class="shout-text">
                            <h4 class="name">{{ user.username }}</h4>
                            <div class="time">
                                <span>{{ s.createdAt.date }} min</span>ago
                            </div>
                            <p>{{ s.text }}</p>
                        </div>
                    </article>

                {% endfor %}

                </div><!--shouts-listing ends-->
            </div><!--shouts-listing-container ends-->

        </section>
    </div>

</div>


{% if app.user != user %}

    <!-- Modal -->
    <div class="modal fade" id="messageModal" data-id="{{ user.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Send Message</h4>
                </div>
                <div class="modal-body">
                    <div class="conversation-message-box"></div>
                    <textarea class="form-control send-message" maxlength="250" data-toID="{{ user.id }}" data-toUsername="{{ user.username }}" cols="3" placeholder="Say something cool..." ></textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

{% endif %}