{% trans_default_domain 'FOSUserBundle' %}

<div class="fos_user_user_show">

    <div class="clearfix">
        <hr />
    </div>

    <div class="col-md-3 profile-profile-column">
        <div class="profile-avatar-container">
            <img src="{{ path('musician_avatar', { 'username': user.username, 'size' : 'medium_thumb' }) }}" class="img-circle col-md-6" />
            <h4 class="col-md-6">{{ user.username }}</h4>
            {% if user.location.getAdministrativeAreaLevel3 %}<p><i class="glyphicon glyphicon-map-marker"></i> {{ user.location.getAdministrativeAreaLevel3 }}</p>{% endif %}

            {% if app.user != user %}
                <a href="#" class="profile-send-message" data-toggle="modal" data-target="#myModal">
                    <span class="glyphicon glyphicon-envelope"></span>
                </a>
            {% endif %}
        </div>

        <div class="clearfix"></div>

        <p>{% if user.firstName %} {{ user.firstName }} {% endif %}{% if user.lastName %} {{ user.lastName }} {% endif %}</p>

        <p>Instruments: </p>
        <ul>
            {% for i in user.instruments %}
                <li><a href="{{ path('musicians', {'search_form[instruments][]' : i.instrument.id }) }}">{{ i.instrument.name }} ({{ i.skillLevel }})</a></li>

            {% endfor %}
        </ul>

        <ul class="profile-genres">
            {% for g in user.genres %}
                <li><a href="{{ path('musicians', {'search_form[genres][]' : g.id }) }}">{{ g.name }}</a></li>
            {% endfor %}
        </ul>

        <div class="clearfix"></div>


        <br />

        <p>Age: {{ user.age }}</p>
        <p>Gender: {{ user.genderText }}</p>

        <hr />

        <div class="profile-about-me">
            {{ user.aboutMe }}
        </div>

    </div>

    <div class="col-md-6">

        {% if user.images|length > 0 %}
            {% for i in user.images %}
                <img src="{{ asset(i.getWebPath) | imagine_filter('my_medium') }}" width="200" />
            {% endfor %}
        {% else %}
            <h3>Upload some photos here</h3>
        {% endif %}

        {% if app.user != user %}

            <!-- Modal -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="myModalLabel">Send Message</h4>
                        </div>
                        <div class="modal-body">
                            <textarea class="form-control send-message" maxlength="250" data-toID="{{ user.id }}" data-toUsername="{{ user.username }}" cols="3" placeholder="Say something cool..." ></textarea>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

        {% endif %}

    </div>

    <div class="col-md-3">

        {% if user.isTeacher %}
            <p>This guy is a teacher!</p>
        {% endif %}

        <p>Artists: </p>
        <ul>
            {% for a in user.artists %}
                <li>{{ a.name }}</li>
            {% endfor %}
        </ul>


        <p>Brands: </p>
        <ul>
            {% for b in user.brands %}
                <li>{{ b.name }}</li>
            {% endfor %}
        </ul>

        <p>Jams: </p>
        <ul>
            {% for j in user.jamsMember %}
                <li><a href="{{ path('view_jam', { 'slug': j.jam.slug } ) }}">{{ j.jam.name }}</a> ({{ j.role }})</li>
            {% endfor %}
        </ul>

    </div>

</div>
