{% set filterTitle = "find compatible musicians" %}

{% if (route == 'teachers') %}
    {% set filterTitle = 'text.find.music.teachers.nearby'|trans %}
{% endif %}


<div class="filters-area">
    <div class="filters-heading clearfix">
        <h1 class="filters-title">{{ filterTitle }}</h1>
    </div>

    <form id="main-filter-form">
        <div class="filters-by in row">

            <div class="col-sm-12 col-lg-4">
                {{ form_widget(form.instruments) }}
            </div>

            <div class="col-sm-12 col-lg-4">
                {{ form_widget(form.genres) }}
            </div>

            <div class="col-sm-12 col-lg-4">
                <div class="dropdown filter-by-distance">
                    <a id="filter-by-distance-btn" type="button" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">
                        <span>{{ 'text.filter.by.distance'|trans }}</span>
                        <div><b></b></div>
                    </a>
                    <div class="dropdown-menu dropdown-filter-by-distance" role="menu" aria-labelledby="dLabel">
                        <label>{{ 'text.set.distance'|trans }}</label>
                        <input type="hidden" name="distance" value="20" id="search_form_distance" />
                        <div id="filter-by-distance-slider"></div>
                        <span class="result slide-min pull-left">{{ 'text.2.kilometers'|trans }}</span>
                        <span class="result slide-max pull-right"></span>
                    </div>
                </div>
            </div>
        </div><!--filters-by ends-->

        <div class="tabs-activate filters-preview">
            <ul class="clearfix">
                <li><a href="#" data-tab="grid" id="grid-view" class="tab-grid is-active">{{ 'text.grid'|trans }}</a></li>
                <li><a href="#" data-tab="map" id="map-view" class="tab-map">{{ 'text.map'|trans }}</a></li>
            </ul>
        </div><!--filters-preview ends-->
    </form>

</div><!--filters-area ends-->

<div class="view-tab-container with-scrollbar">
    <div class="view-tab people-listing-grid row is-active loading-content" data-tab="grid"></div><!--people-listing-grid ends-->

    <div class="view-tab map" data-tab="map">

        <div id="map"></div>

    </div><!--map ends-->

</div><!--view-tab-container ends-->