{% extends 'JamWebBundle::layout.html.twig' %}

{% block bodyclasses %}page-events{% endblock %}

{% block bodystyle %}background-image: url({{ asset('assets/images/background-dashboard.jpg') }}){% endblock %}

{% block main_content %}

    <iframe id="events-iframe" src="https://messis.fi/embed/?scope=1-months&listonly=true&category=14,52,53,37,35,36,68,38,39&range=60000&center={{ app.user.location.lat }},{{ app.user.location.lng }}&textcolor=000000&bgcolor=ffffff" width="100%" height="550px"></iframe>

{% endblock %}

{% block right_sidebar_content %}

    <div id="fb-root"></div>

    <div class="share-sidebar">
        <h3>{{ 'text.share.us.on.facebook'|trans }}</h3>
        <div class="fb-share-button"
             data-href="http://jamifind.com"
             data-layout="button_count">
        </div>
        <br /><br /><br />

        <h3>{{ 'text.like.our.page'|trans }}</h3>

        <div class="fb-page" data-href="https://www.facebook.com/jamifind/" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/jamifind/"><a href="https://www.facebook.com/jamifind/">Jamifind</a></blockquote></div></div>

    </div>

{% endblock %}

{% block bottom_javascripts %}

    <script>
        (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {
                return;
            }
            js = d.createElement(s); js.id = id;
            js.src = '//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5&appId=579439738844251';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>

{% endblock %}