{% extends 'JamWebBundle::layout.html.twig' %}

{% block body %}

    {% if is_granted("ROLE_USER") %}
        {% include "JamWebBundle::navigation.html.twig" %}
    {% else %}
        <aside class="col-sm-4 sidebar">
            <div class="sidebar-inner">
                {{ app.session.set('preview', 'true') }}
                {{ render(controller('FOSUserBundle:Security:login')) }}
            </div>
        </aside>
    {% endif %}

    {% block fos_user_content %}{% endblock fos_user_content %}

{% endblock %}

{% block bottomstylesheets %}
    {% stylesheets
    'vendor/Jcrop/css/jquery.Jcrop.css'
    'vendor/fancybox/source/jquery.fancybox.css'
    filter='cssrewrite' filter='?uglifycss'
    %}
    <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}
{% endblock %}

{% block bottom_javascripts %}

    {% javascripts
    'vendor/blueimp-file-upload/js/vendor/jquery.ui.widget.js'
    'vendor/blueimp-load-image/js/load-image.all.min.js'
    'vendor/blueimp-canvas-to-blob/js/canvas-to-blob.js'
    'vendor/blueimp-file-upload/js/jquery.iframe-transport.js'
    'vendor/blueimp-file-upload/js/jquery.fileupload.js'
    'vendor/blueimp-file-upload/js/jquery.fileupload-process.js'
    'vendor/blueimp-file-upload/js/jquery.fileupload-image.js'
    'vendor/Jcrop/js/jquery.Jcrop.js'
    'assets/js/upload-photos.js'
    'vendor/fancybox/lib/jquery.mousewheel-3.0.6.pack.js'
    'vendor/fancybox/source/jquery.fancybox.pack.js'
    filter='?uglifyjs2'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script type="text/javascript">

        $(function() {

            {% if user is defined and userTracks is defined %}
                {# TODO: separate JS and twig variables, make this more like function #}
                SC.initialize({
                    client_id: '{{ soundcloud_app_id }}'
                });

                $('a.my-sounds').click(function(e){

                    var $this = $(e.currentTarget);
                    var userSoundcloudId = '{{ user.getSoundcloudId }}';

                    if(userSoundcloudId !== ''){

                        var tracks = {{ userTracks|raw }};

                        if(tracks.length > 0){
                            for(var i = 0; i < tracks.length; i++){
                                var track = tracks[i];

                                var iframe = $('<iframe />', {
                                    id: 'iframe'+track.id,
                                    width: '100%',
                                    height: '166',
                                    scrolling: 'no',
                                    frameborder: 'no',
                                    src: 'https://w.soundcloud.com/player/?url='+track.uri
                                });

                                $('div[data-tab="'+$this.attr('data-tab')+'"]').append(iframe);
                                SC.Widget(iframe[0]);
                            }
                        }
                    }
                });
            {% endif %}

            $().fancybox();
        });
    </script>

{% endblock %}