{% if is_granted('ROLE_USER') %}

    <div class="conversation">

        <div class="conversation-close clearfix hidden-xs">
            <a href="#" class="close-link" title="{{ 'label.close.conversation'|trans }}"><i class="glyphicon glyphicon-remove"></i>{{ 'label.close.conversation'|trans }}</a>
        </div>

        <a href="#" class="close-link close-link-mobile pull-right visible-xs-inline-block" title="{{ 'label.close.conversation'|trans }}"><i class="glyphicon glyphicon-remove"></i></a>

        <!--conversation-close ends-->

        <div class="conversation-new">
            <input type="text" class="form-control autocomplete" placeholder="+ {{ 'label.type.a.name'|trans }}">
        </div>

        <div class="conversation-container conversation-message-box"></div>
        <!--conversation-container ends-->

        <div class="conversation-send">
            <form role="form" class="row">
                <div class="col-xs-10 col-sm-12">
                    <textarea class="form-control send-message" rows="1" placeholder="{{ 'label.write.message'|trans }}" maxlength="1000"></textarea>
                </div>
                <div class="col-xs-2 col-sm-12 btn-holder">
                    <button type="submit" class="btn btn-primary send-message-btn"><i class="fa fa-paper-plane"></i><span class="hidden-xs"> {{ 'button.send'|trans }}</span></button>
                </div>
            </form>
        </div>
        <!--conversation-send ends-->

    </div><!--conversation ends-->

{% endif %}