{% extends '::base.html.twig' %}

{% block bodystyle %}background-image: url({{ asset('assets/images/background-dashboard.jpg') }}); overflow: auto;{% endblock %}

{% block body %}

    <section class="col-xs-12 col-sm-12 col-md-12 main-content">
        <div style="background-color: #fff; padding: 20px;">

            <h2 style="font-size: 26px; margin-top: 0;">{{ 'title.compete'|trans|raw }}</h2>

            {{ 'compete.text'|trans|raw }}

            <div class="clearfix" style="font-size: 13px;">

                {{ 'compete.terms'|trans|raw }}

                <br />

                <div class="col-md-4" style="float: none; margin-top: 20px;">
                    {% if is_granted("ROLE_USER") %}
                        <a class="btn btn-primary" href="{{ path('invite') }}">{{ 'text.invite.friends'|trans }}</a>
                    {% else %}
                        <a href="{{ path('fos_user_registration_register') }}" class="btn btn-primary">{{ 'text.sign.up.to.jamifind'|trans }}</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>

{% endblock %}