{% extends 'JamWebBundle::layout.html.twig' %}

{% block bodyclasses %}page-dashboard{% endblock %}

{% block bodystyle %}background-image: url({{ asset('assets/images/background-dashboard.jpg') }}){% endblock %}

{% block main_content %}


    <div class="row event" style="display:none">

        <div class="col-lg-5 image-box">
            <div class="image-holder">
                <img src="{{ asset('assets/images/events-picture-01.png') }}" alt="Event">
            </div>
            <div class="promo">
                <h4>{{ 'text.upcoming.event'|trans }}</h4>
                <a href="#" class="link">{{ 'text.view.all'|trans }}<i class="glyphicon glyphicon-play"></i></a>
            </div>
        </div>

        <div class="col-lg-7 text-box">
            <div class="time">05 Sep 2014
                <a href="#" class="view-details link">{{ 'text.view.details'|trans }}</a>
            </div>
            <h3>Kompakt at Oz. Amsterdam KOMPAKT Pop Up store</h3>
            <p>
                14:00 - 20:00 | Free entrance<br>
                Oz. | Oudezijds Achterburgwal 66, Amsterdam
            </p>
        </div>

    </div><!--event ends-->

    {{ render(controller('JamWebBundle:Search:filter' )) }}

{% endblock %}

{% block right_sidebar_content %}

    {% if is_granted("ROLE_USER") and app.user.profileFulfilment != 100 %}
        <div class="profile-completion clearfix">
            <div class="pick">
                <div class="pick-outer">
                    <img src="{{ asset('assets/images/pick-outer.png') }}" alt="Profile completion">
                </div>
                <span class="pick-inner"></span>
            </div>
                <div class="profile-completion-text">
                    <h3><span>{{ app.user.profileFulfilment }}%</span>{{ 'text.profile.completion'|trans }}</h3>
                    <a href="{{ path('fos_user_profile_edit') }}" class="link">{{ 'text.fill.out.your.profile'|trans }}</a>
                </div>
        </div><!--profile-completion ends-->
    {% endif %}

    <div class="shouts-feed" id="shoutsFeed">
        <h3>{{ 'text.shouts.feed'|trans }}</h3>
        <div class="shouts-countdown-container hidden">
            <p style="color: #FFFFFF">{{ 'text.shout.again.in'|trans }}:</p>
            <p id="shoutCountdown" style="color: #FFFFFF"></p>
        </div>
        <form role="form" action="{{ path('home') }}" method="POST" id="shoutForm" class="hidden">
            {{ form_widget(form.text, {'attr': {'class': 'form-control', 'placeholder': 'Shout', 'rows': '3', 'maxlength': 200}}) }}
            {{ form_widget(form.send, {'id': 'shoutSend', 'attr': {'class': 'btn btn-primary'}}) }}
            {{ form_widget(form._token) }}
        </form>
    </div><!--shouts-feed ends-->

    <div class="shouts-listing-container">
        <h4 class="shouts">{{ 'text.shouts'|trans }}</h4>
        <div class="shouts-listing shouts-listing-filter with-scrollbar"></div><!--shouts-listing ends-->
    </div><!--shouts-listing-container ends-->

{% endblock %}

{% block bottom_javascripts %}

    {% javascripts
    'vendor/leaflet-dist/leaflet.js'
    'vendor/leaflet.markercluster/dist/leaflet.markercluster-src.js'
    'assets/js/filter.js'
    'assets/js/map.js'
    '@JamWebBundle/Resources/public/js/shout.js'
    filter='?uglifyjs2'
    %}

    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
