{% extends "FOSUserBundle::layout.html.twig" %}

{% block bodyclasses %}login-page{% endblock %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
{% if error %}
    <div>{{ error|trans }}</div>
{% endif %}

<div class="container-fluid">

    <div class="login-container">
        <div class="login-header">
            <h1>Login to jamifind</h1>
        </div>

        <div class="login-body">
            <form role="form" action="{{ path("fos_user_security_check") }}" method="post">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

                <div class="form-group">
                    <input type="username" class="form-control" placeholder="Username" name="_username" value="{{ last_username }}" required="required" id="username">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Password" name="_password" required="required">

                    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                </div>
                <button type="submit" class="btn btn-primary btn-submit" name="_submit" id="_submit">Login</button>
            </form>

            <div class="separator">
                <img src="{{ asset('assets/images/separator-image.png') }}" alt="Hand">
            </div>

            <div class="login-buttons">
                <a href="{{ path('jam_facebook_login') }}" class="btn btn-primary facebook"><i class="fa fa-facebook-square"></i>login with facebook</a>
                <a href="{{ path('connect_soundcloud') }}" class="btn btn-primary soundcloud"><i class="fa fa-soundcloud"></i>login with soundcloud</a>
            </div>
        </div><!--login-body ends-->

        <div class="login-footer">
            Don’t have an account?
            <a href="{{ path('fos_user_registration_register') }}" class="link">sign up</a>
        </div>
    </div><!--login-container ends-->
</div>
{% endblock fos_user_content %}
