
<div class="login-header">
    <p>{{ 'label.login.to.jamifind'|trans }}</p>
</div>

<div class="login-body">
    <form role="form" action="{{ path("fos_user_security_check") }}" method="post">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

        <div class="form-group">
            <input type="username" class="form-control" placeholder="Username or Email" name="_username" value="{{ last_username }}" required="required" id="username">
        </div>
        <div class="form-group">
            <input type="password" class="form-control" placeholder="Password" name="_password" required="required">

            <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
        </div>

        {% if error %}
            <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <button type="submit" class="btn btn-primary btn-submit" name="_submit" id="_submit">{{ 'button.login'|trans }}</button>
    </form>

    <div class="separator">
        <img src="{{ asset('assets/images/separator-image.png') }}" alt="Hand">
    </div>

    <div class="login-buttons">
        <a href="{{ path('jam_facebook_login') }}" class="btn btn-primary facebook"><i class="fa fa-facebook-square"></i>{{ 'button.login.with.facebook'|trans }}</a>
        <a href="{{ path('connect_soundcloud') }}" class="btn btn-primary soundcloud"><i class="fa fa-soundcloud"></i>{{ 'button.login.with.soundcloud'|trans }}</a>
    </div>
</div>

<div class="login-footer">
    {{ 'label.dont.have.account'|trans }}
    <a href="{{ path('fos_user_registration_register') }}" class="link">{{ 'button.sign.up'|trans }}</a>
</div>

<div class="login-footer">
    <a href="{{ path('fos_user_resetting_request') }}" class="link">{{ 'label.forgot.your.password'|trans }}</a>
</div>

