<div class="shouts-feed" id="shoutsFeed">
    <h3>{{ 'text.shouts.feed'|trans }}</h3>
    <div class="shouts-countdown-container hidden">
        <p>{{ 'text.shout.again.in'|trans }}: <span id="shoutCountdown"></span></p>
    </div>
    <form role="form" action="{{ path('home') }}" method="POST" id="shoutForm" class="hidden">
        {{ form_widget(form.text, {'attr': {'class': 'form-control', 'placeholder': 'Write something', 'rows': '3', 'maxlength': 200}}) }}
        <button type="submit" id="shoutSend" name="shout[send]" class="btn btn-primary btn btn-primary"><i class="fa fa-paper-plane"></i> {{ 'button.send'|trans }}</button>
        {{ form_widget(form._token) }}
    </form>
</div><!--shouts-feed ends-->

<div class="shouts-listing-container">
    <h4 class="shouts"><a href="{{ path('shouts') }}">{{ 'text.shouts'|trans }}</a></h4>
    <div class="shouts-listing shouts-listing-filter with-scrollbar"></div><!--shouts-listing ends-->
</div><!--shouts-listing-container ends-->