{% trans_default_domain 'FOSUserBundle' %}
{% form_theme form 'JamLocationBundle:Form:fields.html.twig' %}

<form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">


    <div class="col-md-6">
        {{ form_row(form.username) }}

        {{ form_row(form.email) }}

        {{ form_row(form.plainPassword) }}

        <label>I want to:</label>

        {{ form_row(form.isVisitor) }}
        {{ form_row(form.isJammer) }}
        {{ form_row(form.isTeacher) }}

    </div>

    {{ form_widget(form._token) }}
    {{ form_errors(form) }}


    <div class="col-md-12">
        <input type="submit" class="btn btn-primary" value="{{ 'registration.submit'|trans }}" />
    </div>
</form>
