{% extends 'JamUserBundle::noAuthLayout.html.twig' %}

{% block bodyclasses %}signup-page{% endblock %}

{% block fos_user_content %}
    {% form_theme form 'JamLocationBundle:Form:fields.html.twig' %}

    <section id="register-home" data-type="background" data-speed="10">
        <div class="container">

            <div class="row">

                <div class="col-md-6">
                    <h1>{{ 'text.register.title'|trans }}</h1>
                    <h4 class="subtitle">{{ 'text.register.desc'|trans }}</h4>
                </div>
                <div class="col-md-6">

                    <div class="login-container">
                        <div class="login-header">
                            <p>{{ 'text.sign.up.to.jamifind'|trans }}</p>
                        </div>

                        <div class="login-body">

                            <form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">

                                <div class="form-group">
                                    {{ form_widget(form.username) }}
                                </div>

                                {{ form_errors(form.username) }}

                                <div class="form-group">
                                    {{ form_widget(form.email) }}
                                </div>

                                {{ form_errors(form.email) }}

                                {% if ((form.email.vars.errors[0] is defined) and (form.email.vars.errors[0].messageTemplate == 'fos_user.email.already_used')) %}
                                    <a href='{{ path('fos_user_resetting_request') }}?email={{ form.vars.value.email }}'>{{ 'label.forgot.your.password'|trans }}</a>
                                    <br /><br />
                                {% endif %}

                                <div class="form-group">
                                    {{ form_widget(form.plainPassword.first) }}
                                </div>

                                {{ form_errors(form.plainPassword.first) }}

                                <div class="form-group">
                                    {{ form_widget(form.plainPassword.second) }}
                                </div>

                                <div class="form-group">
                                    <label class="select-label">{{ 'label.i.want.to'|trans }}:</label>

                                    <ul class="checkboxes-list">
                                        <li>
                                            {{ form_widget(form.isVisitor) }}
                                            {{ form_label(form.isVisitor) }}
                                            <span class="glyphicon glyphicon-info-sign info-popover" data-toggle="popover" data-trigger="hover" data-content="{{ 'info.settings.visitor'|trans }}"></span>
                                        </li>
                                        <li>
                                            {{ form_widget(form.isJammer) }}
                                            {{ form_label(form.isJammer) }}
                                            <span class="glyphicon glyphicon-info-sign info-popover" data-toggle="popover" data-trigger="hover" data-content="{{ 'info.settings.jammer'|trans }}"></span>
                                        </li>
                                        <li>
                                            {{ form_widget(form.isTeacher) }}
                                            {{ form_label(form.isTeacher) }}
                                            <span class="glyphicon glyphicon-info-sign info-popover" data-toggle="popover" data-trigger="hover" data-content="{{ 'info.settings.teacher'|trans }}"></span>
                                        </li>
                                    </ul>
                                </div>

                                {{ form_widget(form.acceptedTerms) }}
                                <label class="control-label required fos_user_registration_form_acceptedTerms_label" for="fos_user_registration_form_acceptedTerms">{{ 'label.I.accept'|trans }}
                                    <a href="#" data-toggle="modal" data-target="#termsModal" style="text-decoration: underline">{{ 'label.terms.and.condtions'|trans }}</a></label>

                                {{ form_widget(form._token) }}
                                {{ form_errors(form) }}

                                <input type="submit" class="btn btn-primary" value="{{ 'button.sign.up'|trans }}"/>

                                <div class="separator">
                                    <img src="{{ asset('assets/images/separator-image.png') }}" alt="Hand">
                                </div>
                            </form>

                            <div class="login-buttons">
                                <a href="{{ path('jam_facebook_login') }}" class="btn btn-primary facebook"><i class="fa fa-facebook-square"></i>{{ 'button.login.with.facebook'|trans }}</a>
                                <a href="{{ path('jam_soundcloud_login') }}" class="btn btn-primary soundcloud"><i class="fa fa-soundcloud"></i>{{ 'button.login.with.soundcloud'|trans }}</a>
                            </div>
                        </div>

                        <div class="login-footer">
                            {{ 'text.already.have.an.account'|trans }}
                            <a href="{{ path('fos_user_security_login') }}" class="link">{{ 'button.login'|trans }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="map-home">
        <div class="container mapContent">
            <h2>{{ 'text.home.find.fellow.musicians'|trans }}</h2>
            <h4 class="subtitle">{{ 'text.home.find.fellow.musicians.subtitle'|trans|raw }}</h4>

            <div class="mapInteractive">
                <div class="icon main" style="left: 42.5%; top: 116px;">
                    <img src="{{ asset('assets/images/icon-main.png') }}" alt="Main icon">
                </div>

                <div class="icon guitar info">
                    <img src="{{ asset('assets/images/icon-guitar.png') }}" alt="Guitar icon">

                    <div class="infoBox infoBoxSmall" style="display: none;">
                        <div class="profileImage">
                            <img src="{{ asset('assets/images/profile-abraham-jones.png') }}" alt="Abraham Jones">
                        </div>
                        <div class="profileData">
                            <h5>Anton Timonen</h5>
                            <ul class="tags clearfix">
                                <li>Indie Rock</li>
                                <li>Alternative Rock</li>
                                <li>Punk</li>
                            </ul>
                        </div>
                        <div class="compatibility">
                            <span>76%</span>
                            {{ 'label.compatibility'|trans }}
                        </div>
                    </div>
                </div>

                <div class="icon drumms info">
                    <img src="{{ asset('assets/images/icon-drumms.png') }}" alt="Drumms icon">

                    <div class="infoBox infoBoxSmall" style="display: none;">
                        <div class="profileImage"><img src="{{ asset('assets/images/drummer1.jpg') }}" alt="Alex Smith"></div>
                        <div class="profileData">
                            <h5>Alex Smith</h5>
                            <ul class="tags clearfix">
                                <li>Jazz</li>
                                <li>Blues</li>
                                <li>Funk</li>
                                <li>Fusion</li>
                            </ul>
                        </div>
                        <div class="compatibility">
                            <span>86%</span>
                            {{ 'label.compatibility'|trans }}
                        </div>
                    </div>
                </div>

                <div class="icon sax info">
                    <img src="{{ asset('assets/images/icon-sax.png') }}" alt="Sax icon">

                    <div class="infoBox infoBoxSmall" style="display: block;">
                        <div class="profileImage">
                            <img src="{{ asset('assets/images/sax.jpg') }}" alt="John Andrews">
                        </div>
                        <div class="profileData">
                            <h5>John Andrews</h5>
                            <ul class="tags clearfix">
                                <li>Jazz</li>
                                <li>Blues</li>
                                <li>Soul</li>
                                <li>Classical</li>
                            </ul>
                        </div>
                        <div class="compatibility">
                            <span>68%</span>
                            {{ 'label.compatibility'|trans }}
                        </div>
                    </div>
                </div>

                <div class="icon teacher info" style="left: 64px; top: 233px;">
                    <img src="{{ asset('assets/images/icon-teacher.png') }}" alt="Teacher icon">

                    <div class="infoBox infoBoxSmall teacher" style="display: none;">
                        <div class="profileImage">
                            <img src="{{ asset('assets/images/profile-jane-mcadams.png') }}" alt="Jane McAdams">
                        </div>
                        <div class="profileData">
                            <h5>Jane McAdams</h5>
                            <div class="lessons">
                                piano lessons
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <h4 class="map-text-bottom">{{ 'text.home.are.you.teacher'|trans }}</h4>
    </section>

    <section id="multimedia-home" data-type="background" data-speed="10">
        <div class="container clearfix">
            <div class="mediaText">
                <h2>{{ 'text.register.find'|trans }}</h2>
                <h4>{{ 'text.register.cv'|trans }}</h4>
            </div>
        </div>
    </section>

    <section id="subscribe-home" data-type="background" data-speed="10">
        <div class="container">
            <h2>{{ 'text.register.join.community'|trans }}</h2>
        </div>
        <p class="copyright">Jamifind © {{ "now"|date("Y") }} all rights reserved.</p>
    </section>

    <section class="pageHelpers">
        <ul id="horizontalmenu" class="underlinemenu">
            <li><a href="#register-home" title="Register"></a></li>
            <li><a href="#map-home" title="Map"></a></li>
            <li><a href="#multimedia-home" title="Multimedia"></a></li>
            <li><a href="#subscribe-home" title="Subscribe"></a></li>
        </ul>
    </section>

    <div class="modal fade" id="termsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h5 class="modal-title" id="myModalLabel">Jamifind Terms and Conditions</h5>
                </div>
                <div class="modal-body" style="max-height: 500px; overflow-y: scroll">
                    {{ source('JamUserBundle::terms_en.html.twig') }}
                </div>
                <div class="modal-footer">
                    <div class="col-md-4">
                        <button type="button" class="btn btn-primary" id="acceptTerms" data-dismiss="modal"><i class="fa fa-thumbs-o-up"></i> Accept</button>
                    </div>
                    <div class="col-md-4 pull-right">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}