{% extends 'JamUserBundle::noAuthLayout.html.twig' %}

{% block bodyclasses %}signup-page{% endblock %}

{% block fos_user_content %}
    {% form_theme form 'JamLocationBundle:Form:fields.html.twig' %}

    <section id="register-home" data-type="background" data-speed="10">
        <div class="container-fluid">

            <div class="row">

                <div class="col-md-6">
                    <h1>{{ 'text.register.title'|trans }}</h1>

                    <iframe id="ytPromoVideo" width="100%" height="315" src="https://www.youtube.com/embed/-bsLFSZ8GZQ?rel=0&amp;showinfo=0" frameborder="1" allowfullscreen></iframe>

                    <h4 class="subtitle">{{ 'text.register.desc'|trans }}</h4>
                </div>
                <div class="col-md-6">

                    <div class="login-container">
                        <div class="login-header">
                            <p>{{ 'text.sign.up.to.jamifind'|trans }}</p>
                        </div>

                        <div class="login-body">

                            <form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">

                                <div class="form-group">
                                    <label class="select-label">{{ 'label.i.want.to'|trans }}:</label>

                                    <ul class="checkboxes-list">
                                        <li>
                                            {{ form_widget(form.isVisitor) }}
                                            {{ form_label(form.isVisitor) }}
                                            <span class="glyphicon glyphicon-info-sign info-popover" data-toggle="popover" data-trigger="hover" data-content="{{ 'info.settings.visitor'|trans }}"></span>
                                        </li>
                                        <li>
                                            {{ form_widget(form.isJammer) }}
                                            {{ form_label(form.isJammer) }}
                                            <span class="glyphicon glyphicon-info-sign info-popover" data-toggle="popover" data-trigger="hover" data-content="{{ 'info.settings.jammer'|trans }}"></span>
                                        </li>
                                        <li>
                                            {{ form_widget(form.isTeacher) }}
                                            {{ form_label(form.isTeacher) }}
                                            <span class="glyphicon glyphicon-info-sign info-popover" data-toggle="popover" data-trigger="hover" data-content="{{ 'info.settings.teacher'|trans }}"></span>
                                        </li>
                                    </ul>
                                </div>

                                <div class="form-group">
                                    {{ form_widget(form.username) }}
                                </div>

                                {{ form_errors(form.username) }}

                                <div class="form-group">
                                    {{ form_widget(form.email) }}
                                </div>

                                {{ form_errors(form.email) }}

                                {% if ((form.email.vars.errors[0] is defined) and (form.email.vars.errors[0].messageTemplate == 'fos_user.email.already_used')) %}
                                    <a href='{{ path('fos_user_resetting_request') }}?email={{ form.vars.value.email }}'>{{ 'label.forgot.your.password'|trans }}</a>
                                    <br /><br />
                                {% endif %}

                                <div class="form-group">
                                    {{ form_widget(form.plainPassword) }}
                                </div>

                                {{ form_errors(form.plainPassword) }}

                                <label class="control-label required fos_user_registration_form_acceptedTerms_label" for="fos_user_registration_form_acceptedTerms">
                                    {{ 'label.I.accept'|trans }}
                                    <a href="#" data-toggle="modal" data-target="#termsModal" style="text-decoration: underline">{{ 'label.terms.and.condtions'|trans }}</a>
                                </label>

                                {{ form_widget(form.locale, { 'value' : app.request.locale | default('en')}) }}

                                {{ form_widget(form._token) }}
                                {{ form_errors(form) }}

                                <input type="submit" class="btn btn-primary" value="{{ 'button.sign.up'|trans }}"/>

                                <div class="separator">
                                    <img src="{{ asset('assets/images/separator-image.png') }}" alt="Hand">
                                </div>
                            </form>

                            <div class="login-buttons">
                                <a href="{{ path('jam_facebook_login') }}" class="btn btn-primary facebook"><i class="fa fa-facebook-square"></i>{{ 'button.login.with.facebook'|trans }}</a>
                                <a href="{{ path('connect_soundcloud') }}" class="btn btn-primary soundcloud"><i class="fa fa-soundcloud"></i>{{ 'button.login.with.soundcloud'|trans }}</a>
                            </div>
                        </div>

                        <div class="login-footer">
                            {{ 'text.already.have.an.account'|trans }}
                            <a href="{{ path('fos_user_security_login') }}" class="link">{{ 'button.login'|trans }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="map-home">
        <div id="map" style="height: 580px; width: 100%; display: block; z-index: 10"></div>

        <div class="mapContent">
            <h2>{{ 'text.home.find.fellow.musicians'|trans }}</h2>
            <h4 class="subtitle">{{ 'text.home.find.fellow.musicians.subtitle'|trans|raw }}</h4>
        </div>
        <div class="mapForm">
            <form class="form-inline">
                <label>{{ 'label.home.top.locations'|trans }}: &nbsp;
                    <select class="form-control" id="top-locations" style="width: 140px">
                        {% if app.request.locale == 'en' %}
                            <option value="London" selected="selected">London</option>
                            <option value="Birmingham">Birmingham</option>
                        {% endif %}
                        <option value="Helsinki">Helsinki</option>

                        {% if app.request.locale == 'fi' %}
                            <option value="Espoo">Espoo</option>
                            <option value="Tampere">Tampere</option>
                            <option value="Vantaa">Vantaa</option>
                            <option value="Oulu" >Oulu</option>
                            <option value="Turku" >Turku</option>
                            <option value="Jyväskylä">Jyväskylä</option>
                        {% endif %}
                    </select>
                </label>
            </form>
        </div>
    </section>

    <section id="multimedia-home" data-type="background" data-speed="10">
        <div class="container-fluid clearfix">
            <div class="mediaText">
                <h2>{{ 'text.register.find'|trans }}</h2>
                <p>{{ 'text.register.cv'|trans }}</p>
                <div>
                    <img src="{{ asset('assets/images/profile-screenshot.png') }}" alt="Jamifind Profile" class="desktop-image">
                    <img src="{{ asset('assets/images/profile-screenshot-mobile.png') }}" alt="Jamifind Profile" class="mobile-image">
                </div>

                <div class="col-md-4 center-block" style="float: none; margin-top: 75px; width: 220px">
                    <a href="{{ path('musicians') }}" class="btn btn-primary find-out-more">{{ 'button.try.it.out'|trans }}</a>
                </div>

            </div>
        </div>
    </section>

    <section id="subscribe-home" data-type="background" data-speed="10">
        <div class="container-fluid">
            <h2>{{ 'text.register.join.community'|trans }}</h2>

            <div class="col-md-4 center-block" style="float: none; margin-top: 35px;">
                <a href="{{ path('about') }}" class="btn btn-primary find-out-more">{{ 'button.find.out.more'|trans }}</a>
            </div>

        </div>
        <p class="copyright">Jamifind © {{ "now"|date("Y") }} all rights reserved.</p>
    </section>

    <section class="pageHelpers">
        <ul id="horizontalmenu" class="underlinemenu">
            <li><a href="#register-home" title="Sign Up"></a></li>
            <li><a href="#map-home" title="Musicians around you"></a></li>
            <li><a href="#multimedia-home" title="Musicians CV"></a></li>
            <li><a href="#subscribe-home" title="Find out more"></a></li>
        </ul>
    </section>

    <div class="modal fade" id="termsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h5 class="modal-title" id="myModalLabel">Jamifind Terms and Conditions</h5>
                </div>
                <div class="modal-body" style="max-height: 500px; overflow-y: scroll"></div>
            </div>
        </div>
    </div>

{% endblock %}

{% block bottom_javascripts %}

    {% javascripts
    'vendor/leaflet-dist/leaflet.js'
    'vendor/leaflet.markercluster/dist/leaflet.markercluster-src.js'
    'vendor/svg-injector/dist/svg-injector.min.js'
    'assets/js/home-map.js'
    filter='?uglifyjs2'
    %}

    <script type="text/javascript" src="{{ asset_url }}?5"></script>
    {% endjavascripts %}
{% endblock %}
