{% extends 'JamUserBundle::noAuthLayout.html.twig' %}

{% block bodyclasses %}signup-page{% endblock %}

{% block fos_user_content %}
    {% form_theme form 'JamLocationBundle:Form:fields.html.twig' %}

    <section id="register-home" style="background: #8FA1C9 url({{ asset('assets/images/background-dashboard.jpg') }}) center top no-repeat">
        <div class="container">

            <div class="row">

                <div class="col-md-6">
                    <h1>{{ 'text.register.title'|trans }}</h1>
                    <h4 class="subtitle">{{ 'text.register.desc'|trans }}</h4>
                </div>
                <div class="col-md-6">

                    <div class="login-container">
                        <div class="login-header">
                            <p>{{ 'text.sign.up.to.jamifind'|trans }}</p>
                        </div>

                        <div class="login-body">

                            <form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">

                                <div class="form-group">
                                    {{ form_widget(form.username) }}
                                </div>

                                {{ form_errors(form.username) }}

                                <div class="form-group">
                                    {{ form_widget(form.email) }}
                                </div>

                                {{ form_errors(form.email) }}

                                {% if ((form.email.vars.errors[0] is defined) and (form.email.vars.errors[0].messageTemplate == 'fos_user.email.already_used')) %}
                                    <a href='{{ path('fos_user_resetting_request') }}?email={{ form.vars.value.email }}'>{{ 'label.forgot.your.password'|trans }}</a>
                                    <br /><br />
                                {% endif %}

                                <div class="form-group">
                                    {{ form_widget(form.plainPassword.first) }}
                                </div>

                                {{ form_errors(form.plainPassword.first) }}

                                <div class="form-group">
                                    {{ form_widget(form.plainPassword.second) }}
                                </div>

                                <div class="form-group">
                                    <label class="select-label">{{ 'label.i.want.to'|trans }}:</label>

                                    <ul class="checkboxes-list">
                                        <li>
                                            {{ form_widget(form.isVisitor) }}
                                            {{ form_label(form.isVisitor) }}
                                            <span class="glyphicon glyphicon-info-sign info-popover" data-toggle="popover" data-trigger="hover" data-content="{{ 'info.settings.visitor'|trans }}"></span>
                                        </li>
                                        <li>
                                            {{ form_widget(form.isJammer) }}
                                            {{ form_label(form.isJammer) }}
                                            <span class="glyphicon glyphicon-info-sign info-popover" data-toggle="popover" data-trigger="hover" data-content="{{ 'info.settings.jammer'|trans }}"></span>
                                        </li>
                                        <li>
                                            {{ form_widget(form.isTeacher) }}
                                            {{ form_label(form.isTeacher) }}
                                            <span class="glyphicon glyphicon-info-sign info-popover" data-toggle="popover" data-trigger="hover" data-content="{{ 'info.settings.teacher'|trans }}"></span>
                                        </li>
                                    </ul>
                                </div>

                                {{ form_widget(form.acceptedTerms) }}
                                <label class="control-label required fos_user_registration_form_acceptedTerms_label" for="fos_user_registration_form_acceptedTerms">{{ 'label.I.accept'|trans }}
                                    <a href="#" data-toggle="modal" data-target="#termsModal" style="text-decoration: underline">Terms and conditions</a></label>

                                {{ form_widget(form._token) }}
                                {{ form_errors(form) }}

                                <input type="submit" class="btn btn-primary" value="{{ 'button.sign.up'|trans }}"/>

                                <div class="separator">
                                    <img src="{{ asset('assets/images/separator-image.png') }}" alt="Hand">
                                </div>
                            </form>

                            <div class="login-buttons">
                                <a href="{{ path('jam_facebook_login') }}" class="disabled btn btn-primary facebook"><i class="fa fa-facebook-square"></i>{{ 'button.login.with.facebook'|trans }}</a>
                                <a href="{{ path('jam_soundcloud_login') }}" class="disabled btn btn-primary soundcloud"><i class="fa fa-soundcloud"></i>{{ 'button.login.with.soundcloud'|trans }}</a>
                            </div>
                        </div>

                        <div class="login-footer">
                            {{ 'text.already.have.an.account'|trans }}
                            <a href="{{ path('fos_user_security_login') }}" class="link">{{ 'button.login'|trans }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="multimedia-home" data-type="background" data-speed="10">
        <div class="container clearfix">
            <div class="mediaText">
                <h2>{{ 'text.register.find'|trans }}</h2>
                <h4>{{ 'text.register.cv'|trans }}</h4>
            </div>
        </div>
    </section>

    <section id="subscribe-home" data-type="background" data-speed="10">
        <div class="container">
            <h2>{{ 'text.register.join.community'|trans }}</h2>
        </div>
        <p class="copyright">Jamifind © {{ "now"|date("Y") }} all rights reserved.</p>
    </section>

    <section class="pageHelpers">
        <ul id="horizontalmenu" class="underlinemenu">
            <li><a href="#register-home" title="Register"></a></li>
            <li><a href="#multimedia-home" title="Multimedia"></a></li>
            <li><a href="#subscribe-home" title="Subscribe"></a></li>
        </ul>
    </section>

    <div class="modal fade" id="termsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h5 class="modal-title" id="myModalLabel">Jamifind Terms and Conditions</h5>
                </div>
                <div class="modal-body" style="max-height: 500px; overflow-y: scroll">
                    {{ source('JamUserBundle::terms_' ~ app.request.session.get('_locale') ~ '.html.twig') }}
                </div>
                <div class="modal-footer">
                    <div class="col-md-4">
                        <button type="button" class="btn btn-primary" id="acceptTerms" data-dismiss="modal"><i class="fa fa-thumbs-o-up"></i> Accept</button>
                    </div>
                    <div class="col-md-4 pull-right">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}