{% extends 'JamUserBundle::noAuthLayout.html.twig' %}

{% block bodyclasses %}signup-page{% endblock %}

{% block fos_user_content %}
    {% form_theme form 'JamLocationBundle:Form:fields.html.twig' %}

    <section id="register-home" style="background: #8FA1C9 url({{ asset('assets/images/background-dashboard.jpg') }}) center top no-repeat">
        <div class="container">

            <div class="row">

                <div class="col-md-6">
                    <h1>{{ 'text.register.title'|trans }}</h1>
                    <h4 class="subtitle">{{ 'text.register.desc'|trans }}</h4>
                </div>
                <div class="col-md-6">

                    <div class="login-container">
                        <div class="login-header">
                            <p>{{ 'text.sign.up.to.jamifind'|trans }}</p>
                        </div>

                        <div class="login-body">

                            <form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">

                                <div class="form-group">
                                    {{ form_widget(form.username) }}
                                </div>

                                {{ form_errors(form.username) }}

                                <div class="form-group">
                                    {{ form_widget(form.email) }}
                                </div>

                                {{ form_errors(form.email) }}

                                {% if ((form.email.vars.errors[0] is defined) and (form.email.vars.errors[0].messageTemplate == 'fos_user.email.already_used')) %}
                                    <a href='{{ path('fos_user_resetting_request') }}?email={{ form.vars.value.email }}'>{{ 'label.forgot.your.password'|trans }}</a>
                                    <br /><br />
                                {% endif %}

                                <div class="form-group">
                                    {{ form_widget(form.plainPassword.first) }}
                                </div>

                                {{ form_errors(form.plainPassword.first) }}

                                <div class="form-group">
                                    {{ form_widget(form.plainPassword.second) }}
                                </div>

                                <div class="form-group">
                                    <label class="select-label">{{ 'label.i.want.to'|trans }}:</label>

                                    <ul class="checkboxes-list">
                                        <li>
                                            {{ form_widget(form.isVisitor) }}
                                            {{ form_label(form.isVisitor) }}
                                            <span class="glyphicon glyphicon-info-sign info-popover" data-toggle="popover" data-trigger="hover" data-content="{{ 'info.settings.visitor'|trans }}"></span>
                                        </li>
                                        <li>
                                            {{ form_widget(form.isJammer) }}
                                            {{ form_label(form.isJammer) }}
                                            <span class="glyphicon glyphicon-info-sign info-popover" data-toggle="popover" data-trigger="hover" data-content="{{ 'info.settings.jammer'|trans }}"></span>
                                        </li>
                                        <li>
                                            {{ form_widget(form.isTeacher) }}
                                            {{ form_label(form.isTeacher) }}
                                            <span class="glyphicon glyphicon-info-sign info-popover" data-toggle="popover" data-trigger="hover" data-content="{{ 'info.settings.teacher'|trans }}"></span>
                                        </li>
                                    </ul>
                                </div>

                                {{ form_widget(form.acceptedTerms) }}
                                <label class="control-label required fos_user_registration_form_acceptedTerms_label" for="fos_user_registration_form_acceptedTerms">{{ 'label.I.accept'|trans }}
                                    <a href="#" data-toggle="modal" data-target="#termsModal" style="text-decoration: underline">Terms and conditions</a></label>

                                {{ form_widget(form._token) }}
                                {{ form_errors(form) }}

                                <input type="submit" class="btn btn-primary" value="{{ 'button.sign.up'|trans }}"/>

                                <div class="separator">
                                    <img src="{{ asset('assets/images/separator-image.png') }}" alt="Hand">
                                </div>
                            </form>

                            <div class="login-buttons">
                                <a href="{{ path('jam_facebook_login') }}" class="disabled btn btn-primary facebook"><i class="fa fa-facebook-square"></i>{{ 'button.login.with.facebook'|trans }}</a>
                                <a href="{{ path('jam_soundcloud_login') }}" class="disabled btn btn-primary soundcloud"><i class="fa fa-soundcloud"></i>{{ 'button.login.with.soundcloud'|trans }}</a>
                            </div>
                        </div>

                        <div class="login-footer">
                            {{ 'text.already.have.an.account'|trans }}
                            <a href="{{ path('fos_user_security_login') }}" class="link">{{ 'button.login'|trans }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="multimedia-home" data-type="background" data-speed="10">
        <div class="container clearfix">
            <div class="mediaText">
                <h2>{{ 'text.register.find'|trans }}</h2>
                <h4>{{ 'text.register.cv'|trans }}</h4>
            </div>
        </div>
    </section>

    <section id="subscribe-home" data-type="background" data-speed="10">
        <div class="container">
            <h2>{{ 'text.register.join.community'|trans }}</h2>
        </div>
        <p class="copyright">Jamifind © {{ "now"|date("Y") }} all rights reserved.</p>
    </section>

    <section class="pageHelpers">
        <ul id="horizontalmenu" class="underlinemenu">
            <li><a href="#register-home" title="Register"></a></li>
            <li><a href="#multimedia-home" title="Multimedia"></a></li>
            <li><a href="#subscribe-home" title="Subscribe"></a></li>
        </ul>
    </section>


    <div class="modal fade" id="termsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h5 class="modal-title" id="myModalLabel">Jamifind Terms and Conditions</h5>
                </div>
                <div class="modal-body" style="max-height: 500px; overflow-y: scroll">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vitae viverra lacus. Sed nisi enim, elementum id lorem at, porttitor fringilla elit. Maecenas ex enim, ornare in aliquam non, molestie et magna. Pellentesque vitae nisi orci. Vivamus tempus sapien lorem, vestibulum euismod tortor venenatis consequat. Donec eget turpis tellus. Curabitur sed mi ut massa dapibus pretium sed nec urna. Morbi maximus diam id ex aliquam, at venenatis justo sodales. Ut rutrum elit eu vehicula tincidunt. Donec neque lorem, suscipit quis luctus a, imperdiet eu libero. Vivamus vulputate gravida mauris. Phasellus sed diam a felis sodales interdum imperdiet non turpis.

                    </p><p>Quisque lobortis convallis ante. Mauris vitae elit in lectus egestas pharetra. Proin mollis leo nec erat elementum efficitur. Nam ac mauris at augue lobortis rutrum sed sit amet leo. Praesent euismod lacus sit amet nulla laoreet, a condimentum dui sagittis. Sed vel commodo nisl, eu rutrum mauris. Praesent sit amet nibh ornare, auctor est in, dictum libero.

                    </p><p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Ut aliquet nulla eu volutpat sodales. Duis vitae odio nisl. Vivamus eleifend consequat velit et efficitur. Vestibulum viverra mi lectus, eget maximus justo placerat sit amet. Aenean tempor mauris a porttitor convallis. Integer molestie turpis non nunc pellentesque, ut sollicitudin urna porta. Donec nec ipsum non purus scelerisque luctus non ac purus. Sed porttitor velit eu elit faucibus faucibus. Mauris sed leo et sapien tincidunt blandit.

                    </p><p>Duis vel ex ut ligula imperdiet mollis ut et nisl. Proin eget nulla eget odio tincidunt efficitur at et erat. Nulla rhoncus sapien nunc, id congue enim faucibus in. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam purus elit, accumsan at posuere a, luctus eu elit. Vivamus tellus augue, bibendum suscipit pharetra a, aliquam et massa. Vivamus venenatis orci ut est aliquam, id luctus neque tincidunt.
                    </p>

                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vitae viverra lacus. Sed nisi enim, elementum id lorem at, porttitor fringilla elit. Maecenas ex enim, ornare in aliquam non, molestie et magna. Pellentesque vitae nisi orci. Vivamus tempus sapien lorem, vestibulum euismod tortor venenatis consequat. Donec eget turpis tellus. Curabitur sed mi ut massa dapibus pretium sed nec urna. Morbi maximus diam id ex aliquam, at venenatis justo sodales. Ut rutrum elit eu vehicula tincidunt. Donec neque lorem, suscipit quis luctus a, imperdiet eu libero. Vivamus vulputate gravida mauris. Phasellus sed diam a felis sodales interdum imperdiet non turpis.

                    </p><p>Quisque lobortis convallis ante. Mauris vitae elit in lectus egestas pharetra. Proin mollis leo nec erat elementum efficitur. Nam ac mauris at augue lobortis rutrum sed sit amet leo. Praesent euismod lacus sit amet nulla laoreet, a condimentum dui sagittis. Sed vel commodo nisl, eu rutrum mauris. Praesent sit amet nibh ornare, auctor est in, dictum libero.

                    </p><p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Ut aliquet nulla eu volutpat sodales. Duis vitae odio nisl. Vivamus eleifend consequat velit et efficitur. Vestibulum viverra mi lectus, eget maximus justo placerat sit amet. Aenean tempor mauris a porttitor convallis. Integer molestie turpis non nunc pellentesque, ut sollicitudin urna porta. Donec nec ipsum non purus scelerisque luctus non ac purus. Sed porttitor velit eu elit faucibus faucibus. Mauris sed leo et sapien tincidunt blandit.

                    </p><p>Duis vel ex ut ligula imperdiet mollis ut et nisl. Proin eget nulla eget odio tincidunt efficitur at et erat. Nulla rhoncus sapien nunc, id congue enim faucibus in. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam purus elit, accumsan at posuere a, luctus eu elit. Vivamus tellus augue, bibendum suscipit pharetra a, aliquam et massa. Vivamus venenatis orci ut est aliquam, id luctus neque tincidunt.
                    </p>

                </div>
                <div class="modal-footer">
                    <div class="col-md-4">
                        <button type="button" class="btn btn-primary" id="acceptTerms" data-dismiss="modal"><i class="fa fa-thumbs-o-up"></i> Accept</button>
                    </div>
                    <div class="col-md-4 pull-right">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}