{% if is_granted("ROLE_USER") %}

    <aside class="col-sm-2 sidebar">
        <div class="sidebar-inner">

            <div class="profile-info">
                <a href="{{ path('musician_profile', {'username': app.user.username}) }}">
                    <img class="user-image" src="{{ app.user.avatar | imagine_filter('my_medium_1') }}" alt="Profile Photo" />
                </a>
                <h3 class="user-name">{{ app.user.username }}</h3>
                <a href="{{ path('fos_user_profile_edit') }}" class="link">{{ 'text.edit.profile'|trans }}</a>
            </div><!--profile-info begins-->

            <div class="sidebar-nav">
                <ul class="sidebar-list">
                    <li class="dashboard {% if app.request.attributes.get('_route') == 'home' %}active{% endif %}"><a href="{{ path('home') }}">{{ 'text.musicians'|trans }}</a></li>
                    <li class="teachers {% if app.request.attributes.get('_route') == 'teachers' %}active{% endif %}"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve"><g><path fill="none" d="M89.623,6.621H37.988c-1.27,0-2.304,1.033-2.304,2.304v26.927l1.351-1.472   c0.617-0.718,1.487-1.087,2.363-1.087c0.386,0,0.77,0.078,1.136,0.222l-0.792,0.894c-0.423,0.477-0.379,1.205,0.098,1.627h0   c-0.477-0.422-0.521-1.149-0.097-1.626l0.792-0.894l13.093-14.768c0.425-0.474,1.149-0.519,1.627-0.097   c0.476,0.422,0.521,1.151,0.097,1.627L42.21,35.1l-0.257,0.291l0.258-0.291c0.493,1.067,0.363,2.367-0.452,3.319l-4.473,5.179   c0.223,0.072,0.456,0.122,0.702,0.122h51.635c1.271,0,2.305-1.033,2.305-2.304V8.925C91.928,7.654,90.895,6.621,89.623,6.621z    M83.009,16.004v0.706v14.018c0,1.736-1.791,3.142-4,3.142c-2.208,0-3.999-1.406-3.999-3.142s1.791-3.143,3.999-3.143   c0.614,0,1.195,0.113,1.714,0.307V18.07l-12.759,2.423v13.093c0,1.735-1.791,3.142-3.999,3.142c-2.209,0-4-1.408-4.001-3.143   c0-1.736,1.791-3.142,4-3.142c0.614,0,1.193,0.112,1.714,0.307V19.568v-0.707v-1.249c0-0.632,0.512-1.143,1.143-1.143l15.046-2.857   c0.631,0,1.143,0.511,1.143,1.142V16.004z"></path><path fill="none" d="M40.196,36.252c-0.025-0.009-0.045-0.031-0.07-0.042C40.151,36.222,40.171,36.243,40.196,36.252z"></path><path d="M89.623,3.548H37.988c-2.965,0-5.376,2.412-5.376,5.377v30.274L32.611,39.2l-4.4,4.794v-0.001   c0-0.831-0.075-1.308-0.243-1.554c-0.462-0.678-1.629,0.382-3.876,0.563c-0.204,0.017-0.417,0.025-0.641,0.025h-0.322   c-1.175,0-2.087-0.255-2.791-0.48c-0.95-0.305-1.506-0.54-1.773-0.014c-0.133,0.265-0.198,0.713-0.198,1.459l-1.925,1.56   L5.746,58.248c-1.116,1.305-0.961,3.266,0.342,4.38c0.586,0.499,1.304,0.743,2.018,0.743c0.876,0,1.747-0.368,2.363-1.087   l5.15-6.202l-0.872,12.465h2.223v0.221l-2.268,24.289c-0.159,1.709,1.097,3.223,2.805,3.383c0.098,0.008,0.195,0.014,0.291,0.014   c1.586,0,2.939-1.208,3.089-2.816l2.197-23.514h0.411l2.195,23.514c0.152,1.608,1.506,2.816,3.089,2.816   c0.097,0,0.195-0.006,0.294-0.014c1.707-0.16,2.961-1.674,2.804-3.383l-2.27-24.289v-0.221h2.223l-0.923-12.541l-0.351-4.771   l0.087,0.053l4.561-5.28l0,0c0.813,0.495,1.763,0.786,2.783,0.786h51.635c2.965,0,5.377-2.412,5.377-5.377V8.925   C95,5.96,92.588,3.548,89.623,3.548z M91.928,41.415c0,1.271-1.033,2.304-2.305,2.304H37.988c-0.246,0-0.479-0.049-0.702-0.122   l4.473-5.179c0.815-0.952,0.945-2.252,0.452-3.319l-0.258,0.291L42.21,35.1l13.142-14.822c0.424-0.476,0.379-1.205-0.097-1.627   c-0.478-0.422-1.202-0.377-1.627,0.097L40.535,33.516l-0.792,0.894c-0.423,0.477-0.379,1.204,0.097,1.626h0   c-0.477-0.422-0.521-1.15-0.098-1.627l0.792-0.894c-0.366-0.144-0.75-0.222-1.136-0.222c-0.876,0-1.746,0.369-2.363,1.087   l-1.351,1.472V8.925c0-1.271,1.034-2.304,2.304-2.304h51.635c1.271,0,2.305,1.033,2.305,2.304V41.415z M40.126,36.21   c0.024,0.011,0.045,0.033,0.07,0.042C40.171,36.243,40.151,36.222,40.126,36.21z"></path><path d="M23.289,40.954c0.015,0,0.027-0.002,0.042-0.002c0.014,0,0.027,0.002,0.041,0.002c3.764,0,6.817-3.051,6.817-6.815   c0-3.766-3.053-6.816-6.817-6.816c-0.013,0-0.027,0.001-0.041,0.002c-0.015-0.001-0.027-0.002-0.042-0.002   c-3.764,0-6.817,3.051-6.817,6.815C16.472,37.903,19.525,40.954,23.289,40.954z"></path><path d="M81.866,13.612L66.82,16.469c-0.631,0-1.143,0.511-1.143,1.143v1.249v0.707V30.75c-0.521-0.195-1.1-0.307-1.714-0.307   c-2.209,0-4,1.406-4,3.142c0.001,1.735,1.792,3.143,4.001,3.143c2.208,0,3.999-1.407,3.999-3.142V20.493l12.759-2.423v9.822   c-0.519-0.194-1.1-0.307-1.714-0.307c-2.208,0-3.999,1.407-3.999,3.143s1.791,3.142,3.999,3.142c2.209,0,4-1.406,4-3.142V16.71   v-0.706v-1.25C83.009,14.123,82.497,13.612,81.866,13.612z"></path></g></svg><a href="{{ path('teachers') }}">{{ 'text.teachers'|trans }}</a></li>
                    {% if is_mobile() %}
                        <li class="shouts {% if app.request.attributes.get('_route') == 'shouts' %}active{% endif %}"><a href="{{ path('shouts') }}">{{ 'text.shouts'|trans }}</a></li>
                    {% endif %}
                    <li class="profile {% if app.request.attributes.get('_route') == 'fos_user_profile_show' or ( app.request.attributes.get('_route') == 'musician_profile' and app.user.id == user.id ) %}active{% endif %}"><a href="{{ path('musician_profile', {'username': app.user.username}) }}">{{ 'text.profile'|trans }}</a></li>
                    <li class="messages {% if app.request.attributes.get('_route') == 'inbox' %}active{% endif %}"><a href="{{ path('inbox') }}" class="inbox"><span class="badge"></span>{{ 'text.messages'|trans }}</a></li>
                    <li class="settings last {% if app.request.attributes.get('_route') == 'fos_user_profile_edit' %}active{% endif %}"><a href="{{ path('fos_user_profile_edit') }}">{{ 'text.settings'|trans }}</a></li>
                </ul>
            </div><!--sidebar-nav ends-->

            <div class="sidebar-feedback">
                <p>We <i class="fa fa-heart-o"></i> feedback</p>
                <ul>
                    <li><a href="https://www.facebook.com/jamifind"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="https://twitter.com/Jamifind"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="mailto:info@jamifind.com?subject=Feedback on Jamifind"><i class="fa fa-envelope"></i></a></li>
                </ul>
            </div>

            <div class="sidebar-logout">
                <ul class="sidebar-list">
                    <li class="logout"><a href="{{ path('fos_user_security_logout') }}">{{ 'text.logout'|trans }}</a></li>
                </ul>
            </div>

        </div>
    </aside><!--sidebar ends-->

{% endif %}